.leftmenu {
    height: 100%;
    position: relative;
    font-family: CoreSansE-Light, arial;
    &__submenu {
        font-size: 14px;
        flex: 1 1 100%;
        padding-left: 29px;
        list-style-type: initial;
    }

    &__ul {
        margin: 0;
        padding-top: 40px;
        padding-left: 26px;
        list-style-type: none;
        color: #6d6d6d;
        list-style-type: initial;

        &--mobile {
            color: #6d6d6d;
            margin-left: 18px;
            padding-top: 22px;
        }
    }

    &__li {
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        cursor: pointer;

        .icon > svg * {
            fill: #6d6d6d;
        }

        &--mobile {
            margin-bottom: 10px;
            padding: 4px 10px;
            display: flex;
            flex-wrap: wrap;

            div:nth-child(2) {
                padding-left: 10px;
            }
            .icon > svg * {
                fill: #e1c697;
            }
            & .leftmenu__item-text {
                color: #6d6d6d;
                &--lighted {
                    color: #7bd500;
                }
            }
        }

        div:nth-child(2) {
            padding-left: 10px;
        }

        &:nth-child(2) {
            &:hover {
                color: #666;

                div:not(:last-child) {
                    color: #fff;
                }
            }
        }

        &:hover {
            & .leftmenu__text {
                color: #ffffff;
            }
            .icon > svg * {
                fill: #e1c697;
            }
        }
    }

    &__subtext {
        &:hover {
            color: #ffffff;
            & span {
                color: #ffffff;
            }
        }
    }

    &__item-text {
        color: #6d6d6d;
        &--lighted {
            color: #7bd500;
        }
    }

    &__container {
        width: 275px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        overflow: auto;

        &--mobile {
            box-shadow: none;
            & span:hover {
                color: #ffffff;
            }
        }

        &::-webkit-scrollbar {
            width: 12px;
        }

        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
        }

        &--toggleOff {
            width: 75px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .leftmenu__ul {
                padding-left: 0;
            }

            .leftmenu__li {
                justify-content: center;
                cursor: pointer;
            }
        }
    }

    &__indicator {
        width: 100%;
        height: 50px;
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__btn-wrapper {
        cursor: pointer;
        position: absolute;
        z-index: 2;
        right: -20px;
        top: 50%;
        background-color: #212121;
        width: 20px;
        height: 40px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    &__btn--toggleOn {
        position: relative;
        left: -8px;
        bottom: 1px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-top: 6px solid;
        border-right: 6px solid;
        margin: 15px;
        display: inline-block;
        vertical-align: middle;
        color: #666;
        transform: rotate(-135deg);
    }

    &__btn--toggleOff {
        position: relative;
        left: -14px;
        bottom: 1px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-top: 6px solid;
        border-right: 6px solid;
        margin: 15px;
        display: inline-block;
        vertical-align: middle;
        color: #666;
        /* box-sizing: border-box; */
        transform: rotate(45deg);
    }

    &__plug-wiki {
        font-size: 12px;
        flex: 1 1 100%;
        padding-left: 34px;
    }
    &__footer-wrap {
        position: relative;
    }

    @media (max-width: 576px) {
        display: none;
    }
}
