.business {
    background-color: #090a0a;
    background-image: url("https://crowdwiz.biz/ipfs/QmWssHbtxwkGs7spDmc4ekyBhariwSAoTEFbgYh49XKpiS/1170/business-bg.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% -14px;
    text-align: center;
    &__wrap {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__btn {
        margin: auto;
        margin-top: -35px;
        margin-bottom: 235px;
    }
    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 900px;
        z-index: 11;
    }
    &__logo {
        margin-bottom: 45px;
    }
    &__title {
        font-family: "Made-Medium";
        font-size: 64px;
        letter-spacing: 3px;
        text-align: center;
        margin-bottom: 36px;
        line-height: 64px;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: #ffffff;
    }
    &__subtitle {
        display: block;
        width: 700px;
        margin-bottom: 400px;
        font-family: "Circe-Regular";
        font-size: 18px;
        line-height: 33px;
        color: #dec27f;
        letter-spacing: 3px;
        text-transform: uppercase;
    }
    &__arrow-wrap {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -248px;
        z-index: 5;
    }
    &__arrow-img {
        width: 496px;
        height: 1025px;
    }
    &__details {
        position: absolute;
        top: 783px;
        left: 50%;
        width: 120px;
        margin-left: -60px;
        font-family: "Circe-Regular";
        font-size: 14px;
        color: #262626;
        letter-spacing: 3px;
        text-transform: uppercase;
        z-index: 12;
    }
}
.business-instructions {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    align-self: flex-start;
    margin-bottom: 100px;
    text-align: left;
    &__title {
        width: 420px;
        padding-right: 90px;
        font-family: "Made-2";
        font-size: 30px;
        line-height: 46px;
        color: #ffffff;
        letter-spacing: 2px;
    }
    &__intro {
        width: 615px;
        padding-left: 92px;
        font-family: "Circe-Light";
        font-size: 20px;
        line-height: 30px;
        color: #dec27f;
    }
    &__list {
        list-style: none;
        margin: 0 !important;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        text-align: left;
    }
    &__item {
        display: flex;
        align-items: flex-end;
        width: 338px;
        margin-right: 50px;
        margin-bottom: 73px;
        &:nth-child(3n) {
            margin-right: 0;
        }
    }
    &__num {
        display: inline-block;
        height: 62px;
        min-width: 89px;
        margin-right: 22px;
        background-repeat: no-repeat;
        // background-size: 76px;
        background-position: 0 0;
        &--01 {
            background-image: url(../../../assets/asset-symbols/index/icons/01big.svg);
        }
        &--02 {
            background-image: url(../../../assets/asset-symbols/index/icons/02big.svg);
        }
        &--03 {
            background-image: url(../../../assets/asset-symbols/index/icons/03big.svg);
        }
        &--04 {
            background-image: url(../../../assets/asset-symbols/index/icons/04big.svg);
        }
        &--05 {
            background-image: url(../../../assets/asset-symbols/index/icons/05big.svg);
        }
        &--06 {
            background-image: url(../../../assets/asset-symbols/index/icons/06big.svg);
        }
    }
    &__text {
        font-family: "Circe-Regular";
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
    }
}
@media screen and (max-width: 1080px) {
    .business {
        background-image: url("https://crowdwiz.biz/ipfs/QmWssHbtxwkGs7spDmc4ekyBhariwSAoTEFbgYh49XKpiS/768/business-bg.jpg");
        &__btn {
            margin-bottom: 280px;
        }
        &__inner {
            width: 100%;
        }
        &__title {
            font-size: 44px;
        }
        &__subtitle {
            width: 560px;
        }
        &__arrow-wrap {
            top: 68px;
        }
    }
    .business-instructions {
        &__title {
            width: 320px;
            padding-right: 30px;
            font-size: 26px;
        }
        &__intro {
            width: 300px;
            padding-left: 20px;
        }
        &__item {
            width: 320px;
            margin-right: 40px;
            margin-right: 0;
            &:nth-child(3n) {
                margin-right: 0;
            }
        }
    }
}
@media screen and (max-width: 576px) {
    .business {
        background-image: url("https://crowdwiz.biz/ipfs/QmWssHbtxwkGs7spDmc4ekyBhariwSAoTEFbgYh49XKpiS/375/business-bg.jpg");
        &__btn {
            margin-bottom: 136px;
        }
        &__logo {
            margin-bottom: 34px;
        }
        &__title {
            font-size: 36px;
            line-height: 55px;
        }
        &__subtitle {
            width: 96%;
            margin-bottom: 300px;
            font-size: 16px;
            line-height: 32px;
        }
        &__arrow-wrap {
            width: 370px;
            margin-left: -185px;
        }
        &__arrow-img {
            width: 374px;
            height: auto;
        }
        &__details {
            top: 644px;
            font-size: 10px;
        }
    }
    .business-instructions {
        flex-direction: column;
        margin-bottom: 30px;
        &__title {
            width: 100%;
            margin-bottom: 30px;
            padding-right: 0;
            font-size: 22px;
            line-height: 36px;
        }
        &__intro {
            width: 100%;
            padding-left: 0;
        }
        &__item {
            width: 100%;
            align-items: center;
            margin-bottom: 20px;
        }
        &__num {
            min-width: 62px;
            margin-right: 29px;
            &:last-child {
                margin-bottom: 0;
            }
            &--01 {
                background: url(../../../assets/asset-symbols/index/icons/01.svg);
            }
            &--02 {
                background-image: url(../../../assets/asset-symbols/index/icons/02.svg);
            }
            &--03 {
                background-image: url(../../../assets/asset-symbols/index/icons/03.svg);
            }
            &--04 {
                background-image: url(../../../assets/asset-symbols/index/icons/04.svg);
            }
            &--05 {
                background-image: url(../../../assets/asset-symbols/index/icons/05.svg);
            }
            &--06 {
                background-image: url(../../../assets/asset-symbols/index/icons/06.svg);
            }
        }
    }
}
