.community {
    padding-top: 200px;
    padding-bottom: 55px;
    background-color: #090a0a;
    background-image: url("https://crowdwiz.biz/ipfs/QmWssHbtxwkGs7spDmc4ekyBhariwSAoTEFbgYh49XKpiS/1170/community-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    &__list {
        list-style: none;
        margin: 0 !important;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;
    }
    &__item {
        width: 370px;
        margin-right: 30px;
        margin-bottom: 30px;
        padding: 15px;
        padding-bottom: 11px;
        background-color: #212121;
        border-radius: 10px;
        text-align: center;
        &:hover {
            transform: translateY(-3px);
        }
        &:nth-child(odd) {
            margin-right: 18px;
        }
    }
    &__inner {
        display: flex;
        align-items: center;
        padding: 28px 34px 28px;
        background-position: 0 0;
        background-image: url(../../../assets/asset-symbols/index/community/community-bg.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }
    &__icon {
        display: block;
        min-width: 80px;
        min-height: 75px;
        margin-right: 30px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 0 0;
        &--01 {
            background-image: url(../../../assets/asset-symbols/index/community/community-01.svg);
        }
        &--02 {
            background-image: url(../../../assets/asset-symbols/index/community/community-02.svg);
        }
        &--03 {
            background-image: url(../../../assets/asset-symbols/index/community/community-03.svg);
        }
        &--04 {
            background-image: url(../../../assets/asset-symbols/index/community/community-04.svg);
        }
        &--05 {
            background-image: url(../../../assets/asset-symbols/index/community/community-05.svg);
        }
        &--06 {
            background-image: url(../../../assets/asset-symbols/index/community/community-06.svg);
        }
        // &--07 {
        //     background-image: url(../../../assets/asset-symbols/index/community/community-06.svg);
        // }
    }
    &__text {
        font-family: "Circe-Regular";
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
    }
}
@media screen and (max-width: 1080px) {
    .community {
        padding-bottom: 0;
        background-image: url("https://crowdwiz.biz/ipfs/QmWssHbtxwkGs7spDmc4ekyBhariwSAoTEFbgYh49XKpiS/768/community-bg.jpg");
        &__item {
            width: 315px;
            margin-right: 0;
            margin-bottom: 18px;
        }
    }
}
@media screen and (max-width: 576px) {
    .community {
        padding-top: 90px;
        background-image: url("https://crowdwiz.biz/ipfs/QmWssHbtxwkGs7spDmc4ekyBhariwSAoTEFbgYh49XKpiS/375/community-bg.jpg");
        &__item {
            width: 100%;
        }
        &__inner {
            padding: 20px 16px 20px;
        }
        &__text {
            text-align: left;
        }
    }
}

@media (max-width: 750px) {
    .community {
        &__item {
            &:nth-child(odd) {
                margin-right: 0;
            }
        }
    }
}
