.cwd-blockchain {
    position: relative;
    padding-top: 140px;
    background-image: url("https://crowdwiz.biz/ipfs/QmWssHbtxwkGs7spDmc4ekyBhariwSAoTEFbgYh49XKpiS/1170/cwd-blockchain-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    &__title {
        margin-bottom: 0;
    }
    &__speedometer {
        position: absolute;
        top: 295px;
        left: 50%;
        margin-left: -370px;
        width: 740px;
        height: 600px;
        z-index: 4;
        background-image: url("/asset-symbols/index/other/speedometer.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 100% 50%;
    }
    &__list {
        position: relative;
        width: 740px;
        height: 600px;
        list-style: none;
        margin: 0 auto;
    }
    &__item {
        position: absolute;
        width: 260px;
        padding: 10px;
        font-family: "Circe-Regular";
        font-size: 14px;
        line-height: 24px;
        color: #fff;
        background-color: #090a0a;
        box-shadow: 0 0 15px 4px #090a0a;
        box-sizing: border-box;
        z-index: 5;
        &--01 {
            top: -20px;
            left: 50%;
            margin-left: -130px;
            text-align: center;
        }
        &--02 {
            top: 109px;
            left: -129px;
            text-align: right;
        }
        &--03 {
            top: 109px;
            right: -129px;
            text-align: left;
        }
        &--04 {
            top: 250px;
            left: -162px;
            width: 233px;
            text-align: right;
        }
        &--05 {
            top: 250px;
            right: -162px;
            width: 233px;
            text-align: left;
        }
        &--06 {
            bottom: 58px;
            left: -162px;
            text-align: right;
        }
        &--07 {
            bottom: 58px;
            right: -162px;
            text-align: left;
        }
    }
    &__line {
        display: none;
    }
}
@media screen and (max-width: 1080px) {
    .cwd-blockchain {
        background-image: url("https://crowdwiz.biz/ipfs/QmWssHbtxwkGs7spDmc4ekyBhariwSAoTEFbgYh49XKpiS/768/cwd-blockchain-bg.jpg");
        padding-bottom: 185px;
        &__speedometer {
            position: absolute;
            top: 66px;
            left: 50%;
            margin-left: -323px;
            width: 646px;
            height: 460px;
            z-index: 4;
        }
        &__title {
            box-shadow: 0 0 15px 4px #090a0a;
            margin-bottom: 160px;
        }
        &__list {
            width: 556px;
            height: 400px;
        }
        &__item {
            width: 230px;
            &--01 {
                top: 360px;
                left: 50%;
                margin-left: -115px;
            }
            &--02 {
                top: 304px;
                left: 34px;
                text-align: left;
            }
            &--03 {
                top: 304px;
                right: 34px;
                text-align: right;
            }
            &--04 {
                top: 185px;
                left: -22px;
                text-align: left;
            }
            &--05 {
                top: 185px;
                right: -22px;
                text-align: right;
                width: 260px;
            }
            &--06 {
                bottom: 247px;
                left: -44px;
                text-align: left;
            }
            &--07 {
                bottom: 286px;
                right: -44px;
                text-align: right;
            }
        }
    }
}
@media screen and (max-width: 576px) {
    .cwd-blockchain {
        padding-top: 90px;
        padding-bottom: 100px;
        background-image: url("https://crowdwiz.biz/ipfs/QmWssHbtxwkGs7spDmc4ekyBhariwSAoTEFbgYh49XKpiS/375/cwd-blockchain-bg.jpg");
        &__title {
            margin-bottom: 275px;
        }
        &__speedometer {
            position: absolute;
            top: 176px;
            left: 50%;
            margin-left: -198px;
            width: 396px;
            height: 338px;
            z-index: 4;
        }
        &__list {
            position: relative;
            width: 100%;
            height: auto;
            margin-bottom: 0 !important;
            z-index: 6;
        }
        &__item {
            position: static;
            width: 90%;
            margin: auto;
            margin-bottom: 60px;
            padding: 0;
            text-align: center;
            box-shadow: 0 0 15px 14px #090a0a;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &__line {
            display: block;
            position: absolute;
            bottom: 250px;
            left: 50%;
            margin-left: -1px;
            width: 2px;
            height: 460px;
            background-color: #ddc281;
            z-index: 2;
        }
    }
}
