.events {
    padding-bottom: 50px;
    background-color: #090a0a;
    background-image: url("https://crowdwiz.biz/ipfs/QmWssHbtxwkGs7spDmc4ekyBhariwSAoTEFbgYh49XKpiS/1170/events-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    &__wrap {
        display: flex;
        // align-items: center;
        flex-direction: column;
    }
    &__btn {
        display: block;
        margin: auto;
        margin-top: -35px;
        margin-bottom: 135px;
    }
    &__album {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
    }
    &__left-column {
        width: 370px;
        margin-right: 30px;
    }
    &__img-wrap {
        position: relative;
        overflow: hidden;
        text-align: center;
        & img {
            width: 646px;
            height: auto;
        }
    }
    &__right-column {
        width: 770px;
    }
    &__row {
        display: flex;
        justify-content: center;
        &--top {
            margin-bottom: 30px;
        }
    }
    &__row-img {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 464px;
        height: 262px;
        overflow: hidden;
        &--square {
            width: 270px;
        }
        &:first-child {
            margin-right: 24px;
        }
    }
    &__city-name {
        position: absolute;
        left: 45px;
        bottom: 37px;
        padding-left: 3px;
        padding-right: 3px;
        font-family: "Circe-Regular";
        font-size: 24px;
        line-height: 1.2;
        color: #ffffff;
        background-color: rgba(9, 10, 10, 0.4);
        z-index: 10;
    }
}

@media screen and (max-width: 1080px) {
    .events {
        background-image: url("https://crowdwiz.biz/ipfs/QmWssHbtxwkGs7spDmc4ekyBhariwSAoTEFbgYh49XKpiS/768/events-bg.jpg");
        &__album {
            flex-direction: column-reverse;
        }
        &__left-column {
            width: 100%;
            margin-right: 0;
        }
        &__right-column {
            width: 100%;
            margin-bottom: 24px;
        }
        &__row {
            &--top {
                margin-bottom: 24px;
            }
        }
        &__row-img {
            width: 400px;
            height: 224px;
            &--square {
                width: 224px;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .events {
        padding-bottom: 0;
        background-image: url("https://crowdwiz.biz/ipfs/QmWssHbtxwkGs7spDmc4ekyBhariwSAoTEFbgYh49XKpiS/375/events-bg.jpg");
        &__btn {
            margin-bottom: 90px;
        }
        &__left-column {
            width: 100%;
            margin-right: 0;
        }
        &__right-column {
            width: 100%;
            margin-bottom: 24px;
        }
        &__row {
            flex-direction: column;
            &--top {
                margin-bottom: 0;
            }
        }
        &__row-img {
            width: 100%;
            height: 224px;
            &--square {
                width: 100%;
                margin-bottom: 24px;
            }
        }
    }
}
