.features {
    padding-top: 160px;
    padding-bottom: 70px;
    background-color: #090a0a;
    background-image: url("https://crowdwiz.biz/ipfs/QmWssHbtxwkGs7spDmc4ekyBhariwSAoTEFbgYh49XKpiS/1170/features-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 50%;
    &__list {
        list-style: none;
        margin: 0 !important;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;
    }
    &__item {
        width: 270px;
        margin-right: 30px;
        margin-bottom: 30px;
        padding-top: 34px;
        padding-left: 36px;
        padding-right: 36px;
        padding-bottom: 40px;
        background-color: #212121;
        border-radius: 10px;
        text-align: center;
        &:nth-child(4n) {
            margin-right: 0;
        }
        &:hover {
            transform: translateY(-3px);
        }
        &:nth-child(odd) {
            margin-right: 30px;
        }
        &--title {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            text-align: left;
            padding-left: 0;
            background-color: transparent;
            margin-bottom: 0;
            &:hover {
                transform: translateY(0);
            }
        }
    }
    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
        background-position: 0 0;
        background-image: url(../../../assets/asset-symbols/index/features/features-bg.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }
    &__icon {
        display: block;
        min-width: 82px;
        min-height: 76px;
        margin: auto;
        margin-bottom: 26px;
        padding-top: 30px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 0 0;
        &--01 {
            background-image: url(../../../assets/asset-symbols/index/features/features-01.svg);
        }
        &--02 {
            background-image: url(../../../assets/asset-symbols/index/features/features-02.svg);
        }
        &--03 {
            background-image: url(../../../assets/asset-symbols/index/features/features-03.svg);
        }
        &--04 {
            background-image: url(../../../assets/asset-symbols/index/features/features-04.svg);
        }
        &--05 {
            background-image: url(../../../assets/asset-symbols/index/features/features-05.svg);
        }
        &--06 {
            background-image: url(../../../assets/asset-symbols/index/features/features-06.svg);
        }
        &--07 {
            background-image: url(../../../assets/asset-symbols/index/features/features-07.svg);
        }
    }
    &__text {
        font-family: "Circe-Regular";
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
    }
    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: 10px;
    }
    &__footer-text {
        font-family: "Made-Medium";
        font-size: 46px;
        line-height: 1;
        color: #212121;
        text-transform: uppercase;
    }
}

@media screen and (max-width: 1080px) {
    .features {
        background-image: url("https://crowdwiz.biz/ipfs/QmWssHbtxwkGs7spDmc4ekyBhariwSAoTEFbgYh49XKpiS/768/features-bg.jpg");
        &__item {
            width: 308px;
            margin-right: 0;
        }
        &__footer-text {
            font-size: 25px;
        }
    }
}

@media (max-width: 765px) {
    .features {
        &__list {
            justify-content: space-between;
        }
        &__item {
            &:nth-child(odd) {
                margin-right: 0;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .features {
        padding-top: 100px;
        background-image: url("https://crowdwiz.biz/ipfs/QmWssHbtxwkGs7spDmc4ekyBhariwSAoTEFbgYh49XKpiS/375/features-bg.jpg");
        &__item {
            width: 100%;
            margin-right: 0;
            padding: 14px;
            &--title {
                padding: 0;
            }
        }
        &__list {
            margin-bottom: 34px !important;
        }
        &__item {
            &:last-child {
                margin-bottom: 0;
            }
        }
        &__inner {
            flex-direction: row;
            justify-content: space-between;
            min-height: 110px;
            padding-top: 0;
            padding-left: 17px;
            background-image: url("/asset-symbols/index/community/community-bg.svg");
        }
        &__icon {
            padding-top: 0;
            margin-bottom: 0;
            margin-top: 0;
            margin-right: 30px;
        }
        &__text {
            display: block;
            width: 100%;
            text-align: left;
        }
        &__footer {
            flex-direction: column;
            align-items: center;
        }
        &__footer-text {
            margin-bottom: 8px;
            font-size: 36px;
            text-align: center;
        }
    }
}
