//main wrapper
.indexMain {
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}
//center width wrapper
.index-center-wrap {
    width: 1170px;
    margin: 0 auto;
}
//index block title
.block-title {
    display: block;
    margin-bottom: 66px;
    font-family: "Made-Medium";
    font-size: 38px;
    line-height: 60px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 3px;
    max-width: 258px;
}
//index btn
#indexContent {
    background: #090a0a;
    .index-btn {
        padding: 23px 33px 22px;
        background-color: #ddc281;
        border-radius: 50px;
        border-bottom: 5px solid #ba9a4e;
        text-align: center;
        letter-spacing: 3px;
        text-transform: uppercase;
        background: linear-gradient(248.45deg, #ddc281 26.52%, #e7c162 97.04%);
        box-shadow: 2px 5px 30px rgba(143, 118, 56, 0.37),
            inset 0px -3px 0px #ba9a4e;
        cursor: pointer;
        z-index: 11;
        &:hover {
            background: linear-gradient(
                248.45deg,
                lighten(#ddc281, 3%) 26.52%,
                lighten(#e7c162, 3%) 97.04%
            );
            box-shadow: 2px 5px 30px rgba(143, 118, 56, 0.37),
                inset 0px -3px 0px darken(#ba9a4e, 5%);
        }
        &__text {
            font-family: "Circe-Bold", arial, sans-serif;
            font-size: 16px;
            color: #222222;
        }
    }
    .ios-controls {
        & .carousel.carousel-slider .control-arrow {
            display: none;
        }
        & .carousel.carousel-slider .control-prev.control-arrow {
            display: none;
        }
    }
}

@media screen and (max-width: 1080px) {
    .indexMain {
        max-width: 100%;
    }
    .index-center-wrap {
        width: 100%;
        padding-left: 60px;
        padding-right: 60px;
    }
    .block-title {
        margin-bottom: 40px;
        font-size: 30px;
        line-height: 50px;
        max-width: 248px;
    }
}

@media screen and (max-width: 576px) {
    .indexMain {
        max-width: 375px;
    }
    .index-center-wrap {
        padding-left: 25px;
        padding-right: 25px;
    }
    .block-title {
        margin-bottom: 33px;
        font-size: 24px;
        line-height: 44px;
        max-width: 170px;
    }
    #indexContent {
        background: #090a0a;
        .index-btn {
            padding: 23px 24px 22px;
            &__text {
                font-size: 14px;
            }
        }
    }
}
