@keyframes clouds {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

.index-header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    background-image: url("https://crowdwiz.biz/ipfs/QmWssHbtxwkGs7spDmc4ekyBhariwSAoTEFbgYh49XKpiS/1170/index-header-bg.jpg");
    // background-image: url(/asset-symbols/index/header/land-bg-christmas.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    overflow: hidden;
    &__animation {
        position: absolute;
        width: 100%;
        height: 480px;
        top: 30px;
        left: 0;
        background-image: url("/asset-symbols/index/other/clouds.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 0;
        animation: clouds 250s infinite;
    }
    &__inner {
        z-index: 10;
    }
    &__auth {
        display: flex;
        justify-content: space-between;
        margin-bottom: -15px;
        font-family: "Circe-Bold";
    }
    &__reg-wrap {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    &__reg {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff !important;
        letter-spacing: 3px;
        font-size: 14px;
        cursor: pointer;
        z-index: 100;
        &:hover {
            text-decoration: underline !important;
        }
        span {
            font-family: "Circe-Bold", arial, sans-serif;
            color: #fff;
            letter-spacing: 10%;
            text-transform: uppercase !important;
        }
    }
    &__login {
        width: 128px;
        margin-left: 40px;
        padding: 15px 28px 12px 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(248.45deg, #ddc281 26.52%, #e7c162 97.04%);
        box-shadow: 2px 5px 30px rgba(143, 118, 56, 0.37),
            inset 0px -3px 0px #ba9a4e;
        border-radius: 50px;
        cursor: pointer;
        color: #222222;
        z-index: 100;
        &:hover {
            background: linear-gradient(
                248.45deg,
                lighten(#ddc281, 3%) 26.52%,
                lighten(#e7c162, 3%) 97.04%
            );
            box-shadow: 2px 5px 30px rgba(143, 118, 56, 0.37),
                inset 0px -3px 0px darken(#ba9a4e, 5%);
        }
    }
    &__login-img {
        display: inline-block;
        margin-right: 7px;
        width: 12px;
        height: 16px;
        background-image: url("../../../assets/img/person.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 0 0;
    }
    &__login-text {
        font-family: "Circe-Bold", arial, sans-serif;
        font-size: 14px;
        display: block;
        color: #222222;
        text-transform: uppercase;
    }
    &__locale {
        position: relative;
        z-index: 100;
    }
    &__logo {
        display: block;
        width: 250px !important;
        height: 160px !important;
        margin: 0 auto;
        margin-bottom: 83px;
        & svg {
            width: inherit !important;
            height: inherit !important;
            & * {
                fill: #dec27f !important;
            }
        }
    }
    &__title {
        width: 1000px;
        margin: auto;
        margin-bottom: 42px;
        font-size: 64px;
        line-height: 82px;
        font-family: "Made-Medium";
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-align: center;
    }
    &__subtitle {
        display: block;
        margin-bottom: 230px;
        font-family: "Circe-Bold";
        font-size: 18px;
        color: #dec27f;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 3px;
    }
}

@media screen and (max-width: 1080px) {
    .index-header {
        padding-top: 67px;
        background-image: url("https://crowdwiz.biz/ipfs/QmWssHbtxwkGs7spDmc4ekyBhariwSAoTEFbgYh49XKpiS/768/index-header-bg.jpg");
        // background-image: url(/asset-symbols/index/header/land-bg-christmas-tablet.png);
        background-position-x: center;
        background-position: 50%;
        &__auth {
            margin-bottom: 90px;
        }
        &__logo {
            margin-bottom: 90px;
        }
        &__title {
            width: 100%;
            font-size: 44px;
            line-height: 62px;
        }
        &__subtitle {
            margin-bottom: 393px;
        }
    }
}

@media screen and (max-width: 576px) {
    .index-header {
        padding-top: 36px;
        background-image: url("https://crowdwiz.biz/ipfs/QmWssHbtxwkGs7spDmc4ekyBhariwSAoTEFbgYh49XKpiS/375/index-header-bg.jpg");
        // background-image: url(/asset-symbols/index/header/land-bg-christmas-mob.png);
        background-position: 50%;
        &__auth {
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 72px;
        }
        &__reg-wrap {
            justify-content: space-between;
        }
        &__reg {
            width: 100%;
            margin-top: 32px;
        }
        &__selector {
            font-size: 12px !important;
        }
        &__logo {
            width: 196px !important;
            height: 125px !important;
            margin-bottom: 55px;
        }
        &__title {
            width: 280px;
            font-size: 32px;
            line-height: 50px;
            margin-bottom: 50px;
        }
        &__subtitle {
            font-size: 16px;
            margin-bottom: 125px;
        }
    }
}

@media screen and (max-width: 320px) {
    .index-header {
        // &__reg-wrap {
        // 	flex-direction: column-reverse;
        // }
        &__login {
            margin-left: 0;
            margin-bottom: 20px;
        }
    }
}
