.index-footer {
    padding-top: 278px;
    padding-bottom: 294px;
    background-color: #090a0a;
    background-image: url("https://crowdwiz.biz/ipfs/QmWssHbtxwkGs7spDmc4ekyBhariwSAoTEFbgYh49XKpiS/1170/footer-bg.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 100%;
    text-align: center;
    &__social-block {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        width: 380px;
        list-style: none;
        margin: 0 auto;
        padding: 0;
    }
    &__social-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: transparent;
        border: 1px solid #dec27f;
        &:hover {
            transform: translateY(-2px);
            text-decoration: none;
        }
    }
    &__icon {
        display: inline-block;
        background-repeat: no-repeat;
        // background-size: contain;
        background-position: center;
        width: 59px;
        height: 59px;

        &--vk {
            background-image: url(../../../assets/asset-symbols/index/icons/social-vk.svg);
        }

        &--insta {
            background-image: url(../../../assets/asset-symbols/index/icons/social-insta.svg);
        }

        &--tel {
            background-image: url(../../../assets/asset-symbols/index/icons/social-tel.svg);
        }

        &--wp {
            background-image: url(../../../assets/asset-symbols/index/icons/social-wp.svg);
        }
    }
}
@media screen and (max-width: 576px) {
    .index-footer {
        padding-top: 180px;
        padding-bottom: 187px;
        background-image: url("https://crowdwiz.biz/ipfs/QmWssHbtxwkGs7spDmc4ekyBhariwSAoTEFbgYh49XKpiS/768/footer-bg.jpg");
    }
}
@media screen and (max-width: 576px) {
    .index-footer {
        padding-top: 138px;
        padding-bottom: 142px;
        background-image: url("https://crowdwiz.biz/ipfs/QmWssHbtxwkGs7spDmc4ekyBhariwSAoTEFbgYh49XKpiS/375/footer-bg.jpg");
        background-size: 100%;
        &__social-block {
            width: 90%;
        }
    }
}
