.infinity {
    padding-top: 155px;
    padding-bottom: 55px;
    background-color: #090a0a;
    background-image: url("https://crowdwiz.biz/ipfs/QmWssHbtxwkGs7spDmc4ekyBhariwSAoTEFbgYh49XKpiS/1170/infinity-club-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    &__title {
        max-width: 300px;
    }
    &__gallery-block {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        position: relative;
    }
    &__left-column {
        position: relative;
        width: 570px;
        padding-top: 77px;
        padding-bottom: 97px;
        padding-left: 63px;
        padding-right: 63px;
        background-color: #212121;
        text-align: center;
        z-index: 5;
    }
    &__logo {
        display: block;
        width: 232px;
        height: 244px;
        margin: auto;
        margin-bottom: 53px;
    }
    &__text {
        font-family: "Circe-Regular";
        font-size: 14px;
        line-height: 24px;
        color: #ffffff;
    }
    &__btn-wrap {
        position: absolute;
        bottom: -35px;
        left: 50%;
        margin-left: -140px;
        width: 280px;
        z-index: 10;
        border-radius: 50px;
        border: 10px solid #090a0a;
    }
    &__btn {
        display: block;
        width: 100%;
    }
    &__right-column {
        width: 677px;
        position: absolute;
        right: -56px;
        padding-right: 40px;
        z-index: 5;
    }
    &__gallery-text {
        margin-bottom: 30px;
        font-family: "Circe-Regular";
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
        text-align: right;
    }
    & .carousel .thumb {
        border: 3px solid #212121;
        &:hover {
            border: 3px solid #dec27f !important;
        }
    }
    & .carousel .thumb.selected {
        border: 3px solid #dec27f !important;
    }
    & .carousel.carousel-slider {
        overflow: visible;
        position: relative;
    }
    & .carousel.carousel-slider .control-arrow {
        opacity: 1;
        position: absolute;
        right: -40px;
    }
    & .carousel.carousel-slider .control-prev.control-arrow {
        left: -40px;
        right: auto;
    }
    & .carousel.carousel-slider .control-arrow:before {
        width: 60px;
        height: 60px;
        border: none;
        transform: rotate(180deg);
        background-image: url(../../../assets/asset-symbols/index/icons/arrow.svg);
        background-repeat: no-repeat;
        // background-size: cover;
        z-index: 7;
        background-position: 50% 86%; //background-position: 0 0;
        border-radius: 50%;
        background-color: #090a0a;
    }
    & .carousel.carousel-slider .control-prev.control-arrow:before {
        transform: none;
    }
}
@media screen and (max-width: 1080px) {
    .infinity {
        background-image: url("https://crowdwiz.biz/ipfs/QmWssHbtxwkGs7spDmc4ekyBhariwSAoTEFbgYh49XKpiS/768/infinity-bg.jpg");
        &__gallery-block {
            flex-direction: column;
            padding-bottom: 0;
        }
        &__left-column {
            width: 100%;
            z-index: 6;
            margin-bottom: 11px;
        }
        &__right-column {
            position: static;
            width: 100%;
            padding-right: 0;
        }
        &__gallery-text {
            display: none;
        }
    }
}
@media screen and (max-width: 576px) {
    .infinity {
        padding-top: 90px;
        padding-bottom: 0;
        background-image: url("https://crowdwiz.biz/ipfs/QmWssHbtxwkGs7spDmc4ekyBhariwSAoTEFbgYh49XKpiS/375/infinity-bg.jpg");
        background-size: contain;
        &__left-column {
            margin-bottom: 34px;
            padding-top: 54px;
            padding-bottom: 75px;
            padding-left: 30px;
            padding-right: 30px;
        }
        &__logo {
            width: 138px;
            height: auto;
            margin-bottom: 35px;
        }
        & .carousel.carousel-slider .control-arrow:before {
            display: none;
        }
    }
}
