.lang-select {
    &__selector {
        position: relative;
        min-width: 144px;
        border-radius: 26px;
        border: 1px solid #ffffff;
        z-index: 1000;
    }
    &__marker {
        position: absolute;
        right: 13px;
        top: 19px;
        display: inline-block;
        width: 6px;
        height: 6px;
        background-image: url("../../../assets/img/lang_marker.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 0 0;
        z-index: 1001;
    }
    &__list {
        position: absolute;
        min-width: 144px;
        margin: 0 !important;
        list-style: none;
        border-radius: 26px;
        border: 1px solid #ffffff;
        z-index: 1000;
    }
    &__item {
        display: flex;
        align-items: center;
        padding: 15px 21px 12px 21px;
        border-bottom: 1px solid #fff;
        cursor: pointer;
        z-index: 100;
        &:last-child {
            border-bottom: none;
        }
        &--closed {
            border: none;
        }
    }
    &__img {
        display: inline-block;
        width: 20px;
        height: 14px;
        margin-right: 8px;
    }
    &__text {
        text-transform: uppercase;
        font-size: 14px;
        line-height: 1;
    }
}

@media screen and (max-width: 576px) {
    .lang-select {
        &__selector {
            display: inline-block;
            min-width: 122px;
        }
        &__list {
            position: relative;
            display: inline-block;
            min-width: 122px;
        }
        &__text {
            font-size: 12px;
        }
        &__marker {
            right: 10px;
        }
    }
}
