.mission {
    display: flex;
    flex-direction: column;
    &__title {
        margin-bottom: 0;
        margin-right: 37px;
    }
    &__subtitle {
        max-width: 567px;
        padding-bottom: 7px;
        color: #dec27f;
        line-height: 30px;
        font-family: "Circe-Light";
        font-size: 20px;
    }
    &__head {
        display: flex;
        align-items: flex-end;
        padding-left: 15px;
        margin-bottom: 57px;
    }
    &__body {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    &__description-wrapper {
        display: flex;
        flex-direction: row;
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 60px;
        align-items: flex-start;
        width: 25%;
        margin-bottom: 68px;
        margin-right: 30px;

        &:nth-of-type(2) {
            .mission__num {
                background: url(../../../assets/asset-symbols/index/icons/02big.svg)
                    no-repeat center;
            }
        }
        &:nth-of-type(3) {
            .mission__num {
                background: url(../../../assets/asset-symbols/index/icons/03big.svg)
                    no-repeat center;
            }
        }
        &:nth-of-type(4) {
            margin-right: 0;
            .mission__num {
                background: url(../../../assets/asset-symbols/index/icons/04big.svg)
                    no-repeat center;
            }
        }
    }
    &__num {
        margin-bottom: 35px;
        height: 62px;
        width: 89px;
        background: url(../../../assets/asset-symbols/index/icons/01big.svg)
            no-repeat center;
    }
    &__description {
        font-family: "Circe-Regular", arial, sans-serif;
        font-size: 13px;
        line-height: 22px;
        color: #fff;
    }
}

@media screen and (max-width: 1080px) {
    .mission {
        display: flex;
        flex-direction: column;
        &__subtitle {
            width: 440px;
            line-height: 29px;
            margin-bottom: 0;
        }
        &__head {
            margin-bottom: 100px;
        }
        &__body {
            flex-wrap: wrap;
        }
        &__description-wrapper {
            width: 45%;
            margin-right: 60px;
            margin-bottom: 60px;
            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .mission {
        display: flex;
        flex-direction: column;
        &__title {
            margin-bottom: 32px;
            margin-right: 0;
        }
        &__subtitle {
            width: 100%;
            padding-bottom: 0;
            font-size: 16px;
            line-height: 29px;
        }
        &__head {
            flex-direction: column;
            align-items: flex-start;
        }
        &__body {
            flex-wrap: wrap;
        }
        &__description-wrapper {
            width: 100%;
            margin-right: 0;
            margin-bottom: 40px;
            flex-direction: row;
            &:nth-of-type(2) {
                .mission__num {
                    background: url(../../../assets/asset-symbols/index/icons/02.svg)
                        no-repeat center;
                }
            }
            &:nth-of-type(3) {
                .mission__num {
                    background: url(../../../assets/asset-symbols/index/icons/03.svg)
                        no-repeat center;
                }
            }
            &:nth-of-type(4) {
                margin-right: 0;
                .mission__num {
                    background: url(../../../assets/asset-symbols/index/icons/04.svg)
                        no-repeat center;
                }
            }
        }
        &__num {
            margin-bottom: 35px;
            height: 62px;
            width: 62px;
            margin-bottom: 0;
            margin-right: 30px;
            background: url(../../../assets/asset-symbols/index/icons/01.svg)
                no-repeat center;
        }
        &__description {
            width: 240px;
        }
    }
}
