.products {
    padding-top: 155px;
    padding-bottom: 55px;
    background-color: #090a0a;
    background-image: url("https://crowdwiz.biz/ipfs/QmWssHbtxwkGs7spDmc4ekyBhariwSAoTEFbgYh49XKpiS/1170/products-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    &__title {
        max-width: 300px;
    }
    &__gallery-item {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        & svg {
            fill: #fff;
        }
    }

    .slick-initialized {
        .slick-slide {
            > div {
                background-color: #212121;

                &:hover {
                    background-color: #181818;
                }
            }
        }
    }
}
@media screen and (max-width: 576px) {
    .products {
        padding-top: 0;
        background-image: url("https://crowdwiz.biz/ipfs/QmWssHbtxwkGs7spDmc4ekyBhariwSAoTEFbgYh49XKpiS/375/products-bg.jpg");
        .carousel .slider-wrapper.axis-horizontal .slider .slide {
            height: 160px;
            margin-right: 0px;
            margin-left: 0px;
        }
    }
}

/* Safari 10.1+ */
@media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) {
        .products {
            & .carousel.carousel-slider .control-prev.control-arrow {
                left: 0;
                transform: translateX(-600px);
            }
        }
    }
}
