.smi-block {
    padding-top: 155px;
    padding-bottom: 55px;
    background-color: #090a0a;
    background-image: url("https://crowdwiz.biz/ipfs/QmWssHbtxwkGs7spDmc4ekyBhariwSAoTEFbgYh49XKpiS/1170/products-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;

    .carousel .slider-wrapper.axis-horizontal .slider {
        justify-content: center;
    }

    &__title {
        max-width: 300px;
    }
    &__gallery-item {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    // .carousel .slider-wrapper.axis-horizontal .slider .slide {
    //     margin-right: 15px;
    //     margin-left: 15px;
    //     // background: #ffffff;
    //     height: 200px;
    //     border-radius: 10px;

    //     & img {
    //         width: 80%;
    //         height: auto;
    //     }

    //     > div {
    //         background-color: #ffffff;
    //     }
    // }
    // & .carousel .thumb.selected {
    //     border: 3px solid #dec27f !important;
    // }
    // & .carousel.carousel-slider {
    //     overflow: visible;
    //     position: relative;
    // }
    // & .carousel.carousel-slider .control-arrow {
    //     opacity: 1;
    //     position: absolute;
    //     right: -40px;
    // }
    // & .carousel.carousel-slider .control-prev.control-arrow {
    //     left: -40px;
    // }
    // & .carousel.carousel-slider .control-arrow:before {
    //     width: 60px;
    //     height: 60px;
    //     border: none;
    //     transform: rotate(180deg);
    //     background-image: url(../../../assets/asset-symbols/index/icons/arrow.svg);
    //     background-repeat: no-repeat;
    //     // background-size: cover;
    //     background-position: 50% 86%; //background-position: 0 0;
    //     z-index: 7;
    //     border-radius: 50%;
    //     background-color: #090a0a;
    // }
    // & .carousel.carousel-slider .control-prev.control-arrow:before {
    //     transform: none;
    // }

    .slick-initialized {
        .slick-slide {
            > div {
                background: #fff;
            }
        }
    }
}
@media screen and (max-width: 576px) {
    .smi-block {
        padding-top: 0;
        background-image: url("https://crowdwiz.biz/ipfs/QmWssHbtxwkGs7spDmc4ekyBhariwSAoTEFbgYh49XKpiS/375/products-bg.jpg");
        .carousel .slider-wrapper.axis-horizontal .slider .slide {
            height: 160px;
            margin-right: 0px;
            margin-left: 0px;
        }
    }
}

/* Safari 10.1+ */
@media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) {
        .smi-block {
            & .carousel.carousel-slider .control-prev.control-arrow {
                left: 0;
                transform: translateX(-600px);
            }
            #content .smi-block .slick-initialized {
                .slick-slide {
                    > div {
                        background: #ffffff;
                    }
                }
            }
        }
    }
}
