.stories-block {
    background-color: #181818;
    padding: 130px 30px 150px 30px;
    &__header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 60px;
    }
    &__title {
        margin-bottom: 0;
    }
    &__scroll-wrap {
        width: 270px;
        height: 40px;
        background-image: url(../../../assets/asset-symbols/index/icons/scroll-icon.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 100% 50%;
    }
    &__scroll-text {
        font-family: "Circe-Regular";
        font-size: 16px;
        line-height: 40px;
        color: #ffffff;
    }
    &__gallery-block {
        & .carousel.carousel-slider {
            overflow: visible;
            position: relative;
        }
        .carousel .slider-wrapper.axis-horizontal .slider .slide {
            margin-right: 30px;
            background: transparent;
            text-align: left;

            & img {
                margin-bottom: 35px;
            }
        }
        .legend {
            position: static;
            margin-left: auto;
            margin-bottom: 10px;
            padding: 0;
            width: 100%;
            border-radius: 0;
            background: transparent;
            opacity: 1;
            font-family: "Made-Medium";
            font-size: 22px;
            line-height: 30px;
            color: #ffffff;
            text-transform: uppercase;
            letter-spacing: 3px;
            text-align: left;
        }
        img {
            margin-bottom: 35px;
        }
        & .carousel.carousel-slider .control-arrow {
            opacity: 1;
            position: absolute;
            right: 0;
        }
        & .carousel.carousel-slider .control-prev.control-arrow {
            left: 0;
        }
        & .carousel.carousel-slider .control-arrow:before {
            width: 60px;
            height: 60px;
            border: none;
            transform: rotate(180deg);
            background-image: url(../../../assets/asset-symbols/index/icons/arrow.svg);
            background-repeat: no-repeat;
            z-index: 7;
            background-position: 50% 86%; //background-position: 0 0;
            border-radius: 50%;
            background-color: #090a0a;
        }
        & .carousel.carousel-slider .control-prev.control-arrow:before {
            transform: none;
        }

        .slider.animated {
            position: relative;
            left: -353px;
        }
    }
    &__info {
        font-family: "Circe-Regular";
        font-size: 16px;
        line-height: 24px;
        color: #dec27f;
    }
}

#content .stories-block .slick-initialized {
    .slick-slide {
        height: auto;
        > div {
            background: transparent;
        }
    }
}

@media screen and (max-width: 1080px) {
    .stories-block {
        padding-top: 104px;
        padding-bottom: 104px;
    }
}

@media screen and (max-width: 576px) {
    .stories-block {
        &__gallery-block {
            padding-left: 25px;
            padding-right: 25px;
            .carousel .slider-wrapper.axis-horizontal .slider .slide {
                margin-right: 0;
            }
            .carousel.carousel-slider .control-arrow {
                display: none;
            }
        }
        &__scroll-wrap {
            width: 110px;
            position: relative;
        }
        &__scroll-text {
            position: absolute;
            top: -13px;
            right: 0;
            z-index: 10;
        }
    }
}

/* Safari 10.1+ */
@media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) {
        .stories-block {
            & .carousel.carousel-slider .control-prev.control-arrow {
                left: 0;
                transform: translateX(-695px);
            }
        }
    }
}
