.cwdgateway {
    &__no-data {
        display: inline-block;
        font-family: CoreSansE-Light !important;
        font-size: 16px;
        color: #ffffff !important;
        padding-top: 30px;
        padding-left: 15px;
    }
    &__field {
        display: block;
        max-width: 100%;
        margin: 0 !important;
        padding: 7px 26px !important;
        border: none !important;
        border-radius: 28px !important;
        box-shadow: inset 0px 9px 18px 0 rgba(0, 0, 0, 0.14);
        background-color: #1e1e1e;
        color: #e1c697 !important;
        margin-bottom: 430px;
        &--desc {
            padding: 12px !important;
            line-height: 1.7 !important;
            font-family: CoreSansE-Light !important;
            color: #ffffff !important;
        }
        &--sell {
            padding: 14px 26px !important;
        }
        &--currency {
            text-transform: uppercase;
        }
    }
    &__btn-wrap {
        margin-top: 20px;
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 300px;
        margin: 0 auto !important;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 25px;
        border: solid 2px #f2cb96;
        background-color: #262626;
        outline: none;
        & span {
            color: #f2cb96;
            font-size: 14px;
        }
        &:disabled {
            cursor: default;
            opacity: 0.4;
        }
    }
    &__back-link {
        display: block;
        margin-bottom: 20px;
        & span {
            padding: 0;
            color: #e1c697 !important;
            text-transform: lowercase;
            text-decoration: underline;
        }
    }
}
