.cwdgateway-active {
    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        list-style: none;
        margin: 0;
        padding: 0;
        padding-top: 40px;
    }
    &__item {
        width: 290px;
        margin: 0;
        padding: 30px 20px;
        margin-bottom: 40px;
        margin-right: 40px;
        background-color: #212121;
        border-radius: 10px;
        box-shadow: 0px 10px 18.3px 2.7px rgba(13, 17, 21, 0.55);
        border-bottom: none;
    }
    &__wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    &__inner {
        &--non-p2p-block {
            margin-bottom: 30px;
        }
    }
    &__name {
        font-size: 20px;
        display: inline-block;
        margin-bottom: 10px;
    }
    &__desc {
        color: #6d6d6d;
    }
    &__memo {
        margin-top: 18px;
        padding-top: 16px;
        border-top: 1px solid #303030;
    }
    &__text {
        padding-right: 7px;
        &--data {
            padding-right: 0;
            color: #e1c697;
        }
        &--price {
            text-transform: uppercase;
        }
        &--summ {
            color: #68a11a;
            text-transform: uppercase;
        }
    }
    &__row {
        &--summ-wrap {
            margin-top: 15px;
            margin-left: -20px;
            margin-right: -20px;
            padding-top: 13px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 13px;
            background-color: #262626;
            text-align: center;
            & .cwdgateway-active__text {
                font-size: 18px;
            }
        }
        &--black-list {
            .blockchain__link {
                padding-right: 8px;
                line-height: 1;
                text-decoration: none !important;
            }
        }
    }
    &__black-wrap {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: 6px;
        margin-bottom: 5px;
        padding: 7px 12px;
        background-color: #414141;
        border-radius: 30px;
    }
    &__close {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 12px !important;
        height: 12px !important;
        & .icon {
            top: 0;
        }
    }
    &__non-balance {
        .cwdgateway-active__text {
            color: #f04124;
        }
    }
    &__p2p-info-wrap {
        margin-top: 14px;
        margin-bottom: 30px;
        padding-top: 10px;
        border-top: 1px solid #393636;
    }
}

@media screen and (max-width: 768px) {
    .cwdgateway-active {
        &__list {
            justify-content: space-between;
            padding-right: 20px;
        }
        &__item {
            width: 280px;
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 576px) {
    .cwdgateway-active {
        &__list {
            padding-top: 22px;
            padding-right: 0;
        }
        &__item {
            width: 100%;
            margin-right: 0;
        }
    }
}
