.trade-form {
    background-color: #212121;
    border-radius: 10px;
    &__tab {
        margin-top: 40px;
    }
    &__container {
        position: fixed;
        top: 100px;
        left: 50%;
        margin-left: -450px;
        width: 900px;
        z-index: 1100;
    }
    &__wrap {
        width: 100%;
        padding: 30px;
    }
    &__inner {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-gap: 30px;
        align-items: stretch;
        justify-content: space-between;
    }
    &__block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    &__selection-wrap {
        display: grid;
        grid-template-columns: 50% 50%;
        margin-bottom: 0;
        border: solid 1px #414141 !important;
        border-radius: 28px;
        overflow: hidden;
    }
    &__radio-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: none !important;
        margin-bottom: 0;
        font-size: 14px;
        &--active {
            & .trade-form__radio-text {
                color: #212121 !important;
                background-image: linear-gradient(to bottom, #f2cb96, #e6ba7d);
            }
        }
    }
    &__radio-text {
        display: inline-block;
        width: 100%;
        height: inherit;
        background-color: #262626;
        padding: 4px;
        padding-top: 9px;
        padding-bottom: 10px;
        text-align: center;
        text-transform: none !important;
        color: #9f9f9f;
        cursor: pointer;
    }
    &__field-wrap {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__subtitle {
        display: inline-block;
        font-size: 14px;
        line-height: 1.3;
        color: #9f9f9f;
        margin-bottom: 13px;
        text-transform: none !important;
        font-family: CoreSansE-Light !important;
    }
    &__label-text {
        text-transform: none !important;
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    .trade-form {
        width: 560px;
        &__container {
            position: absolute;
            top: 80px;
            margin-left: -320px;
            width: 560px;
            padding-bottom: 70px;
        }
        &__wrap {
            padding: 30px 46px;
        }
        &__inner {
            grid-template-columns: 100%;
        }
        &__3-column {
            margin-bottom: 40px;
        }
    }
}

@media screen and (max-width: 576px) {
    .trade-form {
        width: 100%;
        &__tab {
            margin-top: 22px;
        }
        &__container {
            top: 0;
            margin-left: -160px;
            width: 320px;
        }
        &__wrap {
            padding: 30px 25px;
        }
    }
}
