.account-asset {
    &__inner {
        margin-bottom: 30px;
    }
    &__table {
        width: 900px;
    }
    &__table-btn {
        text-align: center;

        .icon {
            > svg * {
                fill: #a5f937;
            }
        }
        &--edit {
            .icon {
                > svg * {
                    fill: #f2cb96;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .account-asset {
        &__inner {
            overflow: scroll;
        }
    }
}
