.portfolio {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;

    &__list {
        display: block;
        margin-left: 0;
    }

    &__row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 280px;
        background-color: #212121;
        border-radius: 10px;
        box-shadow: 0px 10px 18.3px 2.7px rgba(13, 17, 21, 0.55);
        padding: 20px;
        padding-bottom: 30px;
        margin-bottom: 30px;
        margin-right: 40px;
    }

    &__inner {
        margin-bottom: 20px;
    }

    &__asset-type,
    &__balance,
    &__price,
    &__hours,
    &__cost {
        margin-bottom: 12px;
        display: flex;
    }

    &__asset-type-header,
    &__balance-header,
    &__price-header,
    &__hours-header,
    &__cost-header {
        color: #6d6d6d;
        margin-right: 12px;
        font-family: "CoreSansE-Light";
    }

    &__balance-inner {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    &__btn {
        display: block;
        margin: auto !important;
    }

    &__operations-wrap {
        padding: 15px 13px;
        background-color: #1b1b1b;
        margin-top: 25px;
        border-radius: 10px;
    }

    &__asset {
        & a {
            display: inline-block;
            color: #e1c697 !important;
        }
    }

    &__link {
        display: inline-block;
        margin-bottom: 14px;
        color: #e1c697 !important;
        cursor: pointer;
        &--inactive {
            color: #ccc !important;
            cursor: default;
        }
        & .icon {
            display: inline-block;
            margin-right: 10px;
            & svg * {
                fill: #ffffff;
            }
        }
    }

    &__balance-item {
        display: inline-block;
    }

    &__total-value {
        width: 100%;
        padding-bottom: 40px;
    }
}
.portfolio {
    & .portfolio__list {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 992px) {
    .portfolio {
        &__row {
            margin-right: 33px;
        }
    }
}

@media screen and (max-width: 576px) {
    .portfolio {
        &__list {
            justify-content: center;
            overflow: scroll;
        }
    }
}

@media screen and (max-width: 480px) {
    .portfolio {
        &__row {
            width: 100%;
            margin-right: 0;
        }
    }
}
