.proposals {
    &__expiration {
        text-align-last: left;
    }

    &__list-item {
        & .root-status {
            margin-bottom: 0;
            padding-top: 0;
        }
    }

    &__actions {
        text-align: center;
    }

    &__approval-buttons {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .cwd-common__btn {
            width: auto !important;
            margin-right: 20px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &__source {
        padding-top: 0;
    }
}

@media (max-width: 1024px) {
    .proposals {
        &__list-item {
            &--approvers {
                & .proposals__info-text {
                    color: #ffffff;
                }
                & .blockchain__link {
                    padding-left: 7px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .proposals {
        &__list-item {
            margin-right: 11px;
            &:last-child {
                margin-right: 0;
            }
        }
        &__approval-buttons {
            align-items: start;
            justify-content: space-around;
            margin-top: 10px;

            .cwd-common__btn {
                margin-right: 0;
                margin-bottom: 15px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .proposals {
        &__list-item {
            width: 100% !important;
        }
        &__approval-buttons {
            margin-top: 10px;
        }
    }
}
