.cwd-tabs {
    &--gateway-mode {
        padding-top: 15px;
    }
    &__list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 0 !important;
        margin-left: 0 !important;

        & li {
            display: inline-block;
            margin-right: 25px;
            margin-bottom: 30px;
            border: solid 2px #414141;
            background-color: #262626;
            padding: 12px 22px 13px 22px;
            border-radius: 40px;
            cursor: pointer;

            &:last-child {
                margin-right: 0;
            }
            &:focus {
                outline: none !important;
            }
            & a {
                display: flex;
                align-items: flex-end;
                justify-content: center;
                padding: 0;
                font-size: 16px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1;
                letter-spacing: normal;
                text-align: left;
                color: #ffffff;
                box-sizing: border-box;

                &:hover {
                    background-color: transparent;
                    color: #e1c697;
                }
                &:focus {
                    background-color: transparent;
                    color: #e1c697;
                    text-decoration: none;
                }
                &:active {
                    background-color: transparent;
                    color: #e1c697;
                }

                .tab-subtext {
                    font-size: 14px;
                }
                .icon-tabs {
                    margin-right: 10px;
                }
            }
        }

        & li.is-active {
            border: none;
            background-image: linear-gradient(to bottom, #f2cb96, #e6ba7d);
            > a {
                color: #212121;
            }
            .tab-subtext {
                color: #212121;
            }
        }

        &--gateway-mode {
            & li {
                display: flex;
                margin-right: 30px;
                margin-bottom: 15px;
                padding: 0;
                padding-bottom: 6px;
                border-radius: 0;
                border: none;
                & a {
                    display: flex;
                    align-items: center;
                    font-size: 20px;
                    padding: 0;
                }
            }
            & li.is-active {
                font-family: CoreSansE-65Bold;
                border-bottom: 1px dashed #e1c697;
                background: transparent;
                & a {
                    span {
                        color: #e1c697;
                    }
                }
            }
        }
        &--gateway-mode-inner {
            & li {
                & a {
                    font-size: 14px;
                }
            }
        }
        .tab-subtext {
            padding-left: 7px;
            color: #7ed321;
        }
        &--voting-mode {
            & li {
                margin-right: 40px;
                border: 0 !important;
                background-color: transparent;
                padding: 0;
                border-radius: 0;
                a {
                    font-size: 20px;
                    color: #6d6d6d;
                    span.tab-title {
                        border-bottom: 1px dotted #6d6d6d;
                    }
                    .icon svg * {
                        fill: #6d6d6d;
                    }
                }
            }
            & li.is-active {
                background: none;
                a {
                    color: #ffffff;
                    span.tab-title {
                        border-bottom: none;
                    }
                    .icon svg * {
                        fill: #e1c697;
                    }
                }
            }
        }
    }
    &__action-buttons {
        padding: 0 !important;
        border: none !important;
        & .button {
            width: auto !important;
            border-radius: 40px;
            padding: 10px 15px;
        }
    }
}

.tabs-btn {
    &__wrap {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 45px;
    }
    &__btn {
        display: flex;
        align-items: center;
        border: none;
        background-color: transparent;
        outline: none;
        cursor: pointer;
        margin-right: 20px !important;

        &:last-child {
            margin-right: 0 !important;
        }
        &:disabled {
            opacity: 0.5 !important;
            cursor: default !important;
            pointer-events: none !important;
        }

        & span:first-of-type {
            margin-right: 10px;
        }
        span {
            color: #e1c697;
            text-decoration: underline;
            & svg * {
                fill: #6d6d6d;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .cwd-tabs {
        &__list {
            & li {
                margin-bottom: 20px;
            }
        }
        &__select {
            width: auto;
            height: auto;
            margin-bottom: 35px !important;
            padding: 14px 22px;
            padding-right: 44px;
            background-color: #1e1e1e;
            border: 0;
            border-radius: 40px;
            appearance: none;
            background-image: url(../../../assets/select.png);
            background-repeat: no-repeat;
            background-position: right 18px top 50%, 0 0;
            background-size: 0.9rem auto, 100%;

            & option {
                min-height: auto;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .cwd-tabs {
        margin-bottom: 0 !important;
        &__list {
            margin-right: auto;
            margin-left: auto !important;
            margin-bottom: 30px !important;
            width: 300px;
            & li {
                width: 100%;
                margin-right: 0;
                & a {
                    font-size: 16px;
                    text-align: center;
                    .icon-tabs {
                        margin-right: 0;
                    }
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
            &--gateway-mode {
                & li {
                    width: auto;
                    margin-right: 20px;
                    margin-bottom: 15px;
                    padding-bottom: 6px;
                    & a {
                        font-size: 22px;
                    }
                }
            }
            &--gateway-mode-inner {
                margin-bottom: 0 !important;
                & li {
                    & a {
                        font-size: 14px;
                    }
                    &:last-child {
                        margin-bottom: 15px;
                    }
                }
            }
            &--voting-mode {
                justify-content: space-between;
                width: 100%;
                & li {
                    width: 30%;
                    margin-bottom: 0;
                    a {
                        flex-direction: column;
                        align-items: center;
                        font-size: 16px;
                    }
                }
            }
        }
        &__select {
            width: 100%;
        }
    }
    .tabs-btn {
        &__wrap {
            width: 100%;
        }
        &__btn {
            margin-bottom: 0 !important;
        }
    }
}
