/* ***** declarations ****** */
@import "./../style-guide-fixes";

@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
    @font-face {
        font-family: $font-family;
        src: url("#{$file-path}.woff") format("woff");
        font-weight: $font-weight;
        font-style: $font-style;
    }
}

@include font-face(Roboto-Light, "vendors/Roboto-Light", 300, normal);
@mixin RobotoLight {
    font-family: "Roboto-Light", arial, sans-serif;
    font-weight: lighter;
    font-style: normal;
}

@include font-face(Circe-Light, "vendors/Circe/Circe-Light", 300, normal);
@mixin Circe-Light {
    font-family: "Circe-Light", arial, sans-serif;
    font-weight: lighter;
    font-style: normal;
}
@include font-face(Circe-Regular, "vendors/Circe/Circe-Regular", 400, normal);
@mixin Circe-Light {
    font-family: "Circe-Regular", arial, sans-serif;
    font-weight: 400;
    font-style: normal;
}
@include font-face(Circe-Bold, "vendors/Circe/Circe-Bold", 700, normal);
@mixin Circe-Bold {
    font-family: "Circe-Bold", arial, sans-serif;
    font-weight: bold;
    font-style: normal;
}

// @include font-face(
//     MADE,
//     "vendors/CoreSansE/MADE",
//     300,
//     normal
// );
// @mixin MADE {
//     font-family: "MADE", arial, sans-serif;
//     font-weight: lighter;
//     font-style: normal;
// }
@include font-face(
    Made-Medium,
    "vendors/Made/MADE-Evolve-Sans-Medium-EVO",
    400,
    normal
);
@include font-face(Made-2, "vendors/Made/MADE-Evolve-Sans-Medium", 400, normal);
@mixin MADE {
    font-family: "Made-Medium", arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}
@mixin MADE-2 {
    font-family: "Made-2", arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

@include font-face(
    CoreSansE-Light,
    "vendors/CoreSansE/CoreSansE-35Light",
    300,
    normal
);
@mixin CoreSansELight {
    font-family: "CoreSansE-Light", arial, sans-serif;
    font-weight: lighter;
    font-style: normal;
}

@include font-face(
    CoreSansE-Regular,
    "vendors/CoreSansE/CoreSansE-45Regular",
    400,
    normal
);
@mixin CoreSansERgular {
    font-family: "CoreSansE-Regular", arial, sans-serif;
    font-weight: 400;
    font-style: normal;
}

@include font-face(
    CoreSansE-55Medium,
    "vendors/CoreSansE/CoreSansE-55Medium",
    500,
    normal
);
@mixin CoreSansEMedium {
    font-family: "CoreSansE-55Medium", arial, sans-serif;
    font-weight: 500;
    font-style: normal;
}

@include font-face(
    CoreSansE-65Bold,
    "vendors/CoreSansE/CoreSansE-65Bold",
    700,
    normal
);
@mixin CoreSansE665Bold {
    font-family: "CoreSansE-65Bold", arial, sans-serif;
    font-weight: 700;
    font-style: normal;
}

@include font-face(Roboto-Medium, "vendors/Roboto-Medium", normal, normal);
@mixin RobotoMedium {
    font-family: "Roboto-Medium", arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

@include font-face(Roboto-Regular, "vendors/Roboto-Regular", normal, normal);
@mixin RobotoRegular {
    font-family: "Roboto-Regular", arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

@include font-face(
    RobotoCondensed-Regular,
    "vendors/RobotoCondensed-Regular",
    normal,
    normal
);
@mixin RobotoCondensed {
    font-family: "RobotoCondensed-Regular", arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

@mixin SegoeUILight {
    font-family: "wf_SegoeUILight", "Segoe UI Light", "Segoe WP Light",
        "wf_SegoeUI", "Segoe UI", "Segoe", "Segoe WP", "Tahoma", "Verdana",
        arial, sans-serif;
    font-size: 90%;
    font-weight: lighter;
}

@mixin SegoeUIRegular {
    font-family: "wf_SegoeUI", "Segoe UI", "Segoe", "Segoe WP", "Tahoma",
        "Verdana", arial, sans-serif;
    font-size: 90%;
    font-weight: normal;
}

@mixin MonospaceFont {
    font-family: "Lucida Console", Monaco, monospace !important;
}

@include font-face(bebas-neue-bold, "vendors/bebas-neue-bold", normal, normal);
@mixin bebas-neue-bold {
    font-family: "bebas-neue-bold", arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}
@include font-face(BebasNeueBold, "vendors/BebasNeueBold", normal, normal);
@mixin BebasNeueBold {
    font-family: "BebasNeueBold", arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}
/* ***** styles ****** */

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: CoreSansE-Regular;
}

.monospace {
    @include MonospaceFont;
}

*#{$ant-fix} > {
    label,
    label > span {
        @include RobotoMedium;
        text-transform: uppercase;
    }
}

.json-inspector__key {
    @include MonospaceFont;
    text-transform: none;
}

.json-inspector__value {
    @include MonospaceFont;
    text-transform: none;
}

button,
.button {
    @include RobotoCondensed;
    text-transform: uppercase;
    font-size: 0.875rem;
}

// .content-block > h3 {
//   @include RobotoLight;
// }
//
// .page-header > h3 {
//   @include RobotoLight;
// }
//
// a.currency, span.currency {
//   @include RobotoLight;
//   font-variant: small-caps;
// }

.txtann {
    @include RobotoRegular;
}

.txtlabel {
    @include RobotoRegular;
    text-transform: uppercase;
}

// span.time {
//   @include RobotoLight;
// }

.account-drop-down a.button {
    @include RobotoRegular;
}

.button {
    @include RobotoCondensed;
}

.footer .logo {
    @include RobotoRegular;
}

.tabs > .tab-item {
    @include RobotoRegular;
}

.label,
.label.warning,
.label.success,
.label.info,
.label.cancel,
.label.alert {
    @include CoreSansELight;
}

.table > thead > tr > th {
    @include CoreSansERgular;
}

.vertical-order-table-cell {
    @include CoreSansERgular;
}

.table.dashboard-table {
    > thead > tr > th {
        @include CoreSansERgular;
    }

    > tbody > tr > td {
        @include CoreSansERgular;
    }
}

// .key-value-table tr > td:first-child {
//   @include RobotoLight;
// }

.win32 {
    @include RobotoRegular;
}

.win32 {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @include RobotoRegular;
    }

    label,
    label > span {
        @include RobotoRegular;
    }

    button,
    .button {
        @include RobotoLight;
    }

    .content-block > h3 {
        @include RobotoRegular;
    }

    .page-header > h3 {
        @include RobotoRegular;
    }

    a.currency,
    span.currency {
        @include RobotoRegular;
    }

    .txtlabel {
        @include RobotoRegular;
    }

    span.time {
        @include RobotoRegular;
    }

    .account-drop-down a.button {
        @include RobotoCondensed;
    }

    .footer .logo {
        @include RobotoRegular;
    }

    .tabs > .tab-item {
        @include RobotoRegular;
    }

    .label,
    .label.warning,
    .label.success,
    .label.info,
    .label.cancel,
    .label.alert {
        @include CoreSansELight;
    }

    .key-value-table tr > td:first-child {
        @include RobotoRegular;
    }
}

.menu-bar li span:nth-of-type(2) {
    @include RobotoMedium;
}

strong,
b {
    @include RobotoMedium;
}
