.icon {
    position: relative;
    top: 1px;
}

.icon > svg,
span.icon {
    width: 1rem;
    height: 1rem;
}

.icon-14px > svg,
span.icon-16px {
    width: 16px;
    height: 16px;
}

.icon-16px > svg,
span.icon-16px {
    width: 16px;
    height: 16px;
}

.icon-18px > svg,
span.icon-18px {
    width: 18px;
    height: 18px;
}

.icon-30px > svg,
span.icon-30px {
    width: 30px;
    height: 25px;
}

.icon-32px > svg,
span.icon-32px {
    width: 32px;
    height: 32px;
}

.icon-1_5x > svg,
span.icon-1_5x {
    width: 1.5rem;
    height: 1.5rem;
}

.icon-2x > svg,
span.icon-2x {
    width: 2rem;
    height: 2rem;
}

.icon-3x > svg,
span.icon-3x {
    width: 3.45rem;
    height: 3.45rem;
}

.icon-4x > svg,
span.icon-4x {
    width: 4.6rem;
    height: 4.6rem;
}

.icon-5x > svg,
span.icon-5x {
    width: 5.75rem;
    height: 5.75rem;
    margin: 24px 0 24px 0;
}

.icon-10x > svg,
span.icon-10x {
    width: 10rem;
    height: 10rem;
    margin: 24px 0 24px 0;
}

.icon.fill-black > svg > path {
    fill: black;
}

.icon.rotate45 > svg {
    transform: rotate(45deg);
}

.icon.rotate90 > svg {
    transform: rotate(90deg);
}
.icon.rotate180 > svg {
    transform: rotate(180deg);
}
