.dex-index {
    &__wrap {
        max-width: 920px;
    }
    &__header {
        display: flex;
        justify-content: center;
        margin-bottom: 38px;
    }
    &__title {
        display: block;
        margin-bottom: 20px;
        font-family: "CoreSansE-65Bold", arial, sans-serif;
        font-size: 22px;
        color: #ffffff;
        line-height: 1;
    }
    &__list {
        display: grid;
        grid-template-columns: 445px 445px;
        gap: 30px;
        align-items: stretch;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0;
        margin-bottom: 65px !important;
        list-style: none;
        &--option {
            display: block;
            .dex-item__link {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                width: 100%;
            }
        }
    }
}

.dex-item {
    padding: 30px 32px;
    border-radius: 15px;
    background-color: #1e1e1e;
    &--option {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    &--up {
        background-color: #162816;
    }
    &--down {
        background-color: #2a1818;
    }

    &__header {
        display: flex;
        align-items: flex-start;
        margin-bottom: 20px;
        &--option {
            align-items: center;
            margin-bottom: 0;
        }
    }
    &__icon {
        margin-right: 13px;
        top: 0;
        height: 24px !important;
        width: auto !important;

        &--option {
            width: 147px !important;
            height: auto !important;
        }

        & > svg {
            height: inherit;
            width: inherit;
            & > path {
                fill: #ecc289;
            }
        }
    }
    &__name {
        font-family: "CoreSansE-65Bold", arial, sans-serif;
        font-size: 22px;
        color: #ecc289;
        line-height: 1;
    }
    & a {
        text-decoration: none !important;
    }
}
.dex-data {
    &__wrap {
        display: grid;
        grid-template-columns: 135px 100px 145px;
        column-gap: 20px;
    }
    &__title {
        line-height: 1;
        color: #626262;
        font-size: 12px;
    }
    &__text {
        color: #fff;
        font-family: "CoreSansE-65Bold", arial, sans-serif;
        font-size: 18px;
        line-height: 1;
        &--asset {
            font-size: 12px;
        }
    }
    &__percent {
        color: #626262;
        &--up {
            color: #1b9d20;
        }
        &--down {
            color: #e42020;
        }
    }
    &__icon {
        top: 0;
        height: 12px;
        width: auto;

        & > svg {
            height: inherit;
            width: inherit;
            & > path {
                fill: none;
            }
        }
    }
}

@media screen and (max-width: 1080px) {
    .dex-index {
        &__wrap {
            max-width: 635px;
        }
        &__list {
            display: grid;
            grid-template-columns: 303px 303px;
            &--option {
                .dex-item__link {
                    display: block;
                }
            }
        }
    }
    .dex-item {
        padding: 24px;
        &--option {
            display: block;
        }
        &__header {
            flex-wrap: wrap;
            &--option {
                align-items: flex-start;
                margin-bottom: 20px;
            }
        }
        &__name {
            font-size: 20px;
        }
    }
    .dex-data {
        &__wrap {
            display: flex;
            flex-wrap: wrap;
        }
        &__column {
            &:first-child {
                width: 100%;
                margin-bottom: 15px;
            }
            &--percent-wrap {
                width: 90px;
            }
            &--volume-wrap {
                width: 150px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .dex-index {
        &__list {
            gap: 14px;
        }
    }
}

@media screen and (max-width: 576px) {
    .dex-index {
        &__wrap {
            max-width: 100%;
        }
        &__list {
            grid-template-columns: auto;
        }
    }
    .dex-item {
        &__name {
            font-size: 22px;
        }
    }
}
