.page-layout {
    > .grid-block {
        // border-top: 1px solid transparent;
        // border-bottom: 1px solid transparent;
        > .grid-content,
        > .grid-block,
        > .grid-container {
            padding: 0 10px;
        }
    }

    .padding-top {
        padding-top: 1rem;
    }

    .left-column {
        background-color: #fafafa;
    }

    .main-content {
        padding-top: 0px;
        background-color: #f3f3f3;

        &.margin-block {
            margin: 20px;
            padding: 1rem 0.75rem;
        }
    }

    .right-column {
        background-color: #eaeaea;
    }

    .regular-padding {
        padding: 2rem 1.75rem !important;
    }
}

#account-notify {
    position: absolute;
    top: auto !important;
    right: 0.5em;
    width: 30em;
}

@media (max-width: 1100px) {
    .hide-column-small {
        display: none !important;
    }
}

@media (max-width: 1300px) {
    .hide-column-large {
        display: none !important;
    }
}

div.bordered-header {
    text-transform: uppercase;
    font-size: 1.1rem;
    padding-left: 10px;
    padding-top: 0.55rem;
    font-weight: 500;
    overflow: hidden;
}

.exchange-bordered {
    border: 1px solid rgba(183, 183, 183, 0.29);

    div:first-child & {
        margin: 0 10px 0 10px;
    }

    div:last-child & {
        margin: 0 10px 0 10px;
    }
}

.generic-bordered-box {
    //border: 1px solid rgba(183, 183, 183, 0.29);

    .box-content {
        //padding-left: 10px;
    }
}

.block-content-header {
    font-size: 1.4375rem;
    padding: 1.5rem 0;
    font-family: CoreSansE-Regular;

    @include breakpoint(small only) {
        font-size: 1.125rem;
    }
}

.table-cell {
    display: table-cell;
}

.grid-content.app-tables {
    box-sizing: border-box;
    padding: 0px;
    height: 100%;
    position: relative;
}

// .grid-content.app-tables > .content-block, .grid-content.app-tables > .content-block > .generic-bordered-box, .grid-content.app-tables > .content-block > .generic-bordered-box > .account-tabs {
//   height: 100%;
// }

.grid-content.app-tables > .content-block {
    margin-bottom: 0 !important;
}

@media screen and (max-width: 600px) {
    .page-layout {
        width: 100%;
    }
}
