.operations {
    display: grid;
    grid-template-columns: 112px 233px 390px 113px 140px;
    font-size: 0.82rem;
    color: #6d6d6d;
    align-items: center;
    min-height: 48px;
    line-height: 1.7;
    &--short-view {
        grid-template-columns: 200px 260px 160px;
    }
    &--proposal {
        padding-left: 10px;
        padding-right: 10px;
        grid-template-columns: 310px 127px 176px max-content;
        column-gap: 20px;
    }
    &__wrap {
        display: inline-block !important;
        margin-bottom: 15px;

        & a {
            color: #e1c697 !important;
        }
    }

    &:nth-child(odd) {
        background-color: #2a2a2a;
    }

    &__head {
        display: grid;
        grid-template-columns: 112px 233px 390px 113px 140px;
        align-items: center;
        color: #fff;
        text-align: left;
        font-size: 1rem;
        margin-bottom: 8px;
        &--short-view {
            grid-template-columns: 200px 260px 160px;
        }
        &--proposal {
            grid-template-columns: 310px 127px 176px auto;
            column-gap: 20px;
        }

        > div {
            padding: 6px;
        }
    }

    &__mob-head {
        display: none;
    }

    &__even {
        background-color: #2b2b2b !important;
    }

    &__odd {
        background-color: #262626 !important;
    }

    > div {
        padding: 6px;
    }
    &__type {
        a {
            & div {
                display: flex;
                align-items: center;
            }
        }

        .label {
            padding: 0;
        }
    }

    &__info {
        padding-left: 20px;
        align-items: center;
        a {
            color: #e1c697 !important;
            text-decoration: underline !important;

            &:hover,
            &:focus,
            &:active {
                color: #e8d3b0 !important;
            }
        }
    }

    &__info-div {
        height: 100% !important;
        display: flex;
        align-items: center;
        & a {
            margin-bottom: 0;
        }
        ul {
            margin-left: 18px !important;
            margin-bottom: 0 !important;
            font-size: inherit !important;
        }
    }

    &__fee {
        color: #fff;
        line-height: 1.5;
    }

    &__time {
        align-items: center;
    }
    &__pending {
        font-size: 14px;
        padding-top: 5px;
    }
    &__no-recent {
        display: inline-block;
        font-family: CoreSansE-Light !important;
        font-size: 16px;
        color: #ffffff !important;
        padding-top: 30px;
        padding-left: 15px;
    }
}
.label__text {
    white-space: normal;
    line-height: 1.7;
}

@media (max-width: 1024px) {
    .operations {
        grid-template-columns: 30% 70%;
        align-items: flex-start;
        padding: 15px 10px;

        &--proposal {
            padding-left: 10px;
            padding-right: 10px;
            grid-template-columns: 50% 50%;
        }

        &__head {
            .operations__type-info-wrapper {
                .operations__type {
                    display: none;
                }
            }
        }

        > div {
            width: 100%;
        }

        &__wrap {
            display: block !important;
        }

        &__id {
            display: none;
        }

        &__head {
            display: none;
        }

        &__mob-head {
            display: block;
            margin: 0 auto;
        }
    }
}
@media (max-width: 768px) {
    .operations {
        grid-template-columns: 50% 50%;
        &--proposal {
            display: flex;
            flex-wrap: wrap;
            > div {
                width: auto;
            }
        }
    }
}

@media (max-width: 375px) {
    .operations {
        grid-template-columns: 100%;
        &--proposal {
            > div {
                width: auto;
                margin-right: 0;
            }
        }
    }
}
