@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.gatewayBTC {
    &__container {
        width: 540px;

        .cwd-common__title {
            margin-bottom: 20px;
        }
        .gatewayBTC__link {
            color: #e1c697 !important;
            text-decoration: underline;
        }
    }
    &__inner {
        margin-bottom: 40px;

        .cwd-common__description {
            margin-bottom: 18px;
        }
    }
    &__address-wrap {
        position: relative;
        display: grid;
        grid-template-columns: max-content 38px;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
        max-width: 400px;
    }
    &__address {
        padding: 12px 15px;
        font-size: 16px;
        background-color: #1b1b1b !important;
        border: 1px solid #656565;
        border-radius: 25px;
        overflow: hidden;
    }
    &__copy-btn {
        display: flex;
        background-color: #1b1b1b;
        width: 40px !important;
        height: 40px !important;
        border: 1px solid #656565;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 5;

        svg * {
            fill: #f2cb96 !important;
        }
    }
    &__copy-alert {
        position: absolute;
        right: 0;
        opacity: 0;
        padding: 14px;
        border-radius: 30px;
        font-size: 14px;
        background-color: #6d6d6d;
        box-shadow: 0 7px 14px rgba(0, 0, 0, 0.5);
        z-index: 10;

        &--fadeIn {
            animation-name: fadeIn;
            animation-duration: 1.4s;
        }
    }
}

@media screen and (max-width: 567px) {
    .gatewayBTC {
        &__container {
            width: 100%;
        }
        &__inner {
            margin-bottom: 24px;
        }
        &__address-wrap {
            grid-template-columns: 280px 45px;
            width: 100%;
        }
        &__address {
            font-size: 13px;
        }
    }
}

@media screen and (max-width: 320px) {
    .gatewayBTC {
        &__address-wrap {
            grid-template-columns: 237px 35px;
        }
    }
}
