.gatewayTransfer {
    &__transfer-wrap {
        max-width: 595px;
        & .right-label {
            & span {
                border-bottom: none !important;
                text-transform: none;
                cursor: pointer;
                color: #ffffff;
            }
        }
        & .left-label {
            font-family: CoreSansE-Regular;
            font-size: 16px;
            color: #6d6d6d;
        }
    }
    &__info-block {
        margin-bottom: 16px;
    }
    &__percent {
        font-size: 16px;
        color: #6d6d6d;
        &--data {
            color: #ffffff;
        }
    }
    &__form {
        width: 536px;
        padding: 30px;
        border-radius: 10px;
        background-color: #212121;

        .cwd-common__description {
            margin-bottom: 14px;
            color: #6d6d6d;
        }
    }
    &__amount-wrap {
        margin-bottom: 22px;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    &__field-wrap {
        position: relative;
    }
    &__field-hidden {
        display: none !important;
    }
    &__footer-wrap {
        width: 100%;
    }
    &__memo-wrap {
        margin-bottom: 30px;
    }
    &__btn-wrap {
        display: flex;
        justify-content: center;
    }
    &__btn {
        min-width: 155px;
        display: block;
        padding: 10px 8px;
        border-radius: 28px;
        text-align: center;
        border: 2px solid #f2cb96;
        background-color: #1f1f1f;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
        color: #f2cb96;
        & span {
            color: #f2cb96 !important;
        }
    }
    &__has-error-wrap {
        position: absolute;
        z-index: 10;
        width: 240px;
        background-color: #262626;
        padding: 20px;
        border-radius: 12px;
        text-align: center;
        left: 0;
        margin-left: 120px;
        bottom: -95px;
        box-shadow: 0 7px 14px rgba(0, 0, 0, 0.5);
        & .has-error {
            margin-bottom: 10px;
            padding-top: 0px !important;
        }
    }
    &__deposit-link {
        color: #ffffff !important;
        text-decoration: underline !important;
        & span {
            font-size: 16px;
            color: #ffffff !important;
        }
    }
}

#transferBtcForm {
    & input {
        margin: 0 !important;
        padding: 7px 26px !important;
        border: none !important;
        border-radius: 28px !important;
        background-color: #1a1a1a;
        color: #e0e0e0;
        padding: 10px 14px;
        box-shadow: inset 0 10px 12px 3px #101010;
    }
}

#BTCAmountBlock {
    & .right-label {
        display: inline-block;
        margin-bottom: 35px;
        border-bottom: 1px solid #fff;
    }
}

@media screen and (max-width: 567px) {
    .gatewayTransfer {
        &__transfer-wrap {
            margin: 0 auto;
        }
        &__form {
            display: block;
            width: 100%;
            padding: 23px;
        }
        &__amount-wrap {
            display: block;
        }
        &__field-wrap {
            margin-right: 0;
            margin-bottom: 25px;
        }
        &__btn {
            width: 100%;
        }
        &__has-error-wrap {
            position: static;
        }
    }
}
