.account-left-panel {
    > div.grid-block {
        border-right: 1px solid $border-color;
    }
    .account-buttons-row .button {
        min-width: 4.5rem;
    }
    .bottom {
        border-top: 1px solid transparent;
        padding: 0.5rem;
        > .center {
            width: auto;
            margin: 0 auto;
        }
    }

    span.button {
        font-size: 1.1rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }

    a.pay-button {
        font-weight: bold;
        letter-spacing: 2px;
        font-size: 1.1rem;
        border: 0;
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
    }
}

@keyframes flash {
    from,
    50%,
    to {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

.nested-approval-state {
    .icon {
        display: inline-block;
        margin-right: 0.5rem;
        margin-top: 0.1rem;
        margin-bottom: 0.1rem;
    }
    .root-status {
        padding-top: 5px;
        margin-bottom: 0.5rem;
    }
    .expand-button {
        display: inline-block;
        padding-left: 0.5rem;
        color: #7bd500 !important;
    }
    .table-container {
        border-left: 2px dashed #777;
        padding-bottom: 0.4rem;
        table {
            margin-left: 1rem;
            margin-top: 0.4rem;
        }
    }
    .appended {
        display: inline-block;
        padding-left: 0.5rem;
    }
    table {
        text-align: left;
        > tbody {
            > tr {
                > td {
                    // padding-right: 0.5rem;
                    vertical-align: middle;
                    > * {
                        vertical-align: middle;
                    }
                }
            }
        }
    }
    .spacer {
        height: 0.5rem;
    }
    .heading-perm {
        font-size: 14px;
    }
}

.flash {
    animation-name: flash;
}

.account-info {
    text-align: center;
    .account-title {
        transition: opacity 0.25s linear, transform 0.25s linear,
            color 0.25s linear;
        margin-bottom: 0;
        font-weight: 600;
        &.flash {
            opacity: 0.35;
            transform: scale(1.1);
        }
    }
    > p:first-of-type {
        font-size: 85%;
        line-height: 1.2;
    }

    .account-image {
        padding-bottom: 1rem;
        > canvas {
            padding: 1rem;
            border: 1px solid $border-color;
        }
    }
    > div.secondary {
        padding-bottom: 1rem;
        position: relative;

        > span:first-of-type {
            font-weight: bold;
        }

        > span.my-account-label {
            top: 4px;
            font-size: 0.8rem;
            position: absolute;
            right: 0;
            text-transform: uppercase;
            font-variant: small-caps;
        }
    }
}

.account-left-menu {
    > li {
        &.menu-subheader {
            text-transform: uppercase;
            font-size: 0.875rem;
            padding: 1.5rem 0.5rem 0.25rem 0.5rem;
            text-align: center;
            border-bottom: none !important;

            > span {
                display: inline-block;
                color: inherit;
                cursor: pointer;
            }
        }

        > a {
            padding-left: 1.75rem !important;
            border-right: 3px solid transparent;
        }
    }
}

// .no-amount {
//     padding-right: 1rem;
//     padding-left: 0.7rem;
//     font-size: 0.9rem;
//     font-weight: bold;
// }

.weight-input {
    display: table-cell;
    margin: 0 1rem !important;
    width: 30% !important;
    border: 0 !important;
    border-radius: 20px !important;
}

.threshold input {
    width: 5rem !important;
}

.more-button {
    padding-top: 0.5rem;
}

.create-account-header {
    height: 180px;
}

a.action-button > span {
    text-transform: lowercase;
}

div.header-selector {
    font-family: CoreSansE-Light;
    margin-bottom: 25px;

    .user-team__acc-filter {
        width: 273px !important;
    }

    > .filter {
        // margin-right: 1rem;
        input {
            margin: 0;
            height: 2rem;
            padding: 0 10px;
        }
    }
    > .selector {
        display: flex;
        align-items: center;
        min-width: 290px;
        flex-wrap: wrap;

        div {
            font-size: 20px;
            cursor: pointer;
            font-family: "CoreSansE-55Medium";

            &.inactive {
                color: #6d6d6d !important;
                span:last-of-type {
                    border-bottom: 1px dotted #6d6d6d;
                }

                .icon {
                    > svg * {
                        fill: #6d6d6d;
                    }
                }
            }

            &:hover.inactive {
                color: inherit;
            }

            .icon {
                margin-right: 13px;

                > svg * {
                    fill: #e1c697;
                }
            }
        }
    }
    > .selector div:first-of-type {
        margin-right: 42px;
    }
    > .selector div:last-of-type {
        border-right: 0px;
    }

    .bts-select {
        flex-shrink: 1;
    }
}

.signed-messadges {
    width: 60%;

    @media (max-width: 1100px) {
        width: 100%;
    }
}

div.account-tabs {
    .padding {
        padding: 20px;
    }

    div.header-selector {
        // padding: 1rem;
        padding-left: 0;
    }

    &.with-buttons ul.account-overview > li:not(.total-value) > a {
        padding-left: 3px;
        padding-right: 3px;
    }

    ul.account-overview > li.total-value {
        input {
            min-width: 13rem;
        }
        > a {
            span.tab-title {
                text-transform: uppercase;
                font-variant: small-caps;
                font-size: 0.8rem;
            }
            div.tab-subtext {
                font-size: 0.8rem;
                text-align: right;
            }
        }
    }

    ul > li.is-active > a span {
        color: #212121 !important;
    }

    ul > li.tabs-action-buttons {
        margin: 5px auto;
    }

    .download-link {
        color: #e1c697;
        text-decoration: underline;
        display: inline-flex;
        align-items: center;
        flex-shrink: 1;
        margin-left: 52px;

        .icon {
            margin-right: 10px;
        }

        &:hover {
            color: #e1c697;

            & > .icon > svg > path {
                fill: #e1c697;
            }
        }
    }
}
ul.account-overview {
    display: table;
    li {
        display: table-cell;
        vertical-align: middle;
        > a {
            /*font-size: 1.1rem;*/
            font-size: 20px;
            > div.tab-subtext {
                padding-left: 10px;
            }
        }
    }
}

div.header-selector > div.new-worker-button {
    padding-left: 0;
    padding-top: 10px;

    @include breakpoint(medium) {
        padding-top: 0;
        position: relative;
        top: -20px;
        float: right;
        clear: both;
    }
}

.shuffle-rev {
    > a span.icon > svg {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }
}

.trading-pair {
    > a span.icon > svg {
        margin-left: 10px;
        margin-right: 10px;
    }
}

div.tabs-container {
    > div {
        padding: 0px;
    }

    div.permissions-buttons > button {
        margin: 0rem;
        margin-left: 1rem;
        font-size: 1.2em;
    }

    div.permissions-buttons {
        margin: 0 1rem;
    }

    div.help-content {
        max-width: 800px;
    }

    div.tabs-header > h1,
    div.tabs-header > h2,
    div.tabs-header > h3,
    div.tabs-header > h4,
    div.tabs-header > h5 {
        margin: 10px 15px;
    }

    td .button span {
        white-space: nowrap;
    }

    .action-buttons {
        text-align: right;

        button {
            min-width: 5rem;
            margin-left: 0.5rem;
        }
    }
}

.account-treemap {
    padding: 10px;
    text {
        @include RobotoRegular;
    }
}

.account-input-style-guide--account-status {
    float: right;
    color: $success-color;
}

.account-input-style-guide--account-status--scammer {
    color: $alert-color;
}

@media (max-width: 768px) {
    div.account-tabs {
        width: 100%;
        div.header-selector {
            margin-bottom: 12px;

            .bts-select {
                margin-bottom: 10px !important;
            }
        }

        .download-link {
            margin-left: 1rem;
        }
    }
}

@media (max-width: 1100px) {
    div.account-tabs {
        width: 100%;
    }
}

@media (max-width: 576px) {
    div.account-tabs {
        width: 100%;
        div.header-selector {
            padding: 0;
            .user-team__acc-filter {
                width: 100% !important;
                margin-right: 0 !important;
                &--no-margin {
                    width: 260px !important;
                    margin: 0 auto 30px !important;
                }
            }
        }
    }

    div.account-tabs .download-link {
        display: none;
    }

    select.bts-select {
        margin-bottom: 0 0 10px 0 !important;
    }
}

#mainContainer > div.grid-block.vertical > div > div > div > div > div > h1 {
    margin-bottom: 0 !important;
    @media screen and (max-width: 640px) {
        text-align: center;
        font-size: 18px !important; // margin-left: 10px;
    }
}
#mainContainer
    > div.grid-block.vertical
    > div
    > div
    > div
    > div
    > div
    > div
    > div.tab-content.grid-content.shrink.small-vertical.medium-horizontal.padding
    > div
    > textarea {
    border: none !important;
    border-radius: 20px !important;
}
#mainContainer
    > div.grid-block.vertical
    > div
    > div
    > div
    > div
    > div
    > div
    > div.tab-content.grid-content.shrink.small-vertical.medium-horizontal.padding
    > div
    > div
    > div
    > table
    > tr
    > td:nth-child(2)
    > button {
    border-radius: 20px !important;
    &:after {
        border-radius: 50% !important;
    }
}
#mainContainer
    > div.grid-block.vertical
    > div
    > div
    > div
    > div
    > div
    > div
    > div.tab-content.grid-content.shrink.small-vertical.medium-horizontal.padding
    > div
    > div
    > div
    > table
    > tr
    > td:nth-child(2)
    > button.ant-switch.ant-switch-checked:after {
    background-color: #f2cb96 !important;
}
// #votingWrapper > div > div.tab-content > div.header-selector > div.selector > div:nth-child(3){
// padding-left: 565px;
// @media screen and (max-width: 480px){
// padding-left: 0 !important;
// }
// @media screen and (max-width: 768px){
// padding-left: 80px;
// }
// }
#mainContainer
    > div.grid-block.vertical
    > div
    > div
    > div
    > div
    > div
    > div
    > div.tab-content.grid-content.shrink.small-vertical.medium-horizontal.padding
    > div
    > div
    > div
    > table
    > tr
    > td:nth-child(1)
    > label
    > span {
    text-transform: none !important;
    color: #777 !important;
}
#mainContainer
    > div.grid-block.vertical
    > div
    > div
    > div
    > div
    > div
    > div
    > div.tab-content.grid-content.shrink.small-vertical.medium-horizontal.no-padding
    > div
    > div:nth-child(2)
    > table
    > tbody
    > tr
    > td:nth-child(4) {
    width: 60px !important;
}
#mainContainer
    > div.grid-block.vertical
    > div
    > div
    > div
    > div
    > div
    > div
    > div.tab-content.grid-content.shrink.small-vertical.medium-horizontal.padding {
    padding-left: 0 !important;
    div {
        padding: 0 !important;
        div > div > div.account-img-wrapper > label > span {
            text-transform: none !important;
            color: #777 !important;
        }
        div > div > div.account-img-wrapper > div {
            width: 27px !important;
        }
    }
}

#votingWrapper
    > div
    > div.tab-content
    > div
    > div.header-selector
    > div.account-selector
    > div
    > div
    > span:nth-child(3) {
    @media screen and (max-width: 480px) {
        display: none !important;
    }
}

#votingWrapper > h1 {
    color: #fff !important;
    @media screen and (max-width: 480px) {
        width: 100% !important;
    }
}
#actionButtons > span > button:nth-child(1) {
    border-radius: 25px !important;
    width: 140px !important;
    color: #171717;
    span:nth-child(2) {
        margin-left: 10px !important;
    }
    span > svg > path {
        fill: #171717 !important;
    }
}
#actionButtons > span > button:nth-child(2) {
    border-radius: 25px !important;
    width: 140px !important;
    margin-left: 5px;
    background: #262626 !important;
    border: 2px solid #414141 !important;
    span:nth-child(2) {
        margin-left: 15px !important;
    }
}
#votingWrapper
    > div
    > div.tab-content
    > div
    > div.header-selector
    > div:nth-child(2)
    > span
    > button:nth-child(1) {
    border-radius: 25px !important;
    width: 140px !important;
    color: #171717;
    span:nth-child(2) {
        margin-left: 10px !important;
    }
    span > svg > path {
        fill: #171717 !important;
    }
}
#votingWrapper
    > div
    > div.tab-content
    > div
    > div.header-selector
    > div:nth-child(2)
    > span
    > button:nth-child(2) {
    border-radius: 25px !important;
    width: 140px !important;
    margin-left: 5px;
    background: #262626 !important;
    border: 2px solid #414141 !important;
    span:nth-child(2) {
        margin-left: 15px !important;
    }
}

#actionButtons {
    @media screen and (max-width: 480px) {
        position: fixed;
        z-index: 100;
        left: 0;
        bottom: 0;
        width: 99% !important;
        height: 70px;
        background: #262626;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 0 !important;
    }
    @media screen and (max-width: 768px) {
        position: fixed;
        z-index: 100;
        right: 0;
        bottom: 0;
        width: 89.5%;
        height: 70px;
        background: #212121;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 40px !important;
    }
}
#wrappervoting__card-wrap {
    @media screen and (max-width: 480px) {
        display: block;
        width: 100%;
        height: 100%;
    }
}
#wrapperCard {
    display: none;
    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        margin-bottom: 80px;
    }
}
#votingWrapper
    > div
    > div.tab-content
    > div
    > div:nth-child(1)
    > a
    > div
    > span {
    text-transform: none !important;
}
#votingWrapper
    > div
    > div.tab-content
    > div
    > div:nth-child(1)
    > div:nth-child(3)
    > a
    > div {
    border-radius: 25px !important;
    min-width: 200px !important;
    margin: 0 0 0 10px !important;
    background: linear-gradient(180deg, #f2cb96 0%, #e6ba7d 100%) !important;
    // @media screen and (max-width: 480px){
    // margin-left: 10px !important;
    // }
    span {
        text-transform: none !important;
        color: #171717 !important;
        font-size: 18px !important;
        height: 40px !important;
        font-family: CoreSansE-Light, arial !important;
    }
    @media screen and (max-width: 480px) {
        span {
            font-size: 15px !important;
        }
    }
    @media screen and (max-width: 480px) {
        min-width: 170px !important;
    }
}
#votingWrapper
    > div
    > div.tab-content
    > div
    > div:nth-child(1)
    > div.account-selector
    > div
    > div
    > span:nth-child(3) {
    display: none !important;
}
#votingWrapper
    > div
    > div.tab-content
    > div
    > div:nth-child(1)
    > div:nth-child(1) {
    justify-content: space-around;
    span:nth-child(1) > span {
        color: #6d6d6d !important;
    }
}
#votingWrapper
    > div
    > div.tab-content
    > div
    > div:nth-child(1)
    > div:nth-child(1)
    > span:nth-child(2)
    > span
    > span:nth-child(1)
    > span {
    color: #fff !important;
    font-weight: bold !important;
}
#votingWrapper
    > div
    > div.tab-content
    > div
    > div:nth-child(1)
    > div:nth-child(1)
    > span:nth-child(2)
    > span
    > span:nth-child(2)
    > span:nth-child(2) {
    color: #fff !important;
    margin-left: 10px !important;
    font-weight: bold !important;
}

#votingWrapper > div > div.tab-content > div.header-selector > div.selector {
    margin-top: 20px;
}
#votingWrapper
    > div
    > div.tab-content
    > div.header-selector
    > div.selector
    > div {
    @media screen and (max-width: 480px) {
        font-size: 14px !important;
        padding-left: 0 !important;
        margin-right: 10px !important;
    }
}
#votingWrapper
    > div
    > div.tab-content
    > div.header-selector
    > div.selector
    > div:nth-child(3) {
    @media screen and (max-width: 480px) {
        margin: 0 !important;
    }
    div {
        @media screen and (max-width: 480px) {
            margin: 0 !important;
        }
    }
    span > span {
        @media screen and (max-width: 480px) {
            font-size: 14px !important;
        }
    }
}
#votingWrapper
    > div
    > div.tab-content
    > div.header-selector
    > div.selector
    > div:nth-child(3)
    > div
    > span
    > button {
    border-radius: 20px !important;
    margin-left: 5px !important;
    margin-right: 0 !important;
}
#votingWrapper
    > div
    > div.tab-content
    > div.header-selector
    > div.selector
    > div:nth-child(3)
    > div
    > span
    > button.ant-switch.ant-switch-checked:after {
    border-radius: 50% !important;
    background: linear-gradient(180deg, #f2cb96 0%, #e6ba7d 100%) !important;
}
#votingWrapper
    > div
    > div.tab-content
    > div.header-selector
    > div.selector
    > div:nth-child(3)
    > div
    > span
    > button.ant-switch:after {
    border-radius: 50% !important;
}
#votingCard > div:nth-child(4) > div:nth-child(2) > span {
    font-size: 12px !important;
    color: #6d6d6d !important;
    margin-right: 5px !important;
}
#votingCard > div:nth-child(4) > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    span:nth-child(1) {
        font-size: 12px !important;
        color: #6d6d6d !important;
    }
    span:nth-child(2) {
        font-size: 12px !important;
        color: #fff !important;
    }
}
#votingCard > div:nth-child(1) > div:nth-child(1) > div > span {
    color: #fff !important;
}
#votingCard
    > div:nth-child(1)
    > div.clickable
    > span.icon.checkmark-circle
    > svg
    > path {
    fill: #a4d268 !important;
}
#votingCard {
    @media screen and (min-width: 769px) {
        display: none !important;
    }
    @media screen and (max-width: 480px) {
        display: flex;
        width: 100%;
        height: 200px;
        background-color: #212121;
        padding: 20px;
    }
    @media screen and (max-width: 768px) {
        display: flex;
        width: 100%;
        height: 200px;
        background-color: #212121;
        padding: 20px;
        border-bottom: 1px solid #6d6d6d;
        &:last-child {
            border-bottom: none;
        }
    }
}
#votingCard > div > div:nth-child(1) > div {
    font-size: 14px !important;
}
#votingCard > div:nth-child(2) > div > span:nth-child(1) {
    font-size: 14px !important;
    color: #6d6d6d !important;
}
#votingCard > div:nth-child(3) > div > span:nth-child(1) {
    font-size: 14px !important;
    color: #6d6d6d !important;
}
#votingCard
    > div:nth-child(2)
    > div
    > span:nth-child(2)
    > span:nth-child(2)
    > span:nth-child(2) {
    font-size: 12px !important;
    color: #fff !important;
}
#votingCard > div:nth-child(2) > div > span {
    font-size: 12px !important;
    color: #fff !important;
}
#votingCard
    > div:nth-child(3)
    > div
    > span:nth-child(2)
    > span:nth-child(2)
    > span:nth-child(2) {
    font-size: 12px !important;
    color: #fff !important;
}
#votingCard > div:nth-child(3) > div > span {
    font-size: 12px !important;
    color: #fff !important;
}
#votingCard > div:nth-child(4) > div:nth-child(2) {
    position: relative;
    span {
        position: absolute;
        top: 10px;
        svg {
            path {
                fill: #b69667 !important;
            }
        }
    }
    a {
        position: absolute;
        top: 5px;
        left: 30px;
        span {
            color: #b69667 !important;
        }
    }
}

#mainContainer
    > div.grid-block.vertical
    > div
    > div
    > div
    > div
    > div
    > div.tabs-container.generic-bordered-box.permissions
    > div.account-tabs
    > div.tab-content.padding
    > div
    > div.table.permissions__table
    > div
    > div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    div:nth-child(1) {
        width: 100%;
    }
    div:nth-child(2) {
        width: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        div:nth-child(1) {
            display: flex;
            align-items: center;
            font-size: 15px !important;
            color: #b69667 !important;
            width: 75%;
            @media screen and (max-width: 480px) {
                width: 100%;
                font-size: 13px !important;
                margin-top: 10px;
            }
        }
        div:nth-child(2) {
            max-width: 130px !important;
            @media screen and (max-width: 480px) {
                max-width: 100% !important;
                margin-top: 5px;
            }
            div {
                display: flex;
                justify-content: center;
                color: #fff !important;
            }
            @media screen and (max-width: 480px) {
                div {
                    max-width: 100% !important;
                    font-size: 16px !important;
                }
            }
        }
    }
}
