div.divider {
    margin: 20px 0;
    border-bottom: 1px solid $border-color;
}

.login-selector {
    justify-content: space-around;
    > div.box {
        cursor: pointer;
        position: relative;
        padding: 1rem;
        padding-bottom: 4.5rem;
        border: 1px solid $border-color;
        margin-top: 2rem;

        .button {
            font-size: 0.875rem;
            position: absolute;
            bottom: 1rem;
        }
    }
}
div.account-creation {
    width: 89%;
    margin-top: 0;
    margin: auto;
    padding: 2rem 0.5rem 2rem 0.5rem;

    p {
        max-width: 95vw;
        margin-bottom: 53px;
        margin-top: 0;
    }

    div.confirm-checks {
        max-width: 95vw;
        text-align: left;

        [type="checkbox"] {
            position: relative;
            top: 3px;
        }

        label span {
            text-transform: none;
            @include RobotoRegular;
            line-height: 1.2;
        }
    }

    div.sub-content {
        padding-top: 2rem;
        table {
            text-align: left;
        }
        p {
            word-wrap: break-word;
            // max-width: 30rem;
            text-align: left;
        }
    }
    h4 {
        @include RobotoMedium;
        margin-top: 1rem;
        margin-bottom: 0;
        text-align: center;
    }

    label {
        text-align: left;
    }
    .account-login-options .button-group {
        label {
            margin: 0 1rem;
            > span {
                text-transform: none;
                font-size: 90%;
            }
        }
    }
    .account-login-options .button {
        margin: 0 auto 15px;
        margin-top: 3px;
        text-transform: uppercase;
        font-size: 0.875rem;
        width: 40%;
        color: #fff;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .arrow-down:after {
        content: "";
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 4px solid $bs-blue;
        position: absolute;
        top: 40px;
        right: -2px;
    }

    .arrow-down:hover:after {
        border-top-color: #fff;
    }

    div.creation-options {
        padding-top: 1.5rem;
        text-transform: uppercase;
        font-size: 0.875rem;
        @include RobotoMedium;
    }

    p {
        max-width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }

    .additional-account-options {
        text-align: left;
        padding-top: 1rem;
        margin-top: 1rem;
        border-top: 1px solid #3e3e3e;
    }

    .common-btn {
        margin: 20px auto 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6px 24px;

        .icon {
            margin-right: 6px;
        }
    }
}

div.account-creation {
    width: 450px;
    margin-top: 2rem;

    p {
        max-width: 35rem;
    }
}

@media screen and (max-width: 475px) {
    div.account-creation {
        width: 320px;
    }
}

.account-selector__input {
    height: 40px !important;
    border-radius: 20px !important;
    background-color: #181818 !important;
    border: none !important;
}

#scrollToInput
    > div
    > div
    > div
    > form
    > section.form-group
    > div
    > span
    > textarea {
    border-radius: 20px !important;
    background-color: #181818 !important;
    border: none !important;
}

#scrollToInput
    > div
    > div
    > div
    > form
    > section.form-group
    > div
    > span
    > div
    > button {
    border-radius: 50% !important;
    background-color: #b59567 !important;

    .icon > svg > path {
        fill: #000 !important;
    }
}

#password {
    height: 40px !important;
    border-radius: 20px !important;
    background-color: #181818 !important;
    border: none !important;
}

#scrollToInput
    > div
    > div
    > div
    > form
    > div.full-width-content.form-group.no-overflow {
    padding-top: 0 !important;
}

#scrollToInput > div > div > div > form > button {
    border-radius: 20px !important;
    background-color: #f2cb96 !important;
    color: #2a2a2a !important;
}

#referralAccount {
    width: 100%;
    padding-bottom: 30px;

    p {
        margin-bottom: 3px;
        color: #6d6d6d !important;
        font-family: "Roboto-Medium", arial, sans-serif;
        font-weight: normal;
        font-style: normal;
    }
}

// #scrollToInput > div > p > span {
//     font-size: 18px !important;
//     font-family: CoreSansE-Light, arial;
// }

// #scrollToInput > div > div > p:nth-child(1) > span {
//     color: #6d6d6d !important;
//     font-family: CoreSansE-Light, arial;
// }

#scrollToInput > div > div > p:nth-child(1) > span > strong {
    color: #fff !important;
    font-family: CoreSansE-Light, arial;
}

#btnCreateAcc {
    border-radius: 20px !important;
    background-color: #f2cb96 !important;

    span {
        text-transform: none !important;
        color: #181818 !important;
        font-size: 16px !important;
    }
}

#scrollToInput > div > div > div.button {
    border-radius: 20px !important;
    background-color: #f2cb96 !important;

    span {
        text-transform: none !important;
        color: #181818 !important;
        font-size: 16px !important;
    }
}

#scrollToInput > div > div > p.txtlabel.warning > span {
    color: #fff !important;
    font-family: CoreSansE-Light, arial !important;
    text-transform: none !important;
}
