@import "account";
@import "account-create";
@import "bitkapital";
@import "blocktrades";
@import "cards";
@import "console";
@import "dashboard";
@import "exchange";
@import "existing_accounts";
@import "footer";
@import "forms";
@import "header";
@import "help";
@import "loading-indicator";
@import "modal";
@import "pagination";
@import "rudex";
@import "settings";
@import "tables";
@import "tabs";
@import "typeahead";
@import "page404";
@import "wallet";
@import "incognito";
@import "asset";
@import "registration/account-registration";
@import "registration/registration-selector";
@import "login/login";
@import "login/login-modal.scss";
@import "barter";
@import "status";
@import "_blockchain";
@import "_gateway";
@import "_structure";
@import "_countdown";
@import "pagination-antd-overidden";
@import "contract";
@import "_cwd-modal";
@import "permissions";
@import "white-list";
@import "cwd-buttons";
@import "input-container";
@import "_crowdmarket";
@import "_crowd-ads";
@import "_init-error";
@import "_create-worker";
@import "_cwd-ant-modal.scss";
@import "_voting.scss";
@import "_account-orders.scss";
@import "_send_message.scss";
@import "_node-access-popup.scss";
@import "_tab-counter.scss";
@import "_common.scss";
@import "_antd_fix.scss";
@import "_market.scss";

.lifetime {
    background: url("../fresh-bolt2.png") no-repeat 100% 50%;
    background-size: auto 80%;
    padding-right: 0.75rem;
}

.bottom-border {
    border-bottom: 1px solid #8d5b0a;
}

.linethrough {
    text-decoration: line-through;
}

.fixed-height-2rem tr {
    height: 2.5rem;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.row {
    display: flex;
    width: 100%;
}

#content .slick-initialized {
    position: relative;
    .slick-slide {
        display: flex;
        height: 200px;
        align-items: center;
        justify-content: center;
        > div {
            margin: 0 15px;
            width: 100%;
            height: 100%;
            // background: #212121;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
        }
        a {
            display: flex !important;
        }
    }
    button.slick-arrow {
        -webkit-transition: all 0.25s ease-in;
        transition: all 0.25s ease-in;
        position: absolute;
        z-index: 2;
        top: 0;
        background: 0 0;
        border: 0;
        font-size: 0;
        cursor: pointer;
        height: 100%;
        width: 60px;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
        &:before {
            content: "";
            width: 60px;
            height: 60px;
            border: none;
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
            background-image: url(../../assets/asset-symbols/index/icons/arrow.svg);
            background-repeat: no-repeat;
            background-position: 50% 86%;
            border-radius: 50%;
            background-color: #090a0a;
            z-index: 7;
            display: block;
            opacity: 1;
        }
        &.slick-prev {
            &:before {
                -webkit-transform: none;
                -moz-transform: none;
                -ms-transform: none;
                -o-transform: none;
                transform: none;
            }
        }
        &:hover {
            background: rgba(0, 0, 0, 0.2);
        }
    }
}
