.blockchain {
    &__wrap {
        padding: 40px;
        padding-top: 25px;
    }
    &__header {
        display: block;
        margin-bottom: 20px;
        color: #fff;
        font-size: 22px;
    }
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    &__table-head {
        color: #fff !important;
        border-bottom: 0 !important;
        font-size: 1rem !important;
        vertical-align: top;
        height: 56px;
    }
    &__wrap {
        max-width: 1000px;
        margin: 0 auto;
        margin-left: 20px;
    }

    &__table-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: flex-start;
        margin-bottom: 15px;
    }

    &__item {
        width: 190px;
        margin: 10px 20px 10px 0;
        padding: 9px;
        padding-top: 17px;
        text-align: center;
        background-color: #212121;
        min-height: 130px;

        .user-balanse_amount {
            font-family: "Roboto-Bold", arial, sans-serif;
            font-size: 18px;
            font-weight: bold;
        }
        &--link {
            background-color: #212121 !important;
            text-decoration: none !important;
            &:hover {
                box-shadow: 0 7px 13px 3px #1b1b1b;
                transform: translateY(-3px);
            }
        }
    }
    &__data {
        margin: 24px 0;
        font-family: "CoreSansE-65Bold", arial, sans-serif;
        font-size: 24px;
        font-weight: bold;
        color: #fff;
        & .txtlabel.success {
            font-size: 16px;
            text-transform: none;
        }
        & .icon > svg * {
            fill: #6d6d6d;
        }
    }

    &__title {
        display: block;
        min-height: 30px;
        font-family: "CoreSansE-Light", arial, sans-serif;
        font-weight: normal;
        font-style: normal;
        color: #6d6d6d;
        font-size: 16px;
        line-height: 1;
    }
    &__table {
        width: 45%;
        &:first-child {
            margin-right: 30px;
        }
        & span {
            text-transform: none;
        }

        .operations,
        .label__text {
            font-size: 14px;
        }
    }

    &__link {
        color: #e1c697 !important;
        text-decoration: underline !important;
        font-family: "CoreSansE-Light";
    }

    &__tr {
        font-family: CoreSansE-Light;

        &--grey {
            background-color: #2b2b2b;
        }
    }

    &__date {
        color: #6d6d6d;
    }

    &__amount-wrapper {
        display: flex;
        flex-wrap: wrap;
        padding-left: 9px;
        max-width: 480px;
        justify-content: space-between;
    }

    &__amount {
        display: flex;
        flex-direction: column !important;

        &:first-of-type {
            margin-right: 10px;
        }

        .icon {
            margin-right: 8px;
        }

        .icon > svg {
            g > path {
                fill: #e1c697 !important;
            }

            > path {
                fill: #e1c697 !important;
            }
        }
    }

    &__amount-title {
        color: #fff;
        font-size: 18px;
    }

    &__amount-data {
        color: #e1c697 !important;
        font-size: 22px !important;
    }

    &__graph {
        width: 835px;
        display: flex;
        flex-direction: column !important;
        margin-bottom: 16px;
    }

    &__graph-title {
        color: #fff;
        font-size: 16px;
        text-transform: none;
        margin-bottom: 16px;
    }

    &__icon-wrapper {
        margin-right: 8px;
    }

    &__recent {
        font-family: "CoreSansE-Light";
        height: 53px; //48px;

        // &:nth-child(even) {
        //     background-color: #262626;
        // }

        &:nth-child(odd) {
            background-color: #2a2a2a;
        }
    }

    &__content-header {
        font-size: 1.4rem !important;
    }
}

@media screen and (max-width: 900px) {
    .blockchain {
        &__table-wrapper {
            flex-direction: column;
        }

        &__table {
            width: 100%;
        }

        &__table:first-of-type {
            order: 2;
        }

        &__table:last-of-type {
            order: 1;
        }
    }
}

@media screen and (max-width: 800px) {
    .blockchain {
        &__wrap {
            width: 95%;
        }
        &__item {
            width: 160px;

            .user-balanse_amount {
                font-size: 14px;
            }
        }
        &__graph {
            width: 100%;
        }
    }
}

@media screen and (max-width: 600px) {
    .blockchain {
        &__wrap {
            margin: 0;
            width: 100%;
            max-width: none;
            padding-left: 20px;
            padding-right: 20px;
        }

        &__wrapper {
            justify-content: center;
            margin-left: 0;
        }
        &__raw {
            justify-content: center;
            margin-bottom: 0;
        }
        &__item {
            min-width: 100%;
            max-width: 100%;
            min-height: 62px;
            height: 62px;
            margin: 0 auto 10px auto;
        }

        &__inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__title {
            min-height: auto;
            font-size: 16px !important;
            margin-left: 8px;
            text-align: left;
        }
        &__data {
            font-size: 18px !important;
            margin: 8px 8px 8px 0 !important;

            .txtlabel.success {
                margin: 0;
                font-size: 16px;
            }
        }

        &__table {
            width: 100%;
            margin-bottom: 20px;
        }

        &__table-head {
            font-size: 14px !important;
        }
    }

    .padding {
        padding: 0;
    }

    &__content-header {
        padding: 0 5px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 320px) {
    .blockchain {
        &__header {
            font-size: 24px;
        }

        &__wrap {
            width: 320px;
        }
    }
}
