.cwd-common {
    &__wrap {
        position: relative;
        max-width: 1100px;
        width: 100%;
        padding: 30px 15px 30px 60px;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__title {
        display: block;
        margin-bottom: 45px;
        font-family: CoreSansE-55Medium;
        font-size: 22px;
        color: #ffffff;
        line-height: 1.3;
    }
    &__subtitle {
        display: block;
        margin-bottom: 25px;
        font-family: CoreSansE-55Medium;
        font-size: 20px;
        color: #ffffff;
    }
    &__description {
        max-width: 600px;
        margin-bottom: 30px;
        font-family: CoreSansE-Light, arial;
        font-size: 14px;
        line-height: 1.6;
        color: #ffffff;
        &--highlighted {
            font-family: CoreSansE-55Medium;
            color: #e1c697;
        }
    }
    &__btn {
        width: auto !important;
        height: 40px !important;
        padding: 6px 17px;
        border-radius: 20px !important;
        border: none;
        text-align: center;

        &:disabled {
            opacity: 0.5;
        }

        &--confirm {
            background-color: #f2cb96 !important;
            border: 2px solid #f2cb96 !important;
            color: #2a2a2a !important;
        }
        &--cancel {
            border: 2px solid #656565 !important;
            background-color: transparent !important;
            color: #656565 !important;
            &:hover {
                color: #f2cb96 !important;
                border: 2px solid #f2cb96 !important;
            }
        }
        &--delete {
            border: 2px solid #f04124 !important;
            background-color: transparent !important;
            color: #f2cb96 !important;
            width: auto !important;
            max-width: 200px;
        }
        & span {
            font-family: CoreSansE-Light, arial;
            font-size: 14px;
            font-weight: 700 !important;
            text-transform: none !important;
        }
        &--width-auto {
            width: auto !important;
        }
    }

    &__action-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 25px !important;
        border: solid 2px #f2cb96;
        background-color: #262626 !important;
        outline: none;
        padding: 12px 17px;

        & span {
            color: #f2cb96;
            font-size: 14px;
        }

        &--cancel {
            border-color: #adadad;
            border: 2px solid #adadad;
            & span {
                color: #adadad;
                font-size: 14px;
            }
        }
        &--with-input {
            margin-left: 17px !important;
        }

        &:disabled {
            cursor: default;
            opacity: 0.4;
        }
    }

    &__selector {
        height: 36px;
        padding: 0 12px;
        background-color: #1e1e1e;
        color: #6d6d6d;
        border: none;
        border-radius: 20px;
        box-shadow: inset 0 10px 12px 3px #101010;
    }
    &__filter {
        width: 286px !important;
        height: 40px !important;
        margin-bottom: 30px !important;
        border-radius: 35px !important;
        border-color: transparent !important;
        box-shadow: inset 0px 9px 18px 0 rgba(0, 0, 0, 0.14) !important;
        background: #1e1e1e url("../../assets/img/search.png") no-repeat scroll
            94% 50%/14px;
        padding-right: 16px !important;
        color: #6d6d6d !important;
        text-transform: lowercase;
    }
    &__input {
        display: inline-block;
        max-width: 100% !important;
        height: 40px !important;
        margin: 0 !important;
        padding: 7px 26px !important;
        border: none !important;
        border-radius: 28px !important;
        background-color: #181818 !important;
        box-shadow: inset 0 10px 12px 3px #101010;
        color: #e1c697 !important;
    }

    &__textarea {
        margin: 0 !important;
        border: none !important;
        border-radius: 20px !important;
        background-color: #1a1a1a;
        border: 1px solid #e1c697;
        color: #e0e0e0;
        padding: 10px 14px;
        box-shadow: inset 0 10px 12px 3px #101010;
        line-height: 1.3 !important;
    }
    &__label {
        display: block !important;
        margin-bottom: 6px;
        font-family: CoreSansE-Regular, arial !important;
        font-size: 14px;
        line-height: 1.3;
        color: #6d6d6d !important;
        text-transform: none !important;
        & span {
            color: inherit !important;
            text-transform: inherit !important;
        }
    }
}

@media screen and (max-width: 1080px) {
    .cwd-common {
        &__wrap {
            max-width: 900px;
        }
    }
}

@media screen and (max-width: 768px) {
    .cwd-common {
        &__wrap {
            padding-left: 40px;
        }
    }
}

@media screen and (max-width: 576px) {
    .cwd-common {
        &__wrap {
            padding-right: 0;
            padding-left: 0;
        }
        &__title {
            margin-bottom: 30px;
        }
        &__filter {
            width: 300px !important;
            margin-left: auto !important;
            margin-right: auto !important;
        }
        &__action-btn {
            width: 100%;
            &--with-input {
                width: 100px;
                margin-left: 0 !important;
            }
        }
    }
}
