.contract {
    &__wrap {
        padding: 15px;
        padding-top: 30px;

        .invest__transfer-wrap {
            width: 100%;
        }
    }

    &__info-block-wrap {
        margin-bottom: 40px;
    }

    &__data-row {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        color: #6d6d6d;
        font-family: CoreSansE-Light;
    }

    &__text {
        width: 228px;
        font-family: CoreSansE-Light;
        color: #6d6d6d;
        font-size: 16px;
        &--data {
            width: auto;
            color: #ffffff;
        }
        &--ref-link {
            width: auto;
            margin-right: 14px;
            text-decoration: underline;
            color: #e1c697;
        }
    }

    &__btn {
        width: 110px;
        height: 40px;
        border-radius: 20px;
        border: solid 2px #414141;
        background-color: #262626;
        outline: none;
        margin-right: 16px !important;
        text-transform: uppercase !important;
        color: #fff;

        span {
            color: #fff;
        }

        &--upgrade {
            margin-left: 20px !important;
            margin-right: 0 !important;
            text-transform: none !important;
            outline: none;
        }

        &:hover {
            border-color: #e6ba7d;
        }
    }

    &__ref {
        display: flex;
        cursor: pointer;
        position: relative;
        & .icon {
            top: -4px;
            > svg * {
                fill: #6d6d6d;
            }
        }
    }

    &__msg {
        font-family: CoreSansE-Light;
        position: absolute;
        top: -9px;
        right: -10px;
        -webkit-transition: display 3s ease-in-out;
        transition: display 3s ease-in-out;
        background-color: #1e1e1e;
        padding: 10px 12px;
        border-radius: 20px;
    }

    &__info-text {
        padding-bottom: 60px;
        margin: 0;
        color: #ffffff;
        font-size: 18px;

        & a {
            color: #e1c697 !important;
        }
    }

    &__vesting-wrap {
        display: flex;
        flex-wrap: wrap;
        max-width: 900px;
        padding-top: 15px;
    }

    @media (max-width: 992px) {
        &__data-row {
            flex-wrap: wrap;
        }

        &__update-btn-wrap {
            margin-top: 20px;
        }
    }

    @media (max-width: 576px) {
        &__wrap {
            padding-left: 0;
            padding-right: 0;
        }

        &__info-block-wrap {
            margin-bottom: 45px;
            padding-bottom: 25px;
            border-bottom: 1px solid #414141;
        }

        &__text {
            width: auto;
            margin-right: 10px;
            &--data {
                margin-right: 0;
            }
            &--link {
                margin-right: 0;
            }
            &--mobile {
                margin-bottom: 8px;
            }
        }

        &__update-btn-wrap {
            margin: auto;
            margin-top: 0;
            margin-bottom: 30px;
        }

        &__btn {
            width: 100%;
            margin-top: 25px !important;
            margin-right: 0 !important;
            &--upgrade {
                width: 300px;
                margin: auto !important;
                margin-top: 25px !important;
            }
        }
    }
}
