.timer-wrapper {
    top: -10.1rem;
    left: -2.5rem;
    width: 578px;
    height: 514px;
    position: relative;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.13, #ffffff),
        color-stop(0.56, #74c703),
        color-stop(0.77, #354c1b),
        color-stop(0.32, #74c703),
        color-stop(0.54, #354c1b),
        color-stop(0.76, #74c703),
        color-stop(0.33, #354c1b)
    );

    -webkit-animation-name: rotate;
    -webkit-animation-duration: 6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
}
@-webkit-keyframes rotate {
    0 {
        -webkit-transform: rotate(0deg);
    }
    100 {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes rotate {
    0 {
        -moz-transform: rotate(0deg);
    }
    100 {
        -moz-transform: rotate(360deg);
    }
}
.cap_el {
    top: -31px;
    left: 1px;
    width: 486px;
    height: 186px;
    position: absolute;
    border-radius: 0.6rem;

    -webkit-animation-name: resize;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}
/*@-webkit-keyframes resize {
		 	0% {width: 405px;
		 	 	height: 152px;}
		 	50% {
		 	 	width: 403px;
		 	 	height: 149px;}
			100% {width: 405px;
		 	 height: 152px;}
		}*/
