.crowdmarket {
    padding-top: 60px;
    padding-right: 40px;
    padding-bottom: 50px;
    font-family: CoreSansE-Regular;

    &__center-layout {
        width: 1000px;
    }

    &__header-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__header {
        width: auto;
        height: 150px;
    }

    &__title-wrapper {
        width: 940px;
        height: 170px;
    }

    &__title {
        font-family: CoreSansE-65Bold, sans-serif;
        font-size: 108px !important;
        background: -webkit-linear-gradient(#ffc107, #ffaa8f);
        color: #9c27b0;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        text-transform: uppercase;
    }
    &__subtitle {
        margin-top: 0 !important;
        margin-bottom: 50px !important;
        font-size: 30px !important;
        color: #ffffff !important;
        text-align: center;
        line-height: 1.3;
    }
}
.cmarket {
    &__item {
        position: relative;
        display: flex;
        margin-right: 30px;
        overflow: hidden;
        &:nth-child(2n) {
            margin-right: 0;
        }
    }
    &__label {
        display: inline-block;
        position: absolute;
        top: 14px;
        right: -52px;
        color: #ffffff;
        width: 216px;
        padding: 10px;
        background-color: #ed4300;
        text-transform: uppercase;
        box-shadow: 0px 4px 19px 0 #000;
        transform: rotate(39deg);
        z-index: 100;
        text-align: center;
        font-weight: 700;
        font-size: 24px;
        text-shadow: 1px 1px 2px #292929;
    }
    &__content {
        width: 390px;
        margin-bottom: 50px;
        padding: 20px 25px;
        padding-bottom: 0;
        border-radius: 20px;
        background-color: #212121;
        background-repeat: no-repeat;
        background-position: right;
        background-size: 46%;

        &--inactive {
            opacity: 0.5;
            .game-item__btn {
                cursor: default;
            }
        }
        &--board {
            background-image: url(/asset-symbols/gamezone/megaphone.png);
            // background-position: right;
        }
        &--crowd-shopping {
            background-image: url(/asset-symbols/gamezone/money-box.png);
        }
    }
    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__title {
        max-width: 230px;
        @include RobotoMedium;
        margin-bottom: 40px;
        font-size: 30px;
        color: #ffffff;
        line-height: 1.2;
    }
    &__img {
        display: block;
        width: 200px;
        height: auto;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    &__btn {
        display: block;
        width: 190px;
        text-align: center;
        background-image: linear-gradient(to bottom, #f2cb96, #e6ba7d);
        padding: 11px 25px 11px 25px;
        border-radius: 40px;
        &:hover {
            text-decoration: none;
        }
        &:active {
            text-decoration: none;
        }
    }
    &__btn-text {
        color: #1e1e1e !important;
        font-size: 20px !important;
    }
}

@media screen and (max-width: 1080px) {
    .crowdmarket {
        &__center-layout {
            width: 100%;
        }
    }
}

@media screen and (max-width: 800px) {
    .crowdmarket {
        padding-left: 0;
        padding: 0;
        &__header {
            width: auto;
            height: auto;
        }
        &__subtitle {
            margin-bottom: 30px !important;
            font-size: 20px !important;
        }
    }
    .cmarket {
        &__item {
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 600px) {
    .crowdmarket {
        &__title-wrapper {
            height: 90%;
            width: 90%;
        }
    }
}
