.crowd-board {
    font-family: CoreSansE-Regular;
    &__wrap {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 40px;
        padding-right: 40px;
        position: relative;
    }
    &__header-logo {
        width: 750px;
        margin-top: -25px;
    }
}
#postAdModal .content-block--crowdmarket {
    display: none !important;
}
#buyAdModal .content-block--crowdmarket {
    display: none !important;
}
#postAdModal #payAdBtn,
#buyAdModal #buyAdBtn {
    display: block;
    width: 190px !important;
    height: auto !important;
    margin: 0 auto;
    margin-top: 0;
    padding: 10px;
    border-radius: 30px !important;
    position: static;
    background-image: linear-gradient(to bottom, #f2cb96, #e6ba7d);
}

#buyAdModal #buyAdBtn {
    width: 170px !important;
    padding: 0px 5px 5px 5px !important;
}

.categories {
    display: flex;
    margin: 0 10px 0 0;
    padding: 0;
    padding-top: 17px;
    list-style: none;
    max-width: 900px;
    flex-wrap: wrap;

    &__item {
        margin-bottom: 10px;
        cursor: pointer;
        box-sizing: border-box;
        font-size: 18px;
        line-height: 23px;
        text-align: left;
        width: 225px;

        &--active {
            .categories__text {
                color: #212121;
                background-color: #e1c697;
            }
        }

        &--disabled {
            cursor: default;
            &:hover {
                .categories__text {
                    text-decoration: none;
                }
            }
            .categories__text {
                opacity: 0.3;
            }
        }
    }

    &__item-inner {
        max-width: 70%;
    }

    &__text {
        color: #e1c697;
    }

    &__amount {
        color: #212121;
        padding-left: 6px;
        padding-right: 4px;
        background-color: #e1c697;
    }

    &__show-all {
        display: none;
    }

    &__close {
        display: none;
        align-self: flex-end;
        background-color: #1b1b1b;
        padding: 14px 20px;
        margin-bottom: 10px;
        cursor: pointer;

        &--show {
            display: block;
        }
    }
}
.new-board {
    padding-top: 15px;
    &__wrap {
        width: 600px;
        padding: 30px;
        border-radius: 10px;
        background-color: #212121;
    }
    &__field-wrap {
        margin-bottom: 20px;
    }
    &__subtitle {
        display: inline-block;
        font-size: 16px;
        line-height: 1.3;
        color: #9f9f9f;
        margin-bottom: 13px;
        text-transform: none !important;
        &--text {
            font-family: CoreSansE-Light !important;
        }
    }
    & .new-board__field {
        margin: 0 !important;
        border: none !important;
        border-radius: 28px !important;
        box-shadow: inset 0px 9px 18px 0 rgba(0, 0, 0, 0.14);
        background-color: #1e1e1e;
        color: #e1c697 !important;
        margin-bottom: 430px;
    }
    & .new-board__field--select {
        -webkit-appearance: menulist;
        -moz-appearance: menulist;
        cursor: pointer;
    }
    .board__buy-btn {
        margin: 0 auto;
    }

    &__upload {
        display: none !important;
    }

    &__upload-label {
        cursor: pointer;
        display: flex;
        align-items: center;
        height: 40px;
        margin-bottom: 17px;
        border: none !important;
        border-radius: 28px !important;
        box-shadow: inset 3px 12px 10px rgba(16, 16, 16, 0.25);
        background-color: #181818;
        color: #e1c697 !important;

        .icon {
            top: 6px;
            left: -6px;

            > svg > path {
                fill: #000 !important;
            }
        }
    }

    &__label-text {
        text-transform: none !important;
        font-size: 14px;
    }
}
input[type="file"] {
    background-color: #1a1a1a;
    display: block;
    width: 100%;
    padding: 10px;
}
.board {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 1300px;
    padding: 0;
    margin: 0;
    padding-top: 50px;

    &__wrap {
        // width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        overflow: hidden;
        height: 243px;

        &--more {
            height: auto;
            overflow: visible;
        }
    }

    &__item {
        display: flex;
        max-width: 920px;
        margin-bottom: 50px;
        padding-bottom: 30px;
        border-radius: 10px;
        background-color: #212121;
        list-style-type: none;
        position: relative;

        &--my-board {
            position: relative;
            width: 300px;
            margin-right: 30px;
            margin-bottom: 40px;
            padding-bottom: 20px;
            overflow: hidden;
            flex-direction: column;
            align-items: center;
            &:nth-child(3n) {
                margin-right: 0;
            }
        }
    }

    &__img {
        width: 242px;
        padding-top: 38px;

        &--my-board {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            width: 100%;
            padding-top: 0;
            height: 200px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            overflow: hidden;
            background-color: #fff;
        }
        & img {
            width: 100%;
            height: auto;
        }
    }
    &__center {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-self: flex-start;
        width: 100%;
        margin-bottom: 2px;
        padding: 30px;
        padding-bottom: 0;
        font-family: CoreSansE-Light;

        &--my-board {
            height: auto;
            padding-bottom: 6px;
        }

        p {
            font-size: 14px;
            line-height: 24px;
            color: #9f9f9f;
        }
    }
    &__name {
        margin-bottom: 10px;
        font-family: CoreSansE-55Medium;
        font-size: 26px;
        color: #ffffff;
        line-height: 1.2;
    }
    &__subtitle {
        position: absolute;
        font-family: CoreSansE-55Medium, arial, sans-serif;
        font-size: 16px;
        z-index: 13;
        display: inline-block;
        top: 0;
        left: 0;
        padding: 10px 12px;
        background-color: #101010;
        border-bottom-right-radius: 12px;
        box-shadow: 0 -3px 40px 0 #000;
        color: #ffffff;
    }
    &__data-text-wrap {
        margin-bottom: 25px;
        font-family: CoreSansE-Light;
        font-size: 18px;
        &--status {
            font-size: 16px;
            margin-bottom: 0;
        }
    }

    &__data-text {
        font-size: 14px;
        line-height: 24px;

        &--text {
            padding-right: 12px;
        }
    }
    &__price-wrap {
        margin-bottom: 10px;
    }
    &__price {
        font-size: 18px;
        color: #f2cb96;
    }
    &__description {
        color: #9f9f9f;
    }

    &__buy-btn {
        min-width: 120px;
        padding-top: 5px;
        padding-bottom: 5px;
        display: block;
        font-size: 22px;
        padding: 6px 15px;
        border-radius: 28px;
        text-align: center;
        border: 2px solid #f2cb96;
        background-color: #1f1f1f;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
        color: #f2cb96;
        cursor: pointer;
        box-sizing: border-box;

        &--contacts {
            width: 100% !important;
            color: #f2cb96 !important;
            margin-bottom: 20px !important;
        }
        &--del {
            color: #f44336 !important;
        }
        &--add-new {
            min-width: 220px;
            padding-top: 14px;
            padding-bottom: 14px;
            color: #f2cb96 !important;
        }
        &:disabled {
            opacity: 0.4;
            border: 2px solid #f2cb96;
        }
    }
    &__btn-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding: 20px;
        padding-bottom: 0;
        width: 100%;
    }

    &__more-wrapper {
        width: 30px;
        height: 30px;
        background: #212121;
        border: 2px solid #262626;
        border-radius: 50%;
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
        z-index: 10;
    }

    &__more-btn {
        width: 10px;
        height: 5px;
        border-top: solid 5px #fff;
        border-left: solid 5px transparent;
        border-right: solid 5px transparent;
        position: relative;
        left: 8px;
        top: 10px;

        &--opened {
            transform: rotate(180deg);
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 30px;
    }
}

// ADAPTIVE
@media screen and (max-width: 1080px) {
    .board {
        &__item {
            &--my-board {
                &:nth-child(3n) {
                    margin-right: 30px;
                }
                &:nth-child(2n) {
                    margin-right: 0;
                }
            }
        }
    }
}
@media screen and (max-width: 800px) {
    .board {
        align-items: flex-start;
        justify-content: center;
        &__item {
            margin-right: 0;
            &:nth-child(3n) {
                margin-right: 0;
            }
        }
    }
}

@media (max-width: 768px) {
    .board {
        &__item {
            flex-direction: column;
            margin-bottom: 200px;
        }

        &__details {
            align-items: center;
            flex-wrap: wrap;
            order: 4;
            position: absolute;
            bottom: -169px;
            background-color: #212121;
            padding: 34px 8px 22px 8px;
            width: 100%;
            z-index: 5;
        }

        &__more-wrapper {
            order: 3;
        }
    }
}

@media screen and (max-width: 600px) {
    .crowd-board {
        &__wrap {
            padding-left: 0;
            padding-right: 0;
        }
        &__header-logo {
            width: 100%;
        }
        &__content {
            margin-top: -7px;
        }
    }
    .categories {
        width: auto;
        flex-wrap: nowrap;
        flex-direction: column;
        flex: 0 0 100%;
        padding: 0 15px;
        width: 330px;
        margin: 0 auto;
        align-items: center;

        &__item {
            flex: 0 0 100%;
            width: 100%;
            background-color: #212121;
            padding: 8px 0 8px 12px;

            &--hide {
                display: none;
            }

            &--show {
                display: block;
            }
        }

        &__amount {
            background-color: transparent;
            color: #9f9f9f;
        }

        &__show-all {
            display: block;

            span {
                padding-left: 8px;
            }
        }
    }

    .board {
        padding-top: 10px;

        &__item {
            margin-bottom: 30px;
            &--my-board {
                margin-right: 0;
            }
        }
        &__wrap {
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            height: auto;
        }
        &__img {
            // width: 100%;
            height: 260px;
            padding-top: 0;
            overflow: hidden;
            img {
                width: 100%;
                height: auto;
            }
        }
        &__details {
            position: static;
            padding-top: 0;
            text-align: center;
        }
        &__center {
            padding: 18px;
        }
        &__buy-btn {
            width: 250px;
            padding-top: 10px;
            padding-bottom: 10px;
            max-height: 100%;
        }
        &__more-wrapper {
            display: none;
        }
    }
    .new-board {
        &__wrap {
            width: 100%;
            padding: 30px 20px;
        }
    }
}
