.cwd-buttons {
    height: 38px;
    display: flex;

    .button {
        border: solid 2px #414141;
        border-radius: 20px;
        background-color: #212121 !important;
        color: #fff;
        height: 38px;
        text-align: center;
    }
}

.remove-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    color: #e0e0e0 !important;
    margin: 0 !important;
    cursor: pointer;
    background-color: inherit;
    outline: none;

    .icon > svg > path {
        stroke: #6d6d6d !important;
    }

    &:hover {
        .icon > svg > path {
            stroke: #ff0000 !important;
        }
    }
}

.inline-label {
    .button {
        text-align: center;

        span {
            margin: 0 auto;
        }
    }
}

.common-btn {
    text-align: center;
    border-radius: 20px;
    // border: solid 2px #414141;
    background: linear-gradient(180deg, #f2cb96 0%, #e6ba7d 100%);
    outline: none;
    color: #212121 !important;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px; // 125 X 40?
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    user-select: none;

    &:hover {
        background: linear-gradient(180deg, #ffddaf 0%, #ffd08e 100%);
        border-color: transparent;
    }

    &:active {
        box-shadow: inset 0px 1px 2px 0 #90662d;
        background-image: linear-gradient(to bottom, #cfa05f, #9b7239);
    }
}

.cwd-input {
    border-radius: 20px !important;
    background-color: #1e1e1e !important;
    border: 0 !important;
    height: 40px !important;
    font-family: "CoreSansE-Regular" !important;
    font-size: 16px !important;
    color: #6d6d6d !important;

    &:focus {
        color: #fff !important;
        border: 1px solid #f0c993 !important;
    }
}

.cwd-upload {
    &__upload-label {
        cursor: pointer;
        display: flex;
        align-items: center;
        height: 40px;
        margin-bottom: 17px;
        border: none !important;
        border-radius: 28px !important;
        box-shadow: inset 3px 12px 10px rgba(16, 16, 16, 0.25);
        background-color: #181818;
        color: #e1c697 !important;

        .icon {
            top: 6px;
            left: -6px;

            > svg > path {
                fill: #000 !important;
            }
        }
    }

    &__label-text {
        text-transform: none !important;
        font-size: 14px;
    }

    &__upload {
        display: none !important;
    }
}

@media (max-width: 576px) {
    .remove-btn {
        width: 30px;
        margin-left: 20px !important;
    }
}
