.header.menu-group {
    justify-content: flex-start;
}

.icon > svg {
    > path {
        fill: #fff;
    }
}

.float-left > span.icon.user {
    top: 0;
}

.header {
    .electron-navigation > ul > li {
        border: none;
    }
    &.primary {
        border-bottom: none;
    }
    padding-left: 0 !important;
    // min-height: 64px;
    // text-transform: uppercase;

    &__menu-bar > li {
        padding: 0;
        border-right: none;

        > a {
            font-weight: bold;
            line-height: 2rem;
            padding-left: 1.25rem;
            padding-right: 0.75rem;
            font-size: 18px;
            height: 100%;
            @include breakpoint(large) {
                padding-left: 1.75rem;
                padding-right: 1.75rem;
            }
        }
    }

    div.account-drop-down div.total-value {
        text-align: right;
        font-size: 80%;
        line-height: initial;
    }
}

div.header-balance {
    a {
        font-size: 90%;
        font-weight: bold;
        &:hover {
            background-color: transparent !important;
        }
    }
}

div.account-drop-down {
    font-size: 90%;
    .dropdown-divider {
        padding-bottom: 10px;
    }
    a.button {
        font-weight: bold;
        font-size: 90%;
        background-color: transparent;
    }
    a:active.button,
    a:hover.button {
        background-color: transparent !important;
    }
}

div.header-right-menu {
    > .grp-menu-item {
        border-left: none;
        line-height: 1;

        > a {
            @include breakpoint(large) {
                padding-left: 1.25rem;
                padding-right: 1.25rem;
            }
        }
    }
}

.grp-menu-items-group {
    flex-flow: row nowrap;
    display: flex;
    justify-content: flex-end;
}

.grp-menu-item {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    > a,
    .button {
        padding: 0.5rem;
        @include breakpoint(large) {
            padding-left: 0.75rem;
            padding-right: 0.75rem;
        }
        font-size: 1rem;
    }
}

.user-icon > a {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

.lower-case {
    text-transform: lowercase;
}

div.account-drop-down div.dropdown-wrapper {
    padding: 0;

    > li {
        list-style: none;
        > div.table-cell {
            padding: 15px 5px 14px 5px;
            text-align: center;
            vertical-align: middle;

            &:nth-child(2) {
                text-align: left;
                padding-left: 15px;
                padding-right: 20px;
            }
        }
    }
    > ul {
        padding-bottom: 0;
    }
    &.active {
        > ul {
            padding-bottom: 5px;
        }
    }
}

div.account-drop-down div.account-dropdown-wrapper {
    > li {
        > div.table-cell {
            height: 64px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

div.account-drop-down div.menu-dropdown-wrapper {
    > li {
        width: 64.55px;

        > div.table-cell {
            height: 64px;
            padding: 23px 5px 24px 5px;
        }
    }
}

ul.dropdown.header-menu {
    list-style-type: none;
    transition: padding 0s, height 3s linear;
    border: none;
    z-index: 1004;
    width: 263px !important;
    font-family: CoreSansE-Light, arial;
    margin: 0 !important;
    > li {
        height: 41px;
        padding: 2px 5px 2px 10px;
        font-size: 16px;
        font-weight: 300;
        color: #6d6d6d;
        z-index: 1004;

        &:hover {
            color: #fff;

            .icon > svg * {
                fill: #e1c697;
            }
        }
        > div {
            vertical-align: middle;
        }
        > div:first-of-type {
            padding-top: 5px;
            > span.icon > svg {
                height: 1.5rem;
                width: 1.5rem;
            }
        }
        > div:nth-of-type(2) {
            padding-left: 8px;
        }

        &.disabled {
            color: grey;
            cursor: not-allowed;
            opacity: 50%;

            svg > path {
                fill: grey !important;
            }
        }
        &.has-submenu {
            position: relative;
        }
        &.parent-item {
            .parent-item-icon {
                margin-right: 10px;
            }
        }
    }
    li.mobile-only {
        display: none;
    }
    li.desktop-only {
        display: block;
    }
}

.account-summary {
    text-align: right;
    line-height: initial;
    display: inline-block;

    .icon {
        margin-right: 5px;
    }

    svg path {
        fill: #fff;
    }
}

.account-name .icon {
    margin-right: 5px;
}

.account-name {
    color: #8c8c8c;
    text-align: left;
    font-size: 14px;
    font-weight: 300;
}

.active-account {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.hamburger-button {
    position: relative;
    bottom: 5px;
    left: -15px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top: 5px solid;
    border-right: 5px solid;
    margin: 15px;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    transform: rotate(135deg);
}

.hamburger-button-mobile {
    position: relative;
    bottom: 5px;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top: 5px solid;
    border-right: 5px solid;
    margin: 10px;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    transform: rotate(135deg);
}

.mobile-menu-container {
    display: none;
}

.mobile-menu-container-active {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #262626;
}

.mobile-menu-header {
    width: 100%;
    display: flex;
    height: 65px;
    padding-top: 30px;
}

.mobile-menu-account {
    width: 85%;
    display: flex;
}

.header__menu-block-mobile {
    width: 45% !important;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.icon-mobile {
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #b59567;
    margin-left: 20px;
}

.account-mobile-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-menu {
    width: 70%;
    position: absolute;
    top: 64px;
    left: 0;
    display: flex;
    justify-content: center;
}

.mobile-menu-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.locked {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.locked-mobile {
    display: none;
}

//HEADER

.header {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    height: 62px;
    &__container {
        display: flex;
        justify-content: space-between;
        min-height: 66px;
    }
    &__logo {
        height: 34px;
        margin: 0px 10px 0px 0px !important;
    }
    &__current-component {
        display: none;
        & a {
            .icon > svg * {
                fill: #ffffff;
            }
        }
    }
    &__account-block {
        display: flex;
    }
    &__account-inner {
        display: flex;
        align-items: center;
        height: 100%;
    }
    &__contract-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }
    &__icon {
        display: block;
        width: 100%;
    }
    &__name-wrap {
        display: flex;
        align-items: center;
        margin-bottom: 4px;
        cursor: pointer;
    }
    &__ambassador-icon {
        display: inline-block;
        width: 18px !important;
        height: 18px !important;
        transform: rotate(-45deg) !important;
        & svg * {
            fill: #b59567 !important;
        }
    }
    &__name {
        max-width: 160px;
        display: inline-block;
        border-bottom: 1px dashed #818181;
    }
    &__drop-icon-wrap {
        display: inline-block;
        height: 100%;
        padding-left: 9px;
        background-color: #1b1b1b;
    }
    &__drop-icon {
        display: block;
        width: 0;
        height: 0;
        margin-top: -3px;
        border: 3px solid transparent;
        border-top: 3px solid;
        border-right: 3px solid;
        color: #fff;
        transform: rotate(135deg);
    }
    &__balance-wrap {
        position: relative;
        max-width: 210px;
        padding-right: 28px;
        overflow: hidden;
    }
    &__unlock-wrap {
        padding-left: 21px;
        padding-right: 22px;
        border-left: 1px solid #262626;
    }
    &__menu-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }
    &__dropdown-ul {
        position: absolute;
        top: 65px !important;
        right: 77px;
        box-shadow: 0 7px 14px rgba(0, 0, 0, 0.5);

        .icon > svg * {
            fill: #6d6d6d;
        }
    }

    &__btn-wrap {
        display: flex;
    }
    &__connection-wrap {
        display: flex;
        align-items: center;
        & .label {
            grid-template-columns: auto !important;
            & .outer-circle {
                margin: 0 !important;
            }
        }
    }
    &__register-block {
        height: 100%;
        margin-right: 16px;
    }
    &__register-inner {
        display: flex;
        align-items: center;
        height: inherit;
        cursor: pointer;
        & svg * {
            fill: #e1c697 !important;
        }
        .icon {
            display: inline-block;
            margin-right: 10px;
        }
    }
    &__register-text {
        border-bottom: 1px dashed #818181;
    }
    &__deposit-link {
        color: #7bd500 !important;
        text-decoration: underline !important;
    }
}

@media (min-width: 768px) {
    .header {
        &__current-component {
            display: block;
        }
    }
}

@media screen and (max-width: 576px) {
    .header {
        &__container {
            display: flex;
            flex-wrap: wrap;
            padding-left: 16px;
        }
        &__account-block {
            justify-content: space-between;
            width: 100%;
        }
        &__balance-wrap {
            max-width: 182px;
            padding-right: 5px;
            overflow: scroll;
        }
        &__name {
            max-width: 160px;
        }
        &__hamburger-mobile {
            display: flex;
            align-items: center;
            margin-left: 14px;
            margin-right: 17px;
            & .icon {
                width: 20px !important;
                height: 25px !important;
                & svg {
                    width: 20px !important;
                    height: 25px !important;
                }
            }
        }
        &__unlock-wrap {
            padding-left: 14px;
            padding-right: 14px;
            & span.icon {
                width: 18px !important;
                height: auto !important;
                & svg {
                    width: 18px !important;
                    height: auto !important;
                }
            }
        }
        &__dropdown-ul {
            top: 64px !important;
            right: auto;
            left: 15px;
        }
        &__mobile-menu {
            position: absolute;
            z-index: 1000;
            top: 64px;
            bottom: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            background-color: #262626;
            & .footer .container {
                margin-left: 26px;
            }
        }
        &__register-block {
            display: flex;
            width: 100%;
            margin-right: 0;
            justify-content: space-between;
        }
    }
    .locked-mobile {
        display: flex;
        align-items: center;
        width: 60%;
        height: 100%;
        margin-right: 15px;
    }
}
@media screen and (max-width: 320px) {
    .header {
        &__balance-wrap {
            max-width: 116px;
        }
        &__name {
            max-width: 94px;
        }
    }
}
