.input-container {
    /* The container */
    display: flex;
    position: relative;
    padding-left: 30px;
    // margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
        /* Hide the browser's default checkbox */
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    &__checkbox {
        /* checkbox */
        position: absolute;
        top: 0;
        left: 0;
        width: 19px;
        height: 19px;
        border-radius: 3px;
        border: solid 2px #414141;
        background-color: #252525;

        &:after {
            /* Create the checkmark/indicator (hidden when not checked) */
            content: "";
            position: absolute;
            display: none;
            left: 7px;
            top: 3px;
            width: 6px;
            height: 12px;
            border: solid #000;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
        }
    }

    &__text {
        color: #6d6d6d;
        font-size: 16px;
        font-family: "CoreSansE-Regular" !important;
        text-transform: none !important;

        &--checked {
            color: #e1c697;
        }
    }

    &:hover input:not(:checked) ~ &__checkbox {
        /* On mouse-over */
        border: 2px solid #fff;
    }

    input:checked ~ &__checkbox {
        /* When the checkbox is checked, add a background */
        background-color: #e1c697;
        border: 0;
    }

    input:checked ~ &__checkbox:after {
        /* Show the checkmark when checked */
        display: block;
    }
}
