.pagination__nav--desc {
}

.pagination__nav--mob {
    visibility: hidden;
    // transform: scale(0);
    // width: 0;
}

.ant-pagination {
}

body.darkTheme .ant-pagination-jump-next,
body.darkTheme .ant-pagination-jump-prev,
body.darkTheme .ant-pagination-next,
body.darkTheme .ant-pagination-prev {
    font-family: CoreSansE-Regular;
}

body.darkTheme .ant-pagination-item {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: solid 2px #414141;
    background-color: #262626;
    font-family: CoreSansE-Regular;
    margin-bottom: 12px;

    &:focus,
    &:hover {
        // transition: all .3s;
        border-color: #e6ba7d;

        a {
            color: #e6ba7d;
        }
    }
}

body.darkTheme .ant-pagination-item a {
    padding-top: 3px;
    display: inline-block;
    color: #fff;
}

body.darkTheme .ant-pagination-item-active {
    background-image: linear-gradient(to bottom, #f2cb96, #e6ba7d);
    border: 0;

    a {
        padding-top: 4px;
        color: #212121;
    }

    &:focus {
        a {
            color: #212121;
        }
    }

    &:hover {
        a {
            color: #4d4d4d;
        }
    }
}

body.darkTheme .ant-pagination-next,
body.darkTheme .ant-pagination-prev {
    width: 132px;
    height: 40px;
    border-radius: 20px;
    border: solid 2px #414141;
    background-color: #262626;
    margin-bottom: 12px;

    &:hover:not(.ant-pagination-disabled) {
        border-color: #e6ba7d;

        a {
            color: #e6ba7d;
        }
    }
}

@media (max-width: 576px) {
    body.darkTheme .ant-pagination-next,
    body.darkTheme .ant-pagination-prev {
        width: 40px;
        height: 40px;
        border-radius: 20px;
    }

    .pagination__nav--desc {
        position: absolute;
        clip: rect(0 0 0 0);
        width: 1px;
        height: 1px;
        margin: -1px;
        cursor: pointer;
    }

    .pagination__nav--mob {
        visibility: visible;
        // transform: scale(1);
    }

    .pagination__nav-wrapper {
        // position: relative;
    }

    .pagination__arrow-wrapper {
        position: relative;
    }

    .pagination__arrow {
        position: relative;
        display: inline-block;
        right: 0;
        bottom: 4px;
        border: 7px solid;
        border-top: 7px solid;
        border-right: 7px solid;
        border-top-color: #e6ba7d !important;
        border-right-color: #e6ba7d !important;
        border-bottom-color: #262626 !important;
        border-left-color: #262626 !important;
        margin: 15px;
        vertical-align: middle;
        color: #e6ba7d !important;
        transform: rotate(-135deg);
        z-index: 99999;

        &--next {
            transform: rotate(45deg);
            right: 6px;
            // z-index: 999991;
        }
    }
}
