.send-message {
    &__container {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        padding-bottom: 28px;
        z-index: 100;
    }
    &__inner {
        margin-right: 20px;
    }
    &__text {
        padding-right: 7px;
        font-family: CoreSansE-Light;
        font-size: 24px;
        color: #ffffff;

        &--name {
            padding-right: 0;
            font-family: CoreSansE-55Medium;
            color: #e1c697;
        }
    }
    &__btn {
        display: block;
        font-weight: 300;
        line-height: 1.5;
        color: #f2cb96;
        padding: 6px 21px;
        border-radius: 35px;
        border: 2px solid #414141;

        &:hover {
            cursor: pointer;
        }

        & img {
            width: 26px;
            margin-left: 6px;
        }
    }
    &__acc-name {
        font-size: 16px;
        font-family: CoreSansE-55Medium;
        color: #ffffff;
    }
}
.send-message-popup {
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -250px;
    width: 500px;
    padding: 30px 20px;
    padding-top: 20px;
    background-color: #212121;
    border-radius: 10px;
    box-shadow: 0px 10px 18.3px 2.7px rgba(13, 17, 21, 0.55);
    box-sizing: border-box;
    z-index: 1010;
    &__modal-close {
        position: absolute !important;
        top: -30px !important;
        right: 10px;
        z-index: 1011;
        cursor: pointer;
    }
    &__text {
        display: inline-block;
        margin-bottom: 13px;
        font-family: CoreSansE-Light !important;
        font-size: 14px;
        line-height: 1.3;
        color: #6d6d6d;
    }
    &__field {
        display: block;
        max-width: 100%;
        margin-bottom: 30px !important;
        padding: 14px 26px !important;
        border: none !important;
        border-radius: 28px !important;
        box-shadow: inset 0px 9px 18px 0 rgba(0, 0, 0, 0.14);
        background-color: #1e1e1e;
    }
    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 300px;
        margin: 0 auto !important;
        height: 40px;
        border-radius: 25px;
        border: solid 2px #f2cb96;
        background-color: #262626;
        outline: none;
        font-size: 14px !important;
        color: #f2cb96 !important;
        &:disabled {
            opacity: 0.4;
        }
    }
    &__overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.65);
        height: 100%;
        z-index: 1000;
    }
}
@media screen and (max-width: 576px) {
    .send-message {
        &__container {
            align-items: center;
            flex-direction: column;
            margin-right: 0;
            margin-left: 0;
            width: 100%;
            padding-bottom: 34px;
        }
        &__inner {
            margin-bottom: 20px;
            margin-right: 0;
            &:last-child {
                margin: 0;
            }
        }
    }
    .send-message-popup {
        margin-left: -155px;
        width: 310px;
    }
}
