.settings-menu {
    h3 {
        color: #fff !important;
    }

    > ul {
        > li {
            list-style-type: none;
            cursor: pointer;
            padding: 5px 0;
            color: #6d6d6d !important;
            &:hover {
                background-color: red;
                color: #e1c697 !important;
            }

            &.active {
                color: #e1c697 !important;
            }
        }
    }
}

.settings--notifications {
    input[type="checkbox"] {
        cursor: pointer;
    }
    .settings--notifications--group {
        margin: 15px 10px;
        .settings--notifications--item {
            label {
                text-transform: none;
                color: #e1c697;
            }
        }
    }
    > .settings--notifications--group {
        margin-left: 0;
    }
}

.nodes-header {
    text-transform: uppercase;
    font-size: 1rem;
    padding: 6px 10px;
    margin-bottom: 2em;
    font-weight: 500;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    transition: border-color 0.3s ease 0s;
    overflow: hidden;
}

.api-node {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 200px 200px auto;
    align-items: center;
    padding: 10px;
    padding-left: 15px;
    background-color: #2a2a2a;
    &:nth-child(even) {
        background-color: transparent;
    }
    &__wrap {
        margin-bottom: 30px;
    }
    &__btn-wrap {
        display: flex;
        width: 100px;
        align-items: center;
        justify-content: space-between;

        > div {
            cursor: pointer;
        }
    }
    .icon > svg * {
        fill: #6d6d6d;
    }
    .api-status {
        overflow-wrap: break-word;
        font-size: 80%;
    }

    &-url {
        color: #e6cfa7 !important;
        text-decoration: underline !important;
        font-size: 14px;
    }

    &-url:hover {
        color: #e6cfa7;
    }

    p {
        margin-bottom: 0;
    }

    &-left {
        > p.api-node-url {
            overflow-wrap: break-word;
            font-size: 80%;
        }

        > p.api-node-operator {
            overflow-wrap: break-word;
            font-size: 80%;
            float: right;
            color: gray;
        }
    }

    &-center {
        width: 30%;
    }

    &-right {
        width: 20%;
        text-align: right;
    }

    .row {
        &:first-of-type {
            margin-bottom: 20px;
        }
        p {
            width: 50%;
        }
        > div {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}

#mainContainer {
    .nodes {
        &__btn {
            margin-bottom: 20px;
        }
        .api-node {
            &-right {
                flex-direction: row;
                align-items: center;
                .row {
                    justify-content: flex-end;
                    &:first-of-type {
                        margin: 0;
                    }
                }
            }
        }
    }
    .nodes {
        .api-node {
            .row {
                &:first-of-type {
                    margin: 10px 0;
                }
            }
        }
    }
}

.active-node {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-bottom: 20px;
}

.line-bg {
    position: relative;
    padding: 15px 0;
    &:nth-of-type(even):before {
        content: "";
        background: #2a2a2a;
        position: absolute;
        top: 0;
        left: -15px;
        width: 100vw;
        height: 100%;
    }
}

.grid-content {
    overflow-x: hidden;
}

div.api-status a .default-icon {
    display: flex;
    flex-direction: column;
    .row {
        align-items: center;
        justify-content: space-between;
    }
}

div.api-status a:hover .default-icon {
    display: none;
}

div.api-status a .hover-icon {
    display: none;
}

div.api-status a:hover .hover-icon {
    display: block;
}

.auto-node {
    &__inner {
        display: flex;
        justify-items: center;
        justify-content: space-between;
    }
    margin-bottom: 2rem;
}
.nodes {
    &__header {
        display: flex;
    }
}

#mainContainer
    > div.grid-block.vertical
    > div
    > div.grid-block.main-content.margin-block.wrap
    > div:nth-child(2)
    > div
    > section
    > header
    > span {
    text-transform: none;
    color: #6d6d6d !important;
}

#mainContainer
    > div.grid-block.vertical
    > div
    > div.grid-block.main-content.margin-block.wrap
    > div:nth-child(2)
    > div
    > h3 {
    color: #fff;
}

#mainContainer
    > div.grid-block.vertical
    > div
    > div.grid-block.main-content.margin-block.wrap
    > div:nth-child(2)
    > div
    > span {
    color: #fff;
}
#mainContainer
    > div.grid-block.vertical
    > div
    > div.grid-block.main-content.margin-block.wrap
    > div:nth-child(2)
    > div
    > section
    > ul
    > li
    > select
    > option {
    color: #fff !important;
}

#mainContainer
    > div.grid-block.vertical
    > div
    > div.grid-block.main-content.margin-block.wrap
    > div:nth-child(2)
    > div
    > table
    > tbody
    > tr
    > td:nth-child(2)
    > a
    > span {
    color: #e1c697;
}

#mainContainer
    > div.grid-block.vertical
    > div
    > div.grid-block.main-content.margin-block.wrap
    > div:nth-child(2)
    > div
    > table
    > tbody
    > tr
    > td:nth-child(3)
    > a
    > span {
    color: #e1c697;
}

#mainContainer
    > div.grid-block.vertical
    > div
    > div.grid-block.main-content.margin-block.wrap
    > div:nth-child(2)
    > div
    > div
    > div.auto-node
    > div
    > div {
    color: #6d6d6d !important;
}

#mainContainer
    > div.grid-block.vertical
    > div
    > div.grid-block.main-content.margin-block.wrap
    > div:nth-child(2)
    > div
    > div
    > h4 {
    color: #fff !important;
}

#mainContainer
    > div.grid-block.vertical
    > div
    > div.grid-block.main-content.margin-block.wrap
    > div:nth-child(2)
    > div
    > div
    > div.auto-node
    > div
    > button {
    border-radius: 20px !important;
    background-color: #1e1e1e !important;

    &:after {
        border-radius: 50% !important;
    }
}

#mainContainer
    > div.grid-block.vertical
    > div
    > div.grid-block.main-content.margin-block.wrap
    > div:nth-child(2)
    > div
    > div
    > div.auto-node
    > div
    > button.ant-switch.ant-switch-checked:after {
    background-color: #f2cb96 !important;
}

#mainContainer
    > div.grid-block.vertical
    > div
    > div.grid-block.main-content.margin-block.wrap
    > div:nth-child(2)
    > div
    > div
    > div.active-node
    > h4 {
    color: #fff;
}

#mainContainer
    > div.grid-block.vertical
    > div
    > div.grid-block.main-content.margin-block.wrap
    > div:nth-child(2)
    > div
    > span {
    margin-bottom: 20px;
}

.button-cwd {
    width: 201px;
    height: 40px;
    border-radius: 20px;
    border: solid 2px #414141;
    color: #414141;
    background-color: #262626;

    &:hover {
        color: #fff;
        border: solid 2px #fff;
    }
}

#mainContainer .active-node button.button {
    width: 201px;
    height: 40px;
    border-radius: 20px;
    border: solid 2px #414141;
    background: #262626;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important;

    &:hover {
        color: #fff;
        border: solid 2px #fff;
        background-color: #262626 !important;
    }
}

.cwd-button {
    width: 140px !important;
    height: 40px !important;
    border-radius: 20px !important;
    background-color: #f2cb96 !important;
    border: none;
    color: #2a2a2a !important;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    & span {
        font-family: CoreSansE-Light, arial;
        font-weight: 700 !important;
    }

    &:hover {
        background-color: #b59567 !important;
    }
}

.darkTheme .api-status span {
    &.low {
        color: #a4f93a;
    }
    &.low > svg > path {
        fill: #a4f93a;
    }
    &.medium {
        color: #ffc107;
    }
    &.medium > svg > path {
        fill: #ffc107;
    }
    &.high {
        color: #ff0000;
    }
    &.high > svg > path {
        fill: #ff0000;
    }
}

@media (max-width: 500px) {
    #mainContainer {
        .active-node,
        .nodes {
            button.button {
                width: 35vw;
                height: 9vw;
                border-radius: 16vw;
                font-size: 3.7vw;
            }
            h4 {
                margin: 4vw 3vw 4vw 0;
                font-size: 4vw;
            }
        }
        .nodes {
            &__header {
                flex-wrap: wrap;
            }
        }
        .api-node {
            padding-left: 10px;
            grid-template-columns: 100%;
        }
        .api-status {
            &--ping {
                padding-top: 16px;
                margin-bottom: 10px;
            }
        }
    }
}
