@keyframes fadeInOut {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.referral-link {
    background: transparent;
    border: 0;
    color: #6d6d6d !important;
    font-size: 16px;
    width: 100%;

    &__note {
        opacity: 0;
        position: absolute;
        top: -80px;
        left: 80px;
        margin-left: -50px;
        padding: 15px;
        font-size: 16px;
        color: #fff;
        text-align: center;
        background-color: #212121;
        border-radius: 5px;
        box-shadow: 0px 12px 24px 0 #0e0e0e;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        box-shadow: 0 5px 10px 0px #2d2d2d;
        &--fadeIn {
            animation-name: fadeInOut;
            animation-duration: 1.5s;
        }

        &:after {
            // triangle
            content: "";
            position: absolute;
            bottom: 0;
            left: 30%;
            width: 0;
            height: 0;
            border: 16px solid transparent;
            border-top-color: #212121;
            border-bottom: 0;
            border-left: 0;
            margin-left: -10px;
            margin-bottom: -15px;
        }
    }
}

.acc-btn {
    cursor: pointer;
    &--wrap {
        position: relative;
    }
    &__inner {
        display: block;
        padding: 14px 20px;
        font-size: 12px;
        color: #ffffff !important;
        text-transform: uppercase;
        text-align: center;
        background: #ffbc2b;
        border-radius: 39px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        &:hover {
            background: darken(#ffbc2b, 3%);
        }
    }

    &__block {
        position: relative;
        z-index: 3;
    }
}

.structure {
    &__wrap {
        width: 100%;
        padding-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
    }
    &__current-acc {
        font-size: 22px;
        font-weight: bold;
        color: #fff;

        span:first-of-type {
            margin-right: 6px;
        }
    }
    &__text {
        font-size: 14px;
        text-transform: none !important;
        &--hightlighted {
            color: #e1c697 !important;
            font-size: 18px;
            text-decoration: underline !important;
        }
    }
    &__title {
        color: #fff;
        font-size: 18px;
        font-family: "CoreSansE-55Medium";
        &--link {
            color: #e1c697;
            text-decoration: underline;
        }
    }
    &__title-wrap {
        margin-bottom: 20px;
    }
    &__toggler {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 2px;
        padding-left: 10px;

        span {
            font-size: 18px;
            font-family: "CoreSansE-Light" !important;
        }
    }
    &__checkbox {
        margin-right: 7px !important;
    }
    &__list {
        list-style: none;
        margin: 0;
        padding: 0;

        li:nth-child(even) {
            background-color: #2a2a2a;

            .structure-item__data {
                background-color: #2a2a2a;
            }
        }
    }

    &__sponsor-wrapper {
        margin-bottom: 8px;
    }

    &__link {
        text-decoration: underline !important;
        color: #e1c697 !important;
    }
}

.structure-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: #ffffff;

    &--data {
        margin-bottom: 15px;
    }

    &__left {
        display: flex;
        align-items: baseline;
        justify-content: flex-start;
    }
    &__right {
        width: 50%;
        align-items: baseline;
    }
    &__user-data {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: stretch;
        align-items: stretch;
        -webkit-box-pack: justify;
        justify-content: space-between;
        width: 580px;
        margin-bottom: 40px;
    }
    &__data-container {
        width: 40%;
    }
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 6px;
        padding-bottom: 6px;
    }
    &__data-item {
        display: inline-block;
        color: #6d6d6d;
        font-size: 16px;
        font-family: "CoreSansE-Light";
        &--value {
            color: #e1c697 !important;
            font-family: "CoreSansE-Regular";
        }
        &--link {
            font-family: "CoreSansE-55Medium", arial, sans-serif;
            border-bottom: 1px solid #e1c697;
        }
    }
    &__progress {
        width: 580px;
        padding: 20px;
        margin-bottom: 25px;
        background-color: #212121;
        border-radius: 10px;
    }
    &__indicator-title {
        display: inline-block;
        width: 100%;
        text-align: center;
        margin-bottom: 16px;
        color: #fff;
        font-family: "CoreSansE-Light";
        font-size: 16px;
    }

    &__data-item--value-white {
        color: #fff !important;
        border: 0;

        span {
            color: #6d6d6d;
        }
    }
}

.structure-item {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;

    &__img-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        background-color: #1a1a1a;
        margin-right: 7px;
        box-sizing: border-box;
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }
    &__img {
        height: auto;
        width: auto;
        min-width: 41px;
    }
    &__block {
        display: flex;
    }
    &__inner {
        display: flex;
        flex-direction: column;
    }
    &__data {
        padding-left: 15px;
        padding-right: 10px;
        background-color: #262626;
        font-size: 16px;
        &--name {
            display: inline-block;
            width: 130px;
            & a {
                display: inline-block;
                width: inherit;
                overflow: hidden;
                line-height: 1.1;
            }
        }
        &--value {
            color: #fff;
        }
    }

    &__title-mob {
        display: none;
    }

    &__row {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        height: 85px;

        &--head {
            flex-wrap: nowrap;
            height: auto;
            align-items: flex-start;
            padding-bottom: 14px;
        }

        &--hide {
            display: none;
        }
    }

    &__column {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
        text-align: center;
        max-width: 120px;
        min-width: 106px;
        padding-left: 10px;
        font-size: 12px;
        color: #6d6d6d;
        line-height: 1.1;

        &:first-child {
            max-width: 200px;
            min-width: 150px;
        }
    }

    &__name-wrapper {
        display: flex;
        flex-direction: column;
        text-align: left;

        .structure-item__data--value {
            font-family: "CoreSansE-Light";
        }
    }

    &__name {
        flex-direction: row;
    }

    a {
        color: #e1c697 !important;
        text-decoration: underline !important;
    }

    &__msg {
        font-size: 14px;
        font-family: "CoreSansE-Light";

        &--mob {
            color: #e6ba7d;
            font-size: 16px;
        }
    }

    &__ref-link {
        color: #e1c697;
    }

    &__ref-inner {
        display: flex;
    }
}

.structure-item__inner--link {
    & .structure-item__data--ref-link {
        margin-bottom: 0 !important;
        color: #e1c697 !important;
        border: none;
        padding: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 0 !important;
        font-size: 14px !important;
        font-family: "CoreSansE-Light";
    }
}

//IDICATORS
.react-sweet-progress {
    justify-content: space-between;
    margin-bottom: 25px;

    &:last-of-type {
        margin-bottom: 0;
    }
}
.react-sweet-progress-symbol {
    color: #fff !important;
    font-size: 14px;
    font-family: "CoreSansE-Light";

    svg > path {
        fill: #a4f93a;
    }

    svg > g {
        stroke: #000;
    }
}

.react-sweet-progress-line {
    width: 92%;
    background-color: #1a1a1a !important;
}

.react-sweet-progress-line-inner {
    height: 21px;
}

// Search
.user-team {
    &__search-wrap {
        display: flex;
        align-items: center;
        margin-bottom: 50px;
        flex-wrap: wrap;
    }

    &__acc-filter {
        width: 263px !important;
        height: 40px !important;
        border-radius: 35px !important;
        border-top-right-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        border-color: transparent !important;
        box-shadow: inset 0px 9px 18px 0 rgba(0, 0, 0, 0.14) !important;
        background: #1e1e1e url("../../assets/img/search.png") no-repeat scroll
            94% 50%/14px;
        padding-right: 16px !important;
        color: #6d6d6d !important;
        text-transform: lowercase;
        &--no-margin {
            margin: 0 !important;
        }
        &--border-radius {
            border-top-right-radius: 35px !important;
            border-bottom-right-radius: 35px !important;
        }
    }

    &__search-btn {
        margin-right: 25px;
        border-radius: 35px !important;
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
    }

    &__search-title {
        color: #6d6d6d;
        font-family: "CoreSansE-Light";
        margin-right: 23px;
    }
    &__active-checkbox {
        margin-bottom: 0;
    }
}

// ADAPTIVE
@media screen and (max-width: 992px) {
    .structure-block {
        flex-direction: column;
        align-items: flex-start;

        &__progress {
            max-width: 576px !important;
            width: 100%;
        }
    }
    .structure-item {
        &__column {
            min-width: 95px;
        }
    }
}

@media screen and (max-width: 600px) {
    .structure {
        &__wrap {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
        }
        &__current-acc {
            display: inline-block;
            margin-bottom: 11px;
        }
        &__text {
            font-size: 18px;
        }
        &__title {
            font-size: 20px;
        }

        &__toggler {
            margin-bottom: 78px;
        }
    }
    .user-team {
        &__search-wrap {
            flex-direction: column;
            align-items: flex-start;
        }
        &__search-title {
            margin-bottom: 16px;
            margin-right: 0;
        }
        &__acc-filter {
            width: 100% !important;
            height: 50px !important;
            margin-bottom: 20px !important;
            margin-right: 0 !important;
            border-top-right-radius: 35px !important;
            border-bottom-right-radius: 35px !important;
            &--border-radius {
                width: 100% !important;
                height: 40px !important;
            }
        }
        &__search-btn {
            width: 100%;
            margin-bottom: 22px;
            margin-right: 0;
            padding-top: 14px !important;
            padding-bottom: 14px !important;
            border-top-left-radius: 35px !important;
            border-bottom-left-radius: 35px !important;
        }
        &__active-checkbox {
            margin-left: 20px;
        }
    }
    .structure-block {
        margin-bottom: 0;
        padding-bottom: 9px;

        &:first-of-type {
            margin-bottom: 9px;
            padding-bottom: 0;
        }

        &__user-data {
            flex-direction: column;
        }
        &__data-container {
            width: 100%;
        }

        &__inner {
            justify-content: flex-start;
        }

        &__data-item {
            width: 240px;
        }

        &__indicator-title {
            text-align: left;
        }

        &__progress {
            margin-bottom: 25px;
            padding-left: 15px;
            padding-right: 15px;
        }

        &--data {
            flex-direction: column;
        }
        &__user-data {
            width: 100%;
        }
        &__left {
            flex-direction: column;
            width: 100%;
        }
        &__right {
            width: 100%;
            padding-left: 10px;
        }
    }
    .structure-item {
        flex-wrap: wrap;

        &__row {
            align-items: stretch;
            height: auto;
            padding: 12px;

            &--head {
                display: none;
            }
        }

        &__block {
            width: 100%;
            flex-direction: column;
            margin-top: 29px;
            margin-bottom: 31px;
            padding: 0px;
        }
        &__column {
            align-items: center;
            margin-bottom: 9px;
            color: #fff;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &__inner {
            flex-direction: row;
            &:nth-child(odd) {
                background-color: #262626;
            }
            &:nth-child(even) {
                background-color: #2b2b2b;
            }
        }
        &__img-wrap {
            margin-right: 15px;
        }
        &__data {
            &:first-child {
                width: 70%;
                margin-bottom: 0;
            }
            &--value {
                width: 30%;
            }
        }

        &__title-mob {
            display: inline-block;
        }

        &__column {
            max-width: none;
            text-align: left;
            padding: 0;

            &:first-child {
                max-width: none;
            }
        }

        &__ref-wrapper {
            display: flex;
            height: 26px;

            .icon {
                margin-left: 6px;
            }
        }

        &__ref-text {
            height: 24px;
            margin-right: 6px;
            color: #6d6d6d;
            border-bottom: 1px dotted #6d6d6d;
        }

        &__data {
            &--contract {
                color: #e6ba7d;
                text-decoration: underline;
            }
        }
    }

    .react-sweet-progress {
        width: 300px;
    }
    .react-sweet-progress-symbol {
        font-size: 16px;
    }
    .react-sweet-progress-line-inner {
        height: 20px;
    }
    .structure-mobile {
        align-items: stretch;
        // margin-bottom: 14px;
        margin-top: 14px;

        &__user-data {
            margin-right: 10px;
        }
        & .structure-item__data--ref-link {
            margin-bottom: 0 !important;
            color: #e1c697 !important;
            border: none;
            padding: 0;
            padding-top: 5px;
            padding-bottom: 5px;
            border-radius: 0 !important;
            font-size: 14px !important;
            width: 100%;
        }
    }

    .structure-mobile {
        display: flex;
        width: 100%;

        &__wrap {
            width: 270px;
        }
    }

    .referral-link {
        &__note {
            left: -76px;
            top: -68px;
        }
    }
}

@media screen and (max-width: 330px) {
    .structure-block {
        &__data-item {
            width: 208px;
        }
    }
}
