.tab-counter {
    display: inline-flex;
    padding: 2px 5px;
    margin-left: 11px;
    background: #68a11a;
    min-width: 19px;
    height: 19px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    &__num {
        color: #fff;
        font-weight: bold;
        justify-content: center;
        line-height: 1;
        font-size: 12px;
    }
}
