// Typeahead
input[role="combobox"] {
    padding: 5px 10px;
    width: 100%;
    box-sizing: border-box;
}

.typeahead {
    position: relative;
    display: inline-block;
    width: 100%;

    .typeahead__input {
        width: 100%;
        height: 2.4rem;
        font-size: 14px;
        border-radius: 5px;
        padding: 10px 14px;
        padding-bottom: 10px;
        min-width: 240px;
    }

    .typeahead__innerList {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 4px;
        padding-bottom: 6px;
        position: absolute;
        width: 100%;
        // max-width: 460px;
        z-index: 1000;
        margin-top: -40px;
        border-radius: 0px 0px 8px 8px;
    }

    .typeahead__innerItem {
        padding: 8px;
    }

    > div {
        width: 100%;
        > div {
            z-index: 1003;
        }
    }

    .icon.chevron-down:hover,
    .selectWrapper:hover {
        cursor: pointer;
    }
}

.selectWrapper + .icon.chevron-down {
    pointer-events: none;
}
