.white-list {
    .permissions__key-wrap {
        margin: 10px;
        margin-left: 0;
    }

    .account-image {
        width: 24px;
    }

    .icon > svg > path {
        fill: #6d6d6d !important;
    }

    .icon > svg > circle {
        fill: #6d6d6d !important;
    }

    .cwd-buttons {
        .button {
            margin-left: 15px;
        }
    }

    .inline-label {
        height: auto;
    }

    &__header {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 0 !important;
    }

    &__amount {
        font-family: "CoreSansE-55Medium";
        font-size: 18px;
        color: #fff !important;
        display: flex;
        width: 100%;
        margin-bottom: 20px;

        @media (max-width: 480px) {
            justify-content: center !important;
        }

        &--bottom {
            margin-bottom: 20px;
        }

        span {
            margin-right: 4px;
        }
    }
}

@media (max-width: 900px) {
    .white-list {
        .inline-label {
            display: flex;
            flex-direction: column;

            // .button {
            //     max-width: 200px;
            // }
        }

        &__header {
            flex-direction: column;
            align-items: stretch;
        }

        .permissions__key-wrap {
            margin: 10px 0;
        }
    }

    select.bts-select {
        padding-right: 40px !important;
        font-size: 16px !important;
        color: #fff !important;
        // height: 3em !important;
    }
}

@media (max-width: 768px) {
    .white-list {
        &__header {
            text-align: center;
        }
    }
    .cwd-buttons {
        .button {
            margin-top: 15px;
        }
    }
}

#mainContainer
    > div.grid-block.vertical
    > div
    > div
    > div
    > div
    > div
    > div
    > div.tab-content.grid-content.shrink.small-vertical.medium-horizontal.no-padding
    > div
    > div.white-list__header
    > div.account-selector
    > div
    > div
    > div
    > div
    > div.typeahead__input {
    color: #6d6d6d !important;
}

#mainContainer
    > div.grid-block.vertical
    > div
    > div
    > div
    > div
    > div
    > div
    > div.tab-content.grid-content.shrink.small-vertical.medium-horizontal.no-padding
    > div
    > div.account-selector
    > div
    > div {
    width: 550px !important;

    @media (max-width: 480px) {
        width: 100% !important;
    }
}

@media (max-width: 576px) {
    .white-list {
        .cwd-buttons {
            .button {
                margin-left: 0;
            }
        }
    }
}
