.game-heads {
    &__wrap {
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 15px;
    }
    &__tab {
        padding-top: 30px;
    }
    &__bets-wrap {
        width: 100%;
        margin: 0;
        margin-bottom: 50px;
    }
    &__list {
        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
        justify-content: flex-start;
        list-style: none;
        padding: 0;
    }
    &__title {
        font-family: "CoreSansE-55Medium", arial, sans-serif;
        font-size: 50px !important;
        color: #ffffff !important;
    }
    &__text {
        display: block;
        margin-bottom: 25px;
        font-family: "CoreSansE-55Medium", arial, sans-serif;
        font-size: 24px;
        color: #ffffff;
    }
    &__desc-wrap {
        max-width: 600px;
        margin-bottom: 30px;
    }
    &__description {
        font-family: CoreSansE-Light, arial;
        font-size: 14px;
        color: #ffffff;
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 260px;
        margin-bottom: 30px;
        margin-right: 41px;
        padding: 10px 20px;
        border-radius: 12px;
        background-color: #1a1a1a;
        transform: translateY(0);
        transition: all 0.3s ease;
        &:nth-child(2n) {
            margin-right: 0;
        }
        &:hover {
            background-color: darken(#242424, 4%);
            box-shadow: 0 6px 16px 0 #000000;
            transform: translateY(-2px);
        }
    }
    &__inner {
        margin-right: 30px;
    }

    &__asset {
        font-family: "BebasNeueBold", arial, sans-serif;
        font-size: 36px;
        color: #e1c697;
        text-transform: uppercase;
    }

    &__modal-btn-wrap {
        display: flex;
        justify-content: center;
    }

    &__btn {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        cursor: pointer;
        width: 148px;
        height: 189px;
        background-color: #212121;
        border: solid 2px #414141;
        border-radius: 10px;
        margin-right: 10px !important;
        margin-bottom: 15px !important;
        padding: 0;
        &:hover {
            box-shadow: 0 11px 13px 3px #1b1b1b;
            transform: translateY(-3px);
        }
        &:focus {
            outline: none;
        }
        &:active {
            outline: none;
        }
    }

    &__coin {
        background-image: url("../../../assets/img/5_3x.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50% 100%;
        height: 50px;
        width: 100px;
        &--5 {
            background-position: 3px 100%;
        }

        &--10 {
            background-image: url("../../../assets/img/10_3x.png");
        }

        &--25 {
            background-image: url("../../../assets/img/25_3x.png");
            background-position: 8px 3px;
            height: 62px;
        }

        &--50 {
            background-image: url("../../../assets/img/50_3x.png");
            background-position: 16px 0;
            height: 62px;
        }

        &--custom {
            background-image: url("../../../assets/img/custom_3x.png");
            background-position: 17px 0px;
            height: 70px;
        }
    }

    &__amount {
        font-family: CoreSansE-65Bold, sans-serif;
        font-size: 30px;
        color: #fff;

        &--custom {
            font-size: 18px;
        }
    }
    &__input-amount {
        width: 140px !important;
        margin: auto !important;
        padding: 10px 4px !important;
        text-align: center;
        border-radius: 10px;
    }

    &__logo {
        width: 715px;
        height: 350px;
        margin-bottom: 20px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__modal {
        display: block;
        position: fixed;
        z-index: 1100;
        left: 0;
        top: 200px;
        width: 100% !important;
        height: 100%;
        overflow: auto;
    }

    &__modal-content {
        position: relative;
        margin: auto;
        padding: 30px 30px;
        padding-top: 54px;
        width: 320px;
        height: auto;
        border-radius: 20px;
        box-shadow: 1.3px 24px 59.3px 19.8px rgba(0, 0, 0, 0.6);
        background-color: #262626;

        .common-btn {
            padding: 14px 20px;
            border-radius: 32px;
            font-size: 18px;
            display: block;
        }
    }

    &__modal-title {
        font-size: 24px;
        font-family: "CoreSansE-55Medium";
        margin-bottom: 32px;
    }

    &__modal-subtitle {
        font-size: 18px;
        margin-bottom: 18px;
    }

    &__modal-bet {
        display: flex;
        margin-bottom: 20px;
        flex-wrap: wrap;

        div:first-child {
            color: #6d6d6d;
            margin-right: 6px;
        }

        div,
        span {
            margin-bottom: 6px;
        }
    }

    &__modal-amount {
        margin-right: 28px;

        span {
            display: inline-block;
            margin-right: 6px;
        }

        div {
            display: inline-block;
        }
    }

    &__modal-all {
        color: #e1c697;
        font-family: "CoreSansE-Light";
        font-size: 16px;
        text-decoration: underline;
        text-decoration-style: dotted;
        cursor: pointer;
    }

    &__modal-input-wrapper {
        margin-bottom: 28px;
        display: flex;
    }

    &__modal-input {
        height: 40px !important;
        border-radius: 20px !important;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border: 0 !important;
        box-shadow: inset 0px 9px 18px 0 rgba(0, 0, 0, 0.14) !important;
        background-color: #1e1e1e !important;
        border-right: 0px !important;
    }

    &__modal-input-currency {
        width: 68px !important;
        height: 40px !important;
        text-align: right;
        border-radius: 20px !important;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-left: 0px !important;
        border: 0 !important;
        box-shadow: inset 0px 9px 18px 0 rgba(0, 0, 0, 0.14) !important;
        background-color: #1e1e1e !important;
        margin-left: -2px !important;
        font-family: "CoreSansE-55Medium" !important;
    }

    &__modal-close {
        position: absolute !important;
        top: 18px !important;
        right: 18px;
        cursor: pointer;
    }
}

.game-heads__btn.user-btn {
    margin-right: 0 !important;
}

.heads-bet {
    &__row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        padding: 10px;
        padding-right: 0;
        &:nth-child(even) {
            background-color: #212121;
        }
        &:nth-child(odd) {
            background-color: #353535;
        }
    }

    &__column {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 20%;
        font-size: 14px;
        font-family: CoreSansE-Light;
        &:last-child {
            justify-content: center;
        }
        &--time {
            width: 25%;
        }
        & span {
            text-align: center;
        }
        & .blockchain__link {
            width: 96%;
            overflow: hidden;
        }
    }

    &__icon {
        cursor: pointer;
        & svg * {
            fill: #f2cb96;
        }
    }

    &__reply {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 123px;
        padding: 8px 12px;
        border-radius: 5px;
        border: 1px solid #e1c697;
        color: #e0e0e0;
        padding: 6px 14px;
        cursor: pointer;
        &:hover {
            .icon > svg > path {
                fill: #e1c697;
            }
        }
    }
    &__reply-text {
        color: #e1c697;
        font-size: 16px;
    }

    &__date {
        color: #6d6d6d;
    }

    &__head {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        padding: 10px;
        padding-right: 0;
        color: #fff;

        div {
            font-size: 16px;
        }
    }
    &__title {
        padding-left: 6px;
        font-size: 24px;
        padding-bottom: 10px;
        margin-bottom: 0;
        color: #fff;
    }
    &__list {
        width: 780px;
        margin-left: 0 !important;
        margin-bottom: 70px !important;
    }
    &__amount {
        padding-right: 8px;
    }
    &__asset {
        font-size: 14px;
        color: #ffffff;
    }
    &__btn {
        display: block;
        width: 120px;
        padding: 10px 0;
        border-radius: 5px;
        background-color: #000 !important;
        text-align: center;
        border: 1px solid #e1c697;
        cursor: pointer;
        &:focus {
            outline: none;
        }
        &:active {
            outline: none;
        }
    }
    &__btn-text {
        color: #e1c697 !important;
        font-size: 16px !important;
    }
}

@media screen and (max-width: 1080px) {
    .game-heads {
        &__logo {
            width: 700px;
            min-height: 300px;
            height: auto;
            background-size: contain;
        }
    }
}
@media screen and (max-width: 800px) {
    .game-heads {
        &__content {
            flex-direction: column;
        }
        &__left {
            width: 100%;
            padding-top: 6px;
            margin-bottom: 20px;
        }
        &__item {
            width: 100%;
            margin-bottom: 30px;
            margin-right: 0;
        }
        &__btn {
            width: 160px;
        }
        &__bets-wrap {
            width: 100%;
            margin-bottom: 30px;
        }
        &__trn-wrap {
            padding-left: 15px;
            padding-right: 15px;
            & table {
                width: 100%;
            }
        }
        &__right {
            width: 100%;
            height: auto;
        }
    }
    .heads-bet {
        &__list {
            width: 620px;
        }
        &__head {
            padding-right: 10px;
        }
        &__row {
            padding-right: 10px;
        }
    }
}

@media screen and (max-width: 600px) {
    .game-heads {
        &__wrap {
            padding-left: 10px;
            padding-right: 10px;
        }

        &__trn-wrap {
            padding-left: 0;
            padding-right: 0;
        }

        &__text {
            padding-left: 6px;
            padding-right: 6px;
            text-align: center;
        }
        &__logo {
            width: 320px;
            margin: auto;
            min-height: 190px;
        }
        &__btn {
            width: 100px;
            height: 134px;
            margin-right: 10px !important;
            margin-bottom: 15px !important;
        }
        &__amount {
            font-size: 20px;
            &--custom {
                font-size: 12px;
            }
        }
        &__coin {
            height: 52px;
            width: 100%;
            &--25 {
                height: 45px;
            }
            &--50 {
                background-position: 8px 0;
            }

            &--custom {
                background-position: 24px 0px;
            }
        }
        &__input-amount {
            width: 100px !important;
            margin: 0 !important;
        }
        &__modal {
            top: 150px;
        }
    }

    .heads-bet {
        &__title {
            padding-left: 0;
            text-align: center;
        }
    }
}

@media screen and (max-width: 536px) {
    .heads-bet {
        &__list {
            width: 100%;
        }
        &__column {
            width: 33%;
            &--time {
                display: none;
            }
            & .blockchain__link {
                width: 90%;
            }
        }
        &__reply {
            padding: 6px 9px;
        }
    }
}

@media screen and (max-width: 480px) {
    .game-heads {
        &__wrap {
            padding-left: 0;
            padding-right: 0;
        }
    }
}
