.gamezone {
    &__wrap {
        padding-top: 60px;
        padding-bottom: 50px;
        font-family: CoreSansE-Regular;
    }
    &__center-layout {
        width: 818px;
        margin: 0 auto;
        margin-left: 80px;
        margin-right: 80px;
    }
    &__header-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__header {
        width: auto;
        height: 150px;
    }
    &__title {
        margin-top: 0 !important;
        margin-bottom: 50px !important;
        font-size: 30px !important;
        color: #ffffff !important;
        text-align: center;
        line-height: 1.3;
    }
    &__games-wrap {
        display: flex;
        flex-direction: row !important;
    }
}
.gamezone-matrix {
    width: 390px;
    height: 435px;
    margin-right: 39px;
    padding-top: 165px;
    padding-left: 88px;
    padding-right: 88px;
    padding-bottom: 42px;
    border-radius: 20px;
    background-color: #1e1e1e;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: auto;
    background-image: url(/asset-symbols/gamezone/matrix.png);
    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 220px;
        margin: auto;
        justify-content: center;
    }
    &__intro {
        display: block;
        margin-bottom: 130px;
        font-family: CoreSansE-65Bold;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        text-transform: uppercase;
    }
}
.game-item {
    position: relative;
    display: flex;
    overflow: hidden;
    &:nth-child(2n) {
        margin-right: 0;
    }
    &__label {
        display: inline-block;
        position: absolute;
        top: 14px;
        right: -52px;
        color: #ffffff;
        width: 216px;
        padding: 10px;
        background-color: #ed4300;
        text-transform: uppercase;
        box-shadow: 0px 4px 19px 0 #000;
        transform: rotate(39deg);
        z-index: 100;
        text-align: center;
        font-weight: 700;
        font-size: 24px;
        text-shadow: 1px 1px 2px #292929;
    }
    &__content {
        width: 390px;
        margin-bottom: 34px;
        padding: 20px 25px;
        padding-bottom: 0;
        border-radius: 20px;
        background-color: #1e1e1e;
        background-repeat: no-repeat;
        background-position: right bottom;
        &--inactive {
            opacity: 0.5;
            .game-item__btn {
                cursor: default;
            }
        }
        &--heads {
            background-image: url(/asset-symbols/gamezone/heads.png);
        }
        &--dices {
            background-image: url(/asset-symbols/gamezone/dice.png);
        }
        &--lottery {
            background-image: url(/asset-symbols/gamezone/lottery.png);
        }
        &--auction {
            background-image: url(/asset-symbols/gamezone/auction.png);
        }
    }
    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__title {
        font-family: CoreSansE-55Medium;
        margin-bottom: 40px;
        font-size: 30px;
        color: #ffffff;
    }
    &__img {
        display: block;
        width: 200px;
        height: auto;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    &__btn {
        display: block;
        width: 190px;
        text-align: center;
        background-image: linear-gradient(to bottom, #f2cb96, #e6ba7d);
        padding: 11px 25px 11px 25px;
        border-radius: 40px;
        &:hover {
            text-decoration: none;
        }
        &:active {
            text-decoration: none;
        }
        &--matrix {
            width: 212px;
            padding-top: 18px;
            padding-bottom: 19px;
        }
    }
    &__btn-text {
        color: #1e1e1e !important;
        font-size: 20px !important;
    }
}

@media screen and (max-width: 1080px) {
    .gamezone {
        &__center-layout {
            margin-left: 65px;
            margin-right: 65px;
        }
    }
}
@media screen and (max-width: 800px) {
    .gamezone {
        &__wrap {
            padding-top: 40px;
            padding-bottom: 20px;
        }
        &__center-layout {
            width: 600px;
            margin-left: 40px;
            margin-right: 40px;
            box-sizing: border-box;
        }
        &__header {
            width: auto;
            height: auto;
        }
        &__title {
            margin-bottom: 30px !important;
            font-size: 20px !important;
        }
        &__matrix {
            width: 280px;
            height: 158px;
        }
        &__games-wrap {
            flex-direction: column !important;
        }
    }
    .game-item {
        margin-right: 0;

        &__content {
            width: 100%;
        }
        &__list {
            display: block;
        }
    }
    .gamezone-matrix {
        width: 100%;
        margin-right: 0;
        margin-bottom: 35px;
        padding-left: 0;
        padding-right: 0;
    }
}
@media screen and (max-width: 600px) {
    .gamezone {
        &__center-layout {
            width: 320px;
            margin: 0 auto;
        }
    }
    .game-item {
        &__content {
            width: 100%;
        }
    }
}

@media screen and (max-width: 320px) {
    .gamezone {
        &__center-layout {
            width: 275px;
        }
    }
}
