.game-scoop {
    font-family: CoreSansE-Regular;
    &__wrap {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 40px;
        padding-right: 40px;
    }
    &__header-logo {
        max-width: 750px;
        margin-top: -25px;
        margin-bottom: 20px;
    }
    &__content {
        margin-top: -40px;
    }
}
.scoop-contacts {
    display: none;
    position: absolute;
    width: 100%;
    background-color: #242424;
    z-index: 20;
    box-shadow: 0 20px 40px 0 #000;
    &--active {
        display: block;
    }
    &__inner {
        padding: 25px 20px;
    }
    &__title {
        font-size: 20px;
        line-height: 2.4;
        text-align: left;
        color: #ffffff;
    }
    &__text {
        margin-bottom: 20px;
        color: #9f9f9f;
    }
    &__memo {
        border: none !important;
        border-radius: 20px;
        box-shadow: inset 0px 9px 18px 0 rgba(0, 0, 0, 0.14);
        background-color: #1e1e1e;
        color: #ffffff;
    }
}

.add-lot {
    padding-top: 15px;
    &__wrap {
        width: 600px;
        padding: 30px;
        border-radius: 10px;
        background-color: #212121;
    }
    &__field-wrap {
        margin-bottom: 20px;
    }
    &__subtitle {
        display: inline-block;
        font-size: 16px;
        line-height: 1.3;
        color: #9f9f9f;
        margin-bottom: 13px;
        text-transform: none !important;
        &--text {
            font-family: CoreSansE-Light !important;
        }
    }
    &__img-preview {
        width: 200px;
        height: 150px;
        border-radius: 10px;
        overflow: hidden;
        & img {
            width: inherit;
        }
    }
    & .add-lot__field {
        margin: 0 !important;
        border: none !important;
        border-radius: 20px !important;
        box-shadow: inset 0px 9px 18px 0 rgba(0, 0, 0, 0.14);
        background-color: #1e1e1e;
        color: #ffffff;
        margin-bottom: 430px;
    }
    .scoop-list__buy-btn {
        margin: 0 auto;
    }
}

.scoop-list {
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 1300px;
    padding: 0;
    margin: 0;
    padding-top: 17px;
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 390px;
        margin-bottom: 50px;
        margin-right: 30px;
        padding-bottom: 30px;
        border-radius: 10px;
        background-color: #212121;
        overflow: hidden;
        &--win {
            position: relative;
            width: 300px;
            padding-bottom: 20px;
            overflow: visible;
        }
    }
    &__img {
        display: flex;
        position: relative;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        height: 300px;
        overflow: hidden;
        z-index: 10;
        &--win {
            height: 200px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            overflow: hidden;
        }
        & img {
            width: auto;
            height: inherit;
        }
    }
    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px;
        padding-bottom: 10px;
        font-family: CoreSansE-Light;
    }
    &__subtitle {
        position: absolute;
        font-family: "CoreSansE-55Medium", arial, sans-serif;
        font-size: 16px;
        z-index: 13;
        display: inline-block;
        top: 0;
        left: 0;
        padding: 10px 12px;
        background-color: #101010;
        border-bottom-right-radius: 12px;
        box-shadow: 0 -3px 40px 0 #000;
        color: #ffffff;
    }
    &__description {
        color: #9f9f9f;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 1.5;
    }
    &__text {
        font-family: CoreSansE-Light;
        font-size: 16px;
        color: #ffffff;
        &:first-child {
            padding-right: 10px;
        }
        &--user {
            text-decoration: underline;
            color: #e1c697;
        }
        &--info {
            font-family: "CoreSansE-65Bold", arial, sans-serif;
        }
    }
    &__buy-btn {
        display: block;
        width: 250px;
        margin-top: 20px;
        font-size: 22px;
        padding: 8px;
        border-radius: 28px;
        text-align: center;
        border: 2px solid #f2cb96;
        background-color: #1f1f1f;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.5;
        color: #f2cb96;
        cursor: pointer;
        box-sizing: border-box;
        &--contacts {
            width: 100% !important;
            color: #f2cb96 !important;
            margin-bottom: 20px !important;
        }
        &--confirm {
            width: 100% !important;
            color: #ffffff !important;
            background-image: none;
            border: solid 2px #414141;
            background-color: #262626 !important;
        }
        &--cancel {
            width: 100% !important;
            margin-top: 0;
            background-image: none;
            background-color: transparent !important;
            border: solid 2px #414141;
            background-color: #262626;
            color: #ffffff;
        }
        &:disabled {
            opacity: 0.4;
        }
    }
    &__btn-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding: 20px;
        padding-bottom: 0;
        width: 100%;
    }
}

// ADAPTIVE

@media screen and (max-width: 1080px) {
    .scoop-list {
        &__item {
            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }
}

@media (max-width: 992px) {
    .game-scoop {
        &__header-logo {
            max-width: 600px;
        }
    }
}

@media screen and (max-width: 800px) {
    .scoop-list {
        align-items: flex-start;
        justify-content: center;
        &__item {
            margin-right: 0;
            &:nth-child(3n) {
                margin-right: 0;
            }
        }
    }
}
@media screen and (max-width: 600px) {
    .game-scoop {
        &__wrap {
            padding-left: 0;
            padding-right: 0;
        }
        &__header-logo {
            width: 100%;
        }
        &__content {
            margin-top: -7px;
        }
    }
    .scoop-list {
        padding-top: 10px;
        &__item {
            margin-bottom: 30px;
        }
        &__img {
            height: 237px;
        }
        &__inner {
            padding: 18px;
        }
        &__description {
            font-size: 16px;
        }
    }
    .add-lot {
        &__wrap {
            width: 100%;
            padding: 30px 20px;
        }
        &__img-preview {
            margin: auto;
        }
    }
}
