<!doctype html>
<html>

<head>
    {{#if INCLUDE_BASE}}
    <base href="/">
    {{/if}}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#262626"/>
    <title>{{title}}</title>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' blob:; worker-src 'self' blob:; script-src https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/ 'self' 'unsafe-eval' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; connect-src 'self' *; font-src 'self' data: https://at.alicdn.com; img-src * 'self' data:;">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#262626"/>
    <!-- Search Engine -->
    <meta name="description" content="Blockchain international IT Project Crowdwiz">
    <meta name="image" content="https://crowdwiz.biz/static/sharer.jpg">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="Crowdwiz">
    <meta itemprop="description" content="Blockchain international IT Project Crowdwiz">
    <meta itemprop="image" content="https://crowdwiz.biz/static/sharer.jpg">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="Crowdwiz">
    <meta name="og:description" content="Blockchain international IT Project Crowdwiz">
    <meta name="og:image" content="https://crowdwiz.biz/static/sharer.jpg">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="620">
    <meta name="og:url" content="https://crowdwiz.biz">
    <meta name="og:site_name" content="Crowdwiz">
    <meta name="og:locale" content="ru_RU">
    <meta name="fb:admins" content="100005828804834">
    <meta name="og:type" content="website">


    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="/asset-symbols/app-icons/apple-touch-icon.png">
    <style>
        body {
            background-color: #262626;
        }

                
        .centerDiv {
            width: 200px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -30px;
            margin-left: -100px;
            margin: o auto;
            text-align: center;
            color: #e9bf84;
            font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
            Helvetica, Arial, "Lucida Grande", sans-serif;
            font-weight: 100;
            font-size: 44px;
            z-index: 100
        }
    </style>
    {{#if ELECTRON}}
    <script>
        var ref = encodeURIComponent(document.referrer);
        if (window.process && window.process.versions && window.process.versions['electron']) {
            window.electron = window.process.versions['electron'];
            window.remote = require('electron').remote;
            window._$guid$_ = window.remote.getGlobal('guid');
            window.app_version = window.remote.getGlobal('version');
            ref = 'lw-' + window.process.platform + '-' + window.app_version + '-' + window.remote.getGlobal('guid');
            window.onload = function (e) {
                var content = document.getElementById("content");
                if (content) content.className = "electron " + window.process.platform;
            }
        }
    </script>
    {{/if}}
</head>

<body>
    <main id="content">
        <h1 class="centerDiv" style="">CrowdWiz</h1>
    </main>
    <script>
        function ieVersion(uaString) {
            uaString = uaString || navigator.userAgent;
            var match = /\b(MSIE |Trident.*?rv:|Edge\/)(\d+)/.exec(uaString);
            if (match) return parseInt(match[2])
        }
        function createLinkTag() {
            var link = document.createElement("link");
            link.href = "outdated_browser.css";
            link.type = "text/css";
            link.rel = "stylesheet";
            document.getElementsByTagName("head")[0].appendChild(link);
        }
        function renderOutdatedWarning() {
            createLinkTag();
            var container = document.createElement("div");
            var header = document.createElement("div");
            var body = document.createElement("div");
            var footer = document.createElement("div");
            var linkWrapper = document.createElement("div");
            var link = document.createElement("a");
            var closeLink = document.createElement("span");
            var btn = document.createElement("button");

            var headerText = document.createTextNode("Unsupported browser");
            var bodyText = document.createTextNode("The Browser you are using has not been fully tested to support the CrowdWiz Wallet. We highly recommend that you backup your local wallet and import it using the Chrome Browser.");
            var linkText = document.createTextNode("Google Chrome");
            var closeLinkText = document.createTextNode("×");
            var btnText = document.createTextNode("I UNDERSTAND");

            linkWrapper.classList.add("outdated-browser__link-wrapper");
            link.appendChild(linkText);
            link.setAttribute("href", "https://www.google.com/chrome/browser/desktop/");
            link.setAttribute("target", "_blank");
            linkWrapper.appendChild(link);

            closeLink.classList.add("outdated-browser__close");
            closeLink.appendChild(closeLinkText);


            container.classList.add("outdated-browser");
            header.appendChild(headerText);
            header.appendChild(closeLink);
            header.classList.add("outdated-browser__header");

            body.appendChild(bodyText);
            body.classList.add("outdated-browser__body");
            body.appendChild(linkWrapper);


            btn.classList.add("outdated-browser__btn");
            btn.appendChild(btnText);

            footer.classList.add("outdated-browser__footer");
            footer.appendChild(btn);


            container.appendChild(header);
            container.appendChild(body);
            container.appendChild(footer);

            document.getElementById("content").appendChild(container);
        }

        if (ieVersion()) {
            renderOutdatedWarning();
            document.getElementById("content").removeChild(document.querySelector(".centerDiv"));

            var closeBtn = document.querySelector(".outdated-browser__close");
            var okBtn = document.querySelector(".outdated-browser__btn");
            var container = document.querySelector(".outdated-browser");
            closeBtn.addEventListener("click", function () {
                container.classList.add("hidden");
            });

            okBtn.addEventListener("click", function () {
                container.classList.add("hidden");
            });
        }
    </script>
    <script type="text/javascript" src='/notification.js'></script>
</body>

</html>