.matrix-room {
    &__level-list {
        margin: 0;
    }
    &__level {
        display: block;
        margin-bottom: 15px;
        padding: 30px;
        background-color: #1e1e1e;
        border-radius: 20px;
        &--active {
            background-color: #131313;
        }
    }
    &__level-content {
        display: grid;
        grid-template-columns: 120px 510px 203px;
        align-items: center;
        justify-content: space-between;
    }
    &__level-inner {
        display: flex;
        align-items: center;
        z-index: 20;
    }
    &__level-num {
        display: flex;
        align-items: center;
    }
    &__level-num {
        font-family: "CoreSansE-55Medium", arial, sans-serif;
        font-size: 66px;
        line-height: 1;
        color: #f2cb96;
    }
    &__level-text {
        writing-mode: tb-rl;
        transform: rotate(180deg);
        font-size: 12px;
        text-transform: uppercase;
        color: #626262;
    }
    &__desktop-inner {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        &:after {
            position: absolute;
            content: "";
            top: 50%;
            left: 0;
            right: 0;
            display: block;
            width: 80%;
            height: 1px;
            background-color: #131313;
            z-index: 10;
        }
        &--active {
            &:after {
                background-color: #000000;
            }
        }
    }
    &__cell {
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 59px;
        height: 59px;
        margin-right: 40px;
        border-radius: 50%;
        background-color: #1e1e1e;
        border: 1px solid #131313;
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: -41px;
            display: block;
            width: 40px;
            height: 1px;
            background-color: #131313;
            z-index: 10;
        }
        &:last-child {
            margin-right: 0;
            &:after {
                display: none;
            }
        }
        & img {
            width: auto;
            max-height: 30px;
        }
        &--active {
            background-color: #131313;
            border: 1px solid #f2cb96;
            &::after {
                background-color: #f2cb96;
            }
            & .matrix-room__cell-img {
                width: 50px;
                max-height: 50px;
            }
        }
    }
    &__prize-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 140px;
        padding: 5px;
        padding-right: 17px;
        border: 1px solid #131313;
        background-color: #1e1e1e;
        border-radius: 30px;
        z-index: 20;
        &--active {
            border: 1px solid #000000;
            background-color: #131313;
            & .matrix-room__prize-img {
                background-color: #000000;
            }
        }
    }
    &__prize-img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
        background-color: #131313;
        & svg * {
            fill: none !important;
        }
        .matrix-room__prize-inactive {
            & * {
                stroke: #2e2e2e;
            }
        }
    }
    &__prize {
        display: inline-block;
        line-height: 1;
        font-family: "CoreSansE-55Medium", arial, sans-serif;
        font-size: 27px;
        color: #f2cb96;
        &--inactive {
            color: #2e2e2e;
        }
    }
    &__prize-cwd {
        & svg * {
            fill: #f2cb96 !important;
        }
        &--inactive {
            & svg * {
                fill: #2e2e2e !important;
            }
        }
    }
    &__btn-block {
        display: flex;
        justify-content: center;
    }
    &__btn {
        width: 203px;
        padding: 15px 13px;
        background: linear-gradient(to bottom, #f2cb96, #e6ba7d);
        border-radius: 50px;
        box-sizing: border-box;
        outline: none;

        &:hover {
            background: linear-gradient(to bottom, #ffddaf, #ffd08e);
        }
        &:active {
            background: linear-gradient(to bottom, #cfa05f, #9b7239);
            box-shadow: inset 0 2px 3px 3px #9b7239;
        }
    }
    &__btn-text {
        color: #222222;
        &--price {
            font-family: "CoreSansE-65Bold", arial, sans-serif;
        }
    }
    &__disabled-text {
        display: inline-block;
        width: 165px;
        font-size: 14px;
        line-height: 1.3;
        text-align: center;
    }
    &__opened {
        text-align: center;
        & span {
            font-size: 14px;
            color: #626262;
        }
        & span.matrix-room__opened-id {
            font-family: "CoreSansE-65Bold", arial, sans-serif;
            color: #ffffff;
        }
    }
}

@media screen and (max-width: 1080px) {
    .matrix-room {
        &__list {
            display: flex;
            flex-wrap: wrap;
        }
        &__level-content {
            grid-template-columns: 120px 410px 203px;
        }
        &__prize-inner {
            margin-left: 72px;
        }
    }
}

@media screen and (max-width: 768px) {
    .matrix-room {
        &__level-list {
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        &__level {
            width: 310px;
        }
        &__level-content {
            display: block;
        }
        &__mobile-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 30px;
        }
        &__prize-inner {
            margin-left: 0;
        }
        &__level-inner {
            width: 100%;
            justify-content: center;
            margin-bottom: 30px;
        }
        &__opened {
            padding-top: 21px;
        }
        &__btn {
            width: 100%;
        }
    }
}

@media screen and (max-width: 567px) {
    .matrix-room {
        &__level {
            width: 100%;
        }
    }
}
