.matrix-header {
    height: 384px;
    margin-bottom: 30px;
    padding-top: 80px;
    background: url(/asset-symbols/matrix/matrix_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-size: contain;
    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    &__intro {
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 25px;
        padding-right: 25px;
        background-image: url(/asset-symbols/matrix/intro_bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
        background-size: cover;
        font-family: CoreSansE-65Bold, arial, sans-serif;
        text-transform: uppercase;
    }
    &__text-wrap {
        margin-bottom: 6px;
        padding: 14px 20px 13px;
        background-color: #262626;
        border-top-left-radius: 14px;
        border-top-right-radius: 14px;
        text-align: center;
        & span {
            font-size: 14px;
            color: #ffffff;
            &:first-child {
                padding-right: 5px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .matrix-header {
        background-size: cover;
    }
}

@media screen and (max-width: 567px) {
    .matrix-header {
        height: 272px;
        margin-bottom: 30px;
        padding-top: 43px;
        background-image: url(/asset-symbols/matrix/matrix_bg--mobile.png);
        background-size: 114%;
        &__text-wrap {
            margin-bottom: 0;
        }
    }
}
