.matrix-body {
    margin-bottom: 15px;
    border-radius: 100px;
    background-color: #1e1e1e;
    &__inner {
        display: grid;
        grid-template-columns: 48% 26% 26%;
        align-items: center;
    }
    &__progress-wrap {
        padding: 8px;
        padding-right: 27px;
    }
    .react-sweet-progress-line {
        background-color: #131313 !important;
        border-radius: 0;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
        overflow: hidden;
    }
    .react-sweet-progress-line-inner {
        height: 44px;
        border-radius: 0;
    }
    .react-sweet-progress-symbol {
        display: none;
    }
    &__blocks {
        height: 100%;
        display: flex;
        align-items: center;
        padding-right: 17px;
        justify-content: flex-start;
        border-right: 1px solid #262626;
    }
    &__blocks-text {
        font-size: 14px;
    }
    &__start-block-wrap {
        padding-right: 7px;
        font-family: "CoreSansE-55Medium", arial, sans-serif;
        color: #f2cb96;
    }
    &__total-blocks-wrap {
        display: grid;
        grid-template-columns: 33% 60%;
        align-items: center;
        padding-left: 17px;
    }
    &__total-blocks-text {
        font-size: 12px;
    }
    &__total-blocks-num {
        font-family: "CoreSansE-55Medium", arial, sans-serif;
        font-size: 27px;
        color: #f2cb96;
    }
}

@media screen and (max-width: 768px) {
    .matrix-body {
        padding: 8px 14px;
        border-radius: 30px;
        &__inner {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
        &__progress-wrap {
            width: 100%;
            margin-bottom: 10px;
            padding: 0;
            padding-right: 0;
        }
        &__blocks {
            width: 50%;
            padding-left: 8px;
            padding-right: 0;
            justify-content: flex-start;
        }
        &__total-blocks-wrap {
            width: 50%;
            padding-left: 20px;
        }
        .react-sweet-progress-line {
            border-top-left-radius: 40px;
            border-bottom-left-radius: 0;
            border-top-right-radius: 40px;
        }
        .react-sweet-progress-line-inner {
            height: 5px;
            min-height: auto;
        }
    }
}
@media screen and (max-width: 567px) {
    .matrix-body {
        padding: 0;
        border-radius: 20px;
        &__progress-wrap {
            padding: 8px;
            margin-bottom: 14px;
            padding-bottom: 0;
        }
        &__blocks {
            width: 100%;
            justify-content: center;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
            border-right: none;
            border-bottom: 1px solid #262626;
        }
        &__total-blocks-wrap {
            display: flex;
            justify-content: center;
            width: 100%;
            grid-template-columns: 40% 60%;
            padding-top: 20px;
            padding-right: 20px;
            padding-bottom: 20px;
        }
        &__total-blocks-text {
            padding-right: 7px;
        }
        .react-sweet-progress-line {
            border-top-left-radius: 100px;
            border-bottom-left-radius: 40px;
        }
    }
}
