.ref-info {
    display: grid;
    grid-template-columns: 165px max-content;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
    padding: 8px 30px;
    border-radius: 50px;
    background-color: #1e1e1e;
    &__text-block {
        padding-right: 18px;
        font-size: 12px;
        line-height: 1.2;
    }
    &__link-block {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 21px;
        padding-right: 2px;
        border-radius: 26px;
        background-color: #181818;
    }
    &__link-text {
        margin-right: 20px;
        color: #f2cb96;
        font-size: 14px;
    }
    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #f2cb96;
        cursor: pointer;
        & .icon {
            margin-top: -2px;
        }
    }
    &__btn-img {
        & svg * {
            fill: #181818 !important;
        }
    }
    &__msg {
        font-family: CoreSansE-Light;
        position: absolute;
        top: 2px;
        right: 1px;
        padding: 12px 15px;
        border-radius: 50px;
        background-color: #1e1e1e;
        transition: display 3s ease-in-out;
    }
    &__friends-block {
        display: flex;
        align-items: center;
    }
    &__friends-num {
        font-family: "CoreSansE-55Medium", arial, sans-serif;
        font-size: 27px;
        color: #f2cb96;
    }
}

@media screen and (max-width: 567px) {
    .ref-info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 15px;
        padding: 15px 20px;
        border-radius: 20px;
        &__text-block {
            display: block;
            margin-bottom: 13px;
            padding-right: 0;
            &--num {
                margin-bottom: 0;
                margin-right: 7px;
            }
        }
        &__link-block {
            width: 100%;
            margin-bottom: 18px;
            margin-right: 0;
            padding-left: 20px;
        }
        &__link-text {
            width: 225px;
        }
    }
}
