.explore-witness {
    padding: 20px;
    margin-bottom: 25px;
    background-color: #212121;
    border-radius: 10px;

    &__header {
        display: grid;
        gap: 17px;
        grid-template-columns: max-content max-content max-content max-content max-content max-content;
        justify-content: space-between;
    }
    &__head-column {
        text-align: center;
    }
    &__title {
        display: block;
        font-size: 14px;
        margin-bottom: 10px;
        font-family: CoreSansE-Light;
        color: #6d6d6d;
    }
    &__current-witness {
        color: #7bd500;
    }
}
#exploreWitnessWrap {
    a {
        color: #e1c697 !important;
    }
    .ant-table-thead {
        & th {
            & span {
                text-transform: none;
            }
        }
    }
}

@media screen and (max-width: 1080px) {
    .explore-witness {
        &__header {
            grid-template-columns: repeat(3, 1fr);
            gap: 22px;
        }
    }
}

@media screen and (max-width: 992px) {
    #exploreWitnessWrap {
        .ant-table-wrapper {
            overflow-x: scroll;
        }
    }
}

@media screen and (max-width: 576px) {
    .explore-witness {
        &__header {
            grid-template-columns: repeat(1, 1fr);
            gap: 14px;
        }
        &__head-column {
            text-align: left;
        }
        &__title {
            display: inline-block;
            margin-bottom: 7px;
            margin-right: 11px;
        }
    }
}
