.login-modal {
    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between !important;
        flex-direction: row !important;
        width: 100%;
        padding-top: 7px;
        padding-bottom: 35px;
    }
    &__footer-left {
        display: flex;
        align-items: center;
        .icon > svg * {
            fill: #6d6d6d;
        }
    }
    &__lock-icon {
        top: 5px !important;
        margin-left: 8px;
        cursor: pointer;
    }
    &__btn {
        min-width: 140px !important;
        height: 40px !important;
        border: none !important;
        border-radius: 20px !important;
        background-color: #f2cb96 !important;
        border: none;
        color: #2a2a2a !important;
    }
}

.ant-modal-wrap.unlock_wallet_modal2 {
    & .ant-modal-title {
        font-size: 18px;
    }
    & .ant-row {
        margin-bottom: 15px;
    }
    & .ant-form-explain {
        margin-top: 5px;
        padding-left: 10px;
    }
    & .ant-form-item-children {
        color: #efc791;
    }
    & .ant-modal-body {
        padding-bottom: 0 !important;
    }
    & .ant-modal-footer {
        padding: 0 24px 0 24px !important;
    }
    & .ant-col.ant-form-item-label {
        display: none;
    }
}

#unlockInputsWrap {
    & .ant-form-item-control-wrapper .has-error {
        border-bottom: none;
        & input {
            border: 1px solid #e6001f !important;
        }
    }
}

@media screen and (max-width: 576px) {
    .ant-modal-wrap.unlock_wallet_modal2 {
        & .ant-modal.cwd-modal {
            top: 0;
        }
    }
    .login-modal {
        &__footer-left {
            width: 160px;
            > div {
                display: flex;
            }
            & .remember {
                width: 60px;
                font-size: 12px;
                line-height: 1;
            }
        }
        &__lock-icon {
            top: 2px !important;
        }
        &__btn {
            min-width: 110px !important;
        }
    }
}
