@import "theme-template";

// variables

$light-text-color: #fff;
$dark-text-color: #8d5b0a;
$primary-text-color: #e0e0e0;
$secondary-text-color: darken($primary-text-color, 20%);
$inactive-text-color: darken($primary-text-color, 30%);
$link-text-color: #e1c697;
$error-text-color: #f04124;

$settings-select-bg: #1a1a1a;
$settings-select-color: darken($primary-text-color, 20%);
$settings-api-node-border-color: #262626;
$main-content-margin-block-bg-color: #1e1e1e;
$bg-color: #262626;
$panel-bg-color: #1a1a1a;
//$light-panel-bg-color: #6a6a6a;
$light-panel-bg-color: #ffffff;
$super-light-panel-bg-color: lighten($light-panel-bg-color, 8%);
$settings-menu-hover-bg: darken($light-panel-bg-color, 20%);
$settings-menu-active-bg: darken($light-panel-bg-color, 20%);
$button-bg-color: #b59567;
$secondary-button-bg-color: #999999;
$input-background: lighten($bg-color, 7%);

$label-text-color: #fafcf8;
$alert-color: $error-text-color;
$info-color: #6d6d6d;
$success-color: #7bd500;
$warning-color: #fcab53;
$error-color: #f04124;
$fee-color: $secondary-text-color;

// Exchange colors
$bid-color: #6ba583;
$ask-color: #e3745b;
$call-color: #bbbf2b;
$positive-color: #258a14;
$negative-color: #f04124;
$row-accent-color: #3c3c3c;
$header-color: #484848;

// Account table view colors
$account-header: #2a2a2a;
$page-layout: #1a1a1a;
// $account-cells: #4b5158;
$account-cells: #1a1a1a;
$account-green: #7ed321;
//$account-primarytext: white;
$account-primarytext: #b8b8b8;
//$account-dimmed: #7cfc00;
$account-dimmed: #ffffff;
$account-border: #323131;
$account-background: #1a1a1a;
$account-tabs-background: #2f2f2f;

$pulsate-green-start: $account-green;
$pulsate-green-end: #aaf25c;
$pulsate-red-start: $negative-color;
$pulsate-red-end: #ef4040;

$modal-bg-color: #4b5158;

$mobile-input-bg: #2d2d2d;

$slider-thumb-color: #f00;

$incognito-bg: #f04124;

$tab-content-background-color: lighten($account-header, 4%);
$explorer-tab-content-background-color: $bg-color;

// * * * Explorer

// * * * * * Witnesses

$explorer--witnesses--info-bg: transparent;
$explorer--witnesses--info-border: darken($account-header, 6%);
$explorer--witnesses--info-table-title-color: $account-dimmed;
$explorer--witnesses--info-table-text-color: #fff;

// * * * * * Assets

$explorer--assets--bg: $bg-color;

$positive-color-alternative: #22d173;
$negative-color-alternative: #ff276d;
$medium-color: #ff9900;
$dark-help-text: #171a25;
$separator-line: rgba(23, 26, 37, 0.3);

// * * *

.defaultTheme {
    @include theme(
        $explorer-tab-content-background-color,
        $tab-content-background-color,
        $primary-text-color,
        $bg-color,
        $dark-text-color,
        $inactive-text-color,
        $link-text-color,
        $light-text-color,
        $secondary-text-color,
        $success-color,
        $info-color,
        $warning-color,
        $error-color,
        $alert-color,
        $super-light-panel-bg-color,
        $panel-bg-color,
        $button-bg-color,
        $secondary-button-bg-color,
        $fee-color,
        $bid-color,
        $ask-color,
        $call-color,
        $light-panel-bg-color,
        $positive-color,
        $negative-color,
        $row-accent-color,
        $header-color,
        $input-background,
        $account-header,
        $account-cells,
        $account-green,
        $account-primarytext,
        $account-dimmed,
        $account-border,
        $account-background,
        $account-tabs-background,
        $pulsate-green-start,
        $pulsate-green-end,
        $pulsate-red-start,
        $pulsate-red-end,
        $settings-select-bg,
        $settings-select-color,
        $settings-menu-hover-bg,
        $settings-menu-active-bg,
        $settings-api-node-border-color,
        $main-content-margin-block-bg-color,
        $modal-bg-color,
        $mobile-input-bg,
        $incognito-bg,
        $explorer--witnesses--info-bg,
        $explorer--witnesses--info-border,
        $explorer--witnesses--info-table-title-color,
        $explorer--witnesses--info-table-text-color,
        $explorer--assets--bg,
        $negative-color-alternative,
        $positive-color-alternative,
        $separator-line,
        $medium-color,
        $dark-help-text
    );
}
